<div class="step-iliustration">

    <div class="step-iliustration__number-wrapper">
        <span class="step-iliustration__number-wrapper--text step-iliustration__number-wrapper--text-{{theme}} ">{{image}}</span>
    </div>

    {{#eq image "1"}}
        {{#eq theme "developers"}}  
            {{> step1.html styles='apply-picture apply-picture--developers'}}
        {{/eq}}
        {{#eq theme "frontend"}}  
            {{> step1.html styles='apply-picture apply-picture--frontend'}}
        {{/eq}}
        {{#eq theme "testers"}}  
            {{> step1.html styles='apply-picture apply-picture--testers'}}
        {{/eq}}
    {{/eq}}

    {{#eq image "2"}}
        {{#eq theme "developers"}}  
            {{> step2.html styles='pass-picture pass-picture--developers'}}
        {{/eq}}
        {{#eq theme "frontend"}}  
            {{> step2.html styles='pass-picture pass-picture--frontend'}}
        {{/eq}}
        {{#eq theme "testers"}}  
            {{> step2.html styles='pass-picture pass-picture--testers'}}
        {{/eq}}
    {{/eq}}

    {{#eq image "3"}}
        {{#eq theme "developers"}}  
            {{> step3.html styles='learn-picture learn-picture--developers'}}
        {{/eq}}
        {{#eq theme "frontend"}}  
            {{> step3.html styles='learn-picture learn-picture--frontend'}}
        {{/eq}}
        {{#eq theme "testers"}}  
            {{> step3.html styles='learn-picture learn-picture--testers'}}
        {{/eq}}
    {{/eq}}

    {{#eq image "4"}}
        {{#eq theme "developers"}}  
            {{> step4.html styles='join-picture join-picture--developers'}}
        {{/eq}}
        {{#eq theme "frontend"}}  
            {{> step4.html styles='join-picture join-picture--frontend'}}
        {{/eq}}
        {{#eq theme "testers"}}  
            {{> step4.html styles='join-picture join-picture--testers'}}
        {{/eq}}
    {{/eq}}

    <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 50 50"
        class="step-iliustration__background">
        <g data-name="Icon feather-arrow-down-circle"
            transform="translate(1 1)">
            <path d="M51 27A24 24 0 1 1 27 3a24 24 0 0 1 24 24z"
                class="step-iliustration__background--theme-{{theme}}" data-name="Path 862"
                transform="translate(-3 -3)" />
        </g>
    </svg>

</div>