<svg xmlns="http://www.w3.org/2000/svg" width="177.184" height="162.92" viewBox="0 0 177.184 162.92"  class="{{styles}}">
   
    <g data-name="Group 833" transform="translate(-6.683 -.006)">
        <path d="M247.188 340.927c-7.186-2.326-14.784-4.275-22.549-4.075-11.416.3-22.392 5.616-27.805 13.479-4.576 6.663-5.187 14.494-7.184 21.9-2.461 9.128-7.132 17.79-12.118 26.262-2.678 4.55-5.5 9.2-5.969 14.2-.639 6.941 3.567 13.881 10.2 18.532s15.455 7.13 24.32 7.709c4.717.306 9.647.07 13.847-1.629 4.443-1.791 7.691-5.067 12.152-6.838 4.134-1.639 8.953-1.85 13.59-1.61a75.614 75.614 0 0 1 17.719 3.036c6.464 1.934 12.47 4.717 18.92 6.679s13.66 3.072 20.269 1.494c6.205-1.48 11.127-5.129 15.566-8.825a169.245 169.245 0 0 0 19.885-19.5c4.009-4.653 7.743-9.568 9.534-15 3.42-10.4-1.162-22.169-11.414-29.329-8.493-5.935-19.919-8.555-31.108-10.146-10.2-1.466-22.01-1.612-31.389-5.346-8.946-3.576-17.083-7.957-26.466-10.993z" class="learn-picture--background" data-name="Path 1404" transform="translate(-164.816 -277.888)"/>
        <ellipse cx="4.598" cy=".631" class="learn-picture--shadows" data-name="Ellipse 236" rx="4.598" ry=".631" transform="translate(151.762 98.995)"/>
        <ellipse cx="4.598" cy=".631" class="learn-picture--shadows" data-name="Ellipse 237" rx="4.598" ry=".631" transform="translate(131.015 96.578)"/>
        <ellipse cx="3.269" cy=".45" class="learn-picture--shadows" data-name="Ellipse 238" rx="3.269" ry=".45" transform="translate(160.14 104.261)"/>
        <path d="M844.506 400s6.45-21.141-1.009-29.608c-5.571-6.335-11.913-5.571-14.748-4.793a5.237 5.237 0 0 0-3.382 2.811c-.995 2.139-.812 5.61 6.187 9.663 11.72 6.786 12.45 16.1 12.45 16.1z" class="learn-picture--leaf" data-name="Path 1405" transform="translate(-688.246 -300.521)"/>
        <path d="M849.2 382.73s19.012 5.945 14.748 31.4" class="learn-picture--stems" data-name="Path 1406" transform="translate(-707.688 -314.65)"/>
        <path d="M897.139 393.44s-2.618 1.765-1.791 4.415" class="learn-picture--stems" data-name="Path 1407" transform="translate(-744.526 -323.229)"/>
        <path d="M858.79 397.3a3.3 3.3 0 0 1 3.547-.73" class="learn-picture--stems" data-name="Path 1408" transform="translate(-715.37 -325.523)"/>
        <path d="M896.56 440.312s2.809-1.424 3.535.36" class="learn-picture--stems" data-name="Path 1409" transform="translate(-745.626 -360.344)"/>
        <path d="M922.859 457.378s-2.111-.167-2.149.842" class="learn-picture--stems" data-name="Path 1410" transform="translate(-764.971 -374.439)"/>
        <path d="M878.759 480.887s-7.56-15.365-9.627-15.029c-.995.159-1.44 1.13-1.645 2.1a6.184 6.184 0 0 0 .412 3.74 16.574 16.574 0 0 0 10.86 9.189z" class="learn-picture--darker-leafs" data-name="Path 1411" transform="translate(-722.238 -381.235)"/>
        <path d="M876.53 480.54s7.928 11.5 9.46 12" class="learn-picture--stems" data-name="Path 1412" transform="translate(-729.581 -393)"/>
        <path d="M0 0h1.85" class="learn-picture--stems" data-name="Line 13" transform="translate(146.221 89.334)"/>
        <path d="M0 0l2.901.123" class="learn-picture--stems" data-name="Line 14" transform="translate(148.437 93.54)"/>
        <path d="M.314 0L0 1.51" class="learn-picture--stems" data-name="Line 15" transform="translate(149.888 90.176)"/>
        <path d="M.056 0L0 1.373" class="learn-picture--stems" data-name="Line 16" transform="translate(153.23 94.773)"/>
        <path d="M923.52 480.887s7.56-15.365 9.627-15.029c.995.159 1.44 1.13 1.645 2.1a6.184 6.184 0 0 1-.412 3.74 16.574 16.574 0 0 1-10.86 9.189z" class="learn-picture--darker-leafs" data-name="Path 1413" transform="translate(-767.222 -381.235)"/>
        <path d="M933.54 480.54s-7.928 11.5-9.46 12" class="learn-picture--stems" data-name="Path 1414" transform="translate(-767.671 -393)"/>
        <path d="M1.85 0H0" class="learn-picture--stems" data-name="Line 17" transform="translate(164.747 89.334)"/>
        <path d="M2.901 0L0 .123" class="learn-picture--stems" data-name="Line 18" transform="translate(161.481 93.54)"/>
        <path d="M0 0l.314 1.51" class="learn-picture--stems" data-name="Line 19" transform="translate(162.617 90.176)"/>
        <path d="M0 0l.058 1.373" class="learn-picture--stems" data-name="Line 20" transform="translate(159.531 94.773)"/>
        <path d="M952.975 551.093a1.321 1.321 0 0 1-.43-.649.579.579 0 0 1 .3-.663.845.845 0 0 1 .8.281 1.06 1.06 0 0 0 .772.372 1.178 1.178 0 0 1-.364-1.1.484.484 0 0 1 .1-.225c.153-.163.432-.092.615.036a2.3 2.3 0 0 1 .75 1.916 3.722 3.722 0 0 0 .01-.8.81.81 0 0 1 .3-.7.877.877 0 0 1 .452-.107.939.939 0 0 1 .734.209.733.733 0 0 1-.03.9 2.862 2.862 0 0 1-.758.6 1.668 1.668 0 0 0-.543.517.641.641 0 0 0-.04.092H954a4.532 4.532 0 0 1-1.025-.679z" class="learn-picture--plant-tops" data-name="Path 1417" transform="translate(-790.458 -447.852)"/>
        <path d="M812.481 496.58s-.617.806.284 2.021 1.641 2.244 1.343 3c0 0-1.359-2.258-2.465-2.29s-.38-1.372.838-2.731z" class="learn-picture--plant-tops" data-name="Path 1418" transform="translate(-677.166 -405.849)"/>
        <path d="M812.481 496.58a.972.972 0 0 0-.127.253c-1.078 1.267-1.653 2.451-.617 2.481.967.028 2.127 1.755 2.4 2.188a.307.307 0 0 1-.032.1s-1.359-2.258-2.465-2.29-.377-1.373.841-2.732z" class="learn-picture--people-shadows" data-name="Path 1419" transform="translate(-677.166 -405.849)"/>
        <path d="M812.29 501.01c0 .285.032.513.072.513s.07-.229.07-.513-.04-.149-.078-.149-.064-.134-.064.149z" class="learn-picture--pollen" data-name="Path 1420" transform="translate(-678.121 -409.252)"/>
        <path d="M809.7 502.664c.249.137.468.219.485.185s-.167-.173-.416-.308-.151-.038-.171 0-.147-.013.102.123z" class="learn-picture--pollen" data-name="Path 1421" transform="translate(-675.925 -410.568)"/>
        <path d="M827.582 496.58s.617.806-.284 2.021-1.641 2.244-1.341 3c0 0 1.357-2.258 2.463-2.29s.38-1.372-.838-2.731z" class="learn-picture--plant-tops" data-name="Path 1422" transform="translate(-689.014 -405.849)"/>
        <path d="M827.719 496.58a.97.97 0 0 1 .127.253c1.078 1.267 1.653 2.451.617 2.481-.967.028-2.127 1.755-2.4 2.188a.829.829 0 0 0 .034.1s1.357-2.258 2.463-2.29.377-1.373-.841-2.732z" class="learn-picture--people-shadows" data-name="Path 1423" transform="translate(-689.152 -405.849)"/>
        <path d="M839.591 501.01c0 .285-.032.513-.072.513s-.07-.229-.07-.513.04-.149.078-.149.064-.134.064.149z" class="learn-picture--pollen" data-name="Path 1424" transform="translate(-699.878 -409.252)"/>
        <path d="M840.181 502.664c-.249.137-.468.219-.485.185s.167-.173.416-.308.151-.038.171 0 .146-.013-.102.123z" class="learn-picture--pollen" data-name="Path 1425" transform="translate(-700.073 -410.568)"/>
        <path d="M813.34 517.554a6.292 6.292 0 0 1-2.24-.422c-.519-.37-2.65-.812-2.785-.219s-2.586 2.948-.645 2.964a16.458 16.458 0 0 0 5.037-.619c.517-.315.633-1.704.633-1.704z" class="learn-picture--small-plant" data-name="Path 1426" transform="translate(-673.823 -421.905)"/>
        <path d="M807.637 523.409a16.456 16.456 0 0 0 5.037-.619c.4-.239.551-1.1.6-1.5h.056s-.107 1.393-.627 1.705a16.573 16.573 0 0 1-5.037.619c-.561 0-.754-.2-.744-.5.078.186.297.293.715.295z" class="learn-picture--plant-shadows" data-name="Path 1427" transform="translate(-673.818 -425.643)"/>
        <circle cx="4.303" cy="4.303" r="4.303" class="learn-picture--background" data-name="Ellipse 241" transform="translate(95.789 .95)"/>
        <circle cx="7.212" cy="7.212" r="7.212" class="learn-picture--background" data-name="Ellipse 244" transform="translate(6.914 79.904)"/>
        <circle cx="7.212" cy="7.212" r="7.212" class="learn-picture--background" data-name="Ellipse 245" transform="translate(141.985 48.491)"/>
        <path d="M562.721 384.535c-.255.024-.513.012-.766.052a3.488 3.488 0 0 0-1.194.479 9.216 9.216 0 0 0-4.269 4.389.6.6 0 0 0-.056.388.657.657 0 0 0 .211.275l.7.641a.994.994 0 0 0 .312.219 1.021 1.021 0 0 0 .577-.018c1.936-.444 3.993-.955 5.352-2.4.645-.686 1.239-1.631 2.188-1.657a10.053 10.053 0 0 1 1.162.2.849.849 0 0 0 .957-.5 1.058 1.058 0 0 0-.064-.563l-.585-1.948c-.159-.533-1.765-.561-2.3-.466-.811.133-1.36.829-2.225.909z" class="learn-picture--shoes " data-name="Path 1428" transform="translate(-473.161 -315.326)"/>
        <path d="M597.378 422.2a16.4 16.4 0 0 1-.084 2 5.84 5.84 0 0 1-.5 1.5 9.857 9.857 0 0 1-1.353 2.131 4.194 4.194 0 0 1-1.852 1.393 1.953 1.953 0 0 1-2.129-.563 2.82 2.82 0 0 1-.37-1.832 11.221 11.221 0 0 1 1.019-4.566c.3-.6.686-1.166.995-1.769.645-1.251 1.013-2.736 2.125-3.6a6.986 6.986 0 0 0 2.208.607c.3.032 1.144.052 1.243.432.068.257-.489.975-.6 1.228a8.378 8.378 0 0 0-.702 3.039z" class="learn-picture--shoes " data-name="Path 1429" transform="translate(-500.926 -342.022)"/>
        <path d="M580.51 259.036a6.825 6.825 0 0 1 .6 1.854c.04.4 0 .8 0 1.194a7.8 7.8 0 0 0 .271 1.611l1.108 4.536a5.812 5.812 0 0 1 .245 2.067 10.871 10.871 0 0 0-.223 1.373 5.322 5.322 0 0 0 .167 1.041 6.41 6.41 0 0 1-.167 3.163.472.472 0 0 0-.034.245c.028.129.153.209.267.271a11.361 11.361 0 0 0 3.84 1.279 37.62 37.62 0 0 0 2.527-9.022c.282-1.878.42-3.78.782-5.644a.462.462 0 0 1 .129-.287c.135-.113.34-.042.5.034a44.568 44.568 0 0 1 5.851 3.382 7.309 7.309 0 0 0 1.351-6.05 12.537 12.537 0 0 0-.995-2.6 14.7 14.7 0 0 0-1.691-2.839 12.949 12.949 0 0 0-5.869-3.834c-1.355-.489-2.75-.852-4.142-1.222-.78-.209-2.087-.889-2.845-.36a6.289 6.289 0 0 0-1.651 2.785 10.261 10.261 0 0 0-.649 3.36 9.492 9.492 0 0 0 .628 3.663z" class="learn-picture--suits" data-name="Path 1430" transform="translate(-491.944 -207.549)"/>
        <path d="M612.537 311.119c-.416.454-.066 1.178-.145 1.791a2.473 2.473 0 0 1-.292.786l-1.9 3.738a6.932 6.932 0 0 0-.708 1.791c-.261 1.349.275 2.865-.41 4.057a4.274 4.274 0 0 0-.655 1.148 9.169 9.169 0 0 0-.034.967 6.447 6.447 0 0 1-.358 1.076 7.494 7.494 0 0 0-.185 1.058 6.228 6.228 0 0 1-2.236 3.868 3.557 3.557 0 0 1-2.467.84 2.145 2.145 0 0 1-1.95-1.55 2.039 2.039 0 0 0-.235-.867c-.263-.344-.816-.358-1.068-.71l.979-1.612a3.808 3.808 0 0 0 .664-1.6c.06-.714-.284-1.426-.161-2.133.105-.607.541-1.112.672-1.713a5.163 5.163 0 0 0-.34-2.244 11.6 11.6 0 0 1 .535-5.571 26.236 26.236 0 0 1 2.6-7.015c2.595 1.395 4.983 2.738 7.694 3.895z" class="learn-picture--suits" data-name="Path 1431" transform="translate(-507.979 -254.163)"/>
        <path d="M602.276 130.247a3.246 3.246 0 0 1 .042 1.337c-.07.995.141 1.99.094 3a17.834 17.834 0 0 1-.573 2.952c-.611 2.8-.464 5.716-1.017 8.527-.682 3.482-2.427 6.725-2.771 10.258a7.131 7.131 0 0 1-.71 3.271 51.359 51.359 0 0 1-10.29-6.044 103.644 103.644 0 0 0 1.3-15.655 6.721 6.721 0 0 1 .129-1.893 5.813 5.813 0 0 1 .708-1.468c.77-1.251 1.617-2.453 2.463-3.653a3.769 3.769 0 0 1 4.817-1.962l3.394.621c.707.134 2.111-.113 2.414.709z" class="learn-picture--women-shirt" data-name="Path 1432" transform="translate(-497.693 -111.186)"/>
        <path d="M520.562 208.229a10.621 10.621 0 0 0-1.512-1.255c.706-.859.567-2.1.74-3.2a10.563 10.563 0 0 1 .643-2.083c.072-.189.173-.4.37-.448a.65.65 0 0 1 .354.056c.6.211 1.842.2 2.306.585.559.47.048 1.452-.163 2.039-.15.391-2.441 4.605-2.738 4.306z" class="learn-picture--man-skin" data-name="Path 1433" transform="translate(-443.222 -169.264)"/>
        <path d="M491.72 390.433a4.123 4.123 0 0 1 .575 1.592 1.58 1.58 0 0 1-.641 1.482 2.208 2.208 0 0 1-1.745.02 9.08 9.08 0 0 1-5.5-4.974 2.462 2.462 0 0 0-1.444-1.711 4.231 4.231 0 0 1-1.9-1.846 1.979 1.979 0 0 1 .551-2.413 2.033 2.033 0 0 1 1.56-.2 6.034 6.034 0 0 1 1.476.643 14.72 14.72 0 0 1 2.387 1.341 15.383 15.383 0 0 1 1.641 1.735 24.4 24.4 0 0 1 1.637 2.089c.165.209 1.54 2.049 1.403 2.242z" class="learn-picture--shoes " data-name="Path 1434" transform="translate(-412.647 -314.313)"/>
        <path d="M440.027 378.99a13.777 13.777 0 0 1-.527 2.954 2.733 2.733 0 0 1-.822 1.448 3.007 3.007 0 0 1-1.255.46.9.9 0 0 1-1.118-.489 8.518 8.518 0 0 1-1.592-2.875 6.947 6.947 0 0 1 .69-4.647 4.757 4.757 0 0 1 1.064-1.55 4.076 4.076 0 0 1 1.954-.877c.734-.147 1.635-.462 1.689.432a41.515 41.515 0 0 1-.084 5.145z" class="learn-picture--shoes " data-name="Path 1435" transform="translate(-375.537 -307.046)"/>
        <path d="M429.412 214.19c1.373.71 2.9 1.613 3.183 3.131a22.013 22.013 0 0 1-.107 2.819 22.33 22.33 0 0 1 .354 2.459 11.58 11.58 0 0 1-.2 1.164 18.827 18.827 0 0 0-.078 2.224 40.73 40.73 0 0 1-.9 4.928 14.435 14.435 0 0 0-.133 3.563c.066.768.2 1.532.2 2.3a10.093 10.093 0 0 1-.137 1.66 16.553 16.553 0 0 1-1.592 4.948c-.957 1.884-.822 4.315-.72 6.426a1.592 1.592 0 0 1-.107.859c-.251.456-.875.521-1.393.477a7.56 7.56 0 0 1-4.974-2.519 1.275 1.275 0 0 1-.362-.67c-.044-.426.3-.776.545-1.128.84-1.194.627-2.811.726-4.277a9.35 9.35 0 0 1 .754-3.094 5.816 5.816 0 0 0 .611-1.743 4.4 4.4 0 0 0-.3-1.693l-.6-1.894a55.535 55.535 0 0 0-3.257-8.65 4.327 4.327 0 0 0-1.84 2.586c-.521 1.874.221 3.967-.489 5.77a5.275 5.275 0 0 0-.292.774 3.115 3.115 0 0 0-.048.694 56.538 56.538 0 0 0 .354 5.8 1.791 1.791 0 0 0 .239.83c.117.169.288.294.414.456a2.158 2.158 0 0 1 .2 1.647l-.4 2.662a.722.722 0 0 1-.129.376.712.712 0 0 1-.338.183 9.43 9.43 0 0 1-3.911.358 2.6 2.6 0 0 1-1.064-.525c-.034-.4.462-.663.479-1.058a.913.913 0 0 0-.3-.609c-.74-.836-1.623-1.723-1.615-2.839 0-.292.07-.585.06-.877a10.716 10.716 0 0 0-.724-2.115 7.552 7.552 0 0 1 .187-2.734 14.121 14.121 0 0 0-.2-3.7l-.666-4.5a12.069 12.069 0 0 0-.414-2.065 16.173 16.173 0 0 0-.881-1.938c-.637-1.293-1.16-2.638-1.681-3.979a3.626 3.626 0 0 1-.308-1.152 2.807 2.807 0 0 1 .76-1.852 5.791 5.791 0 0 1 3.183-1.93 1.393 1.393 0 0 1 .639-.026 1.716 1.716 0 0 1 .5.261 11.9 11.9 0 0 0 10.519 1.247.867.867 0 0 0 .8-.022 10.183 10.183 0 0 0 1.721-1.194 10.247 10.247 0 0 1 3.732-1.819z" class="learn-picture--suits" data-name="Path 1436" transform="translate(-353.914 -179.641)"/>
        <path d="M309.814 459.9a2.721 2.721 0 0 0 .469.838 14.046 14.046 0 0 1 2.188 2.785c.1.235.169.481.259.72a4.737 4.737 0 0 0 1.293 1.874 7.957 7.957 0 0 0 1.427.945 5.755 5.755 0 0 0 2.829.887 3.076 3.076 0 0 0 .6-.072 3.229 3.229 0 0 0 .889-.326 1.832 1.832 0 0 0 1.066-1.769 1.616 1.616 0 0 0-.129-.4 4.172 4.172 0 0 0-.364-.575 4.318 4.318 0 0 0-1.174-1.241 13.077 13.077 0 0 1-1.747-.84 2.746 2.746 0 0 1-.5-.609 7.676 7.676 0 0 1-.995-2.254 3.487 3.487 0 0 0-.688-1.689 4.21 4.21 0 0 0-2.212-.694 1.687 1.687 0 0 1-.846-.042c-.267-.133-.356-.322-.678-.3a1.393 1.393 0 0 0-.7.3 2.35 2.35 0 0 0-.987 2.462z" class="learn-picture--suits" data-name="Path 1437" transform="translate(-275.552 -374.254)"/>
        <path d="M322.829 464.8a3.077 3.077 0 0 0 .85 1.832c.332.286.8.466.961.869a1.418 1.418 0 0 1-.322 1.281 4.72 4.72 0 0 1-1.281 1.176 1.915 1.915 0 0 1-1.409.344 2.352 2.352 0 0 1-1.009-.657 7 7 0 0 1-1.759-2.131c-.4-.891-.418-1.924-.852-2.8a9.2 9.2 0 0 1-.8-1.508.937.937 0 0 1 0-.613.864.864 0 0 1 .78-.464 2.714 2.714 0 0 1 .933.2 20.54 20.54 0 0 0 2.751.77c.372.07.6.068.8.428a4.288 4.288 0 0 1 .357 1.273z" class="learn-picture--people-skin" data-name="Path 1438" transform="translate(-281.499 -378.253)"/>
        <path d="M355.84 499.614a2.188 2.188 0 0 0-.308.74 1.654 1.654 0 0 0-.022.625 3.228 3.228 0 0 0 .889-.326 1.832 1.832 0 0 0 1.066-1.769 1.617 1.617 0 0 0-.129-.4.555.555 0 0 0-.529.165 4.395 4.395 0 0 0-.967.965z" class="learn-picture--people-skin" data-name="Path 1439" transform="translate(-312.202 -407.365)"/>
        <path d="M321.043 423.151a.979.979 0 0 0-.074.6c.091.4.5.627.867.808l3.5 1.711a7.332 7.332 0 0 1 .708.376A10.431 10.431 0 0 1 327.62 428a4.134 4.134 0 0 0 1.751 1.084 2.959 2.959 0 0 0 1.99-.261 4.114 4.114 0 0 0 .911-.619 5.605 5.605 0 0 0 .657-.682 1.472 1.472 0 0 0 .356-.643 1.411 1.411 0 0 0-.326-1.023 4.726 4.726 0 0 0-.4-.493 9.359 9.359 0 0 0-5.372-2.525 15.3 15.3 0 0 1-2.167-.625 5.072 5.072 0 0 0-2.218-.292 2.2 2.2 0 0 0-1.759 1.23z" class="learn-picture--suits" data-name="Path 1440" transform="translate(-284.536 -346.019)"/>
        <path d="M321.043 423.151a.979.979 0 0 0-.074.6c.091.4.5.627.867.808l3.5 1.711a7.332 7.332 0 0 1 .708.376A10.431 10.431 0 0 1 327.62 428a4.134 4.134 0 0 0 1.751 1.084 2.959 2.959 0 0 0 1.99-.261 4.114 4.114 0 0 0 .911-.619 5.605 5.605 0 0 0 .657-.682 1.472 1.472 0 0 0 .356-.643 1.411 1.411 0 0 0-.326-1.023 4.726 4.726 0 0 0-.4-.493 9.359 9.359 0 0 0-5.372-2.525 15.3 15.3 0 0 1-2.167-.625 5.072 5.072 0 0 0-2.218-.292 2.2 2.2 0 0 0-1.759 1.23z" class="learn-picture--people-shadows" data-name="Path 1441" transform="translate(-284.536 -346.019)"/>
        <path d="M354.5 431.333a3.978 3.978 0 0 1 .657 1.013 1.134 1.134 0 0 1 .149.81 1.182 1.182 0 0 1-.364.477l-.348.322a1.393 1.393 0 0 1-.362.271 1.449 1.449 0 0 1-.6.09 2.224 2.224 0 0 1-1.351-.281 1.5 1.5 0 0 1-.376-1.743 3.761 3.761 0 0 1 1.232-1.446c.404-.329 1.075.186 1.363.487z" class="learn-picture--people-skin" data-name="Path 1442" transform="translate(-309.231 -353.108)"/>
        <path d="M375.978 440.263a1.768 1.768 0 0 0 .09.985c.088.3.173.6.259.9v.012a5.6 5.6 0 0 0 .657-.682 1.472 1.472 0 0 0 .356-.643 1.411 1.411 0 0 0-.326-1.023 4.731 4.731 0 0 0-.4-.493c-.094.121-.175.241-.243.318a1.757 1.757 0 0 0-.393.626z" class="learn-picture--people-skin" data-name="Path 1443" transform="translate(-328.588 -359.981)"/>
        <path d="M328.662 317.614a15.007 15.007 0 0 0-.018 5.308 9.692 9.692 0 0 1-.044 4.033 3.241 3.241 0 0 0-.29 1.474c.169.941 1.3 1.3 2.242 1.48a2.211 2.211 0 0 0 .83.05 1.97 1.97 0 0 0 .756-.4 8.265 8.265 0 0 0 2.911-3.87 14.316 14.316 0 0 0 .579-3.235 22.635 22.635 0 0 0 .1-5.525c-.08-.537-.2-1.068-.249-1.609a11.63 11.63 0 0 1 .155-2.815 45.415 45.415 0 0 1 1.552-6.792 9.152 9.152 0 0 1-5.507-.995c.326.175-.048 2.966-.088 3.358a22.8 22.8 0 0 1-.631 3.462c-.56 2.125-1.795 3.967-2.298 6.076z" class="learn-picture--suits" data-name="Path 1444" transform="translate(-290.414 -252.16)"/>
        <path d="M328.662 317.614a15.007 15.007 0 0 0-.018 5.308 9.692 9.692 0 0 1-.044 4.033 3.241 3.241 0 0 0-.29 1.474c.169.941 1.3 1.3 2.242 1.48a2.211 2.211 0 0 0 .83.05 1.97 1.97 0 0 0 .756-.4 8.265 8.265 0 0 0 2.911-3.87 14.316 14.316 0 0 0 .579-3.235 22.635 22.635 0 0 0 .1-5.525c-.08-.537-.2-1.068-.249-1.609a11.63 11.63 0 0 1 .155-2.815 45.415 45.415 0 0 1 1.552-6.792 9.152 9.152 0 0 1-5.507-.995c.326.175-.048 2.966-.088 3.358a22.8 22.8 0 0 1-.631 3.462c-.56 2.125-1.795 3.967-2.298 6.076z" class="learn-picture--people-shadows" data-name="Path 1445" transform="translate(-290.414 -252.16)"/>
        <path d="M331.1 297.242a15.518 15.518 0 0 1 .277 7.24 36.111 36.111 0 0 0-.7 7.264 8.092 8.092 0 0 1-.066 2.849 6.228 6.228 0 0 1-.611 1.271l-6.349 10.978a1.974 1.974 0 0 1-1.592.995 4.61 4.61 0 0 1-1.978-.424 3.557 3.557 0 0 1-1.152-.639 1.363 1.363 0 0 1-.485-1.166c.284-1.906.712-3.858 1.029-5.77a9.987 9.987 0 0 1 1.381-3.655c.491-.8 1.1-1.51 1.52-2.338 1.218-2.371.8-5.264-.143-7.759s-2.338-4.811-3.084-7.361a8.441 8.441 0 0 1-.376-2.188 5.835 5.835 0 0 1 1.663-4.15 1.459 1.459 0 0 1 .575-.4 1.611 1.611 0 0 1 .784.014c3.53.689 8.136 1.833 9.307 5.239z" class="learn-picture--suits" data-name="Path 1446" transform="translate(-282.519 -241.931)"/>
        <path d="M614.233 134.622a4 4 0 0 1-.647 2.507 7.089 7.089 0 0 1-8.615 2.759 13.762 13.762 0 0 1-3.326-2.322 2.962 2.962 0 0 1-.881-1.033 2.008 2.008 0 0 1 .67-2.169 5.7 5.7 0 0 1 2.175-1.033c2.581-.802 10.01-3.337 10.624 1.291z" class="learn-picture--people-skin" data-name="Path 1447" transform="translate(-508.59 -113.735)"/>
        <path d="M638.746 131.544a55.822 55.822 0 0 0 8.432 5.091 4.087 4.087 0 0 1 2.236 1.99 3.874 3.874 0 0 1 .06 1.637 11.049 11.049 0 0 1-.635 3.11 20.5 20.5 0 0 1-2.007 3.137c-1.194 1.826-1.894 3.979-3.368 5.593a54.628 54.628 0 0 1 2.437 10.035.461.461 0 0 1-.03.281.481.481 0 0 1-.155.141l-2.475 1.623a2.785 2.785 0 0 0-.714.6c-.438.569-.38 1.369-.651 2.031a2.64 2.64 0 0 1-1.532 1.393 4.717 4.717 0 0 1-2.107.223 4.9 4.9 0 0 1-2.515-.885 6.957 6.957 0 0 1-1.514-1.808 7.046 7.046 0 0 1-.8-1.45 6.53 6.53 0 0 1-.271-2.31 24.413 24.413 0 0 1 .424-4.423c.115-.579.259-1.15.35-1.733.183-1.174.147-2.371.283-3.551a23.9 23.9 0 0 1 .885-3.913 20.176 20.176 0 0 0 .517-2.407 26.4 26.4 0 0 1 1.16-4.178l.8-2.35c.169-.507.34-1.013.541-1.508a11.738 11.738 0 0 0 .983-2.813c.141-1.076-1.021-2.354-.629-3.364.032-.116.205-.264.295-.192z" class="learn-picture--suits" data-name="Path 1448" transform="translate(-534.613 -113.422)"/>
        <path d="M654.922 164.42a2.258 2.258 0 0 1 1.052 1.415 8.017 8.017 0 0 1 .31 4.019 7.182 7.182 0 0 0-.159 1.027 6.843 6.843 0 0 0 .117 1.194c.2 1.522 0 3.068.066 4.6.068 1.727.444 3.551-.281 5.121a7.317 7.317 0 0 1-2.292 2.523 45.863 45.863 0 0 1-10.976 6.335 2.873 2.873 0 0 0 .239-3 5.587 5.587 0 0 0-2.188-2.244 14.1 14.1 0 0 0 3.293-1.176 28.579 28.579 0 0 0 5.636-4.142 1.715 1.715 0 0 0 .585-.74c.179-.6-.314-1.164-.657-1.687-1.036-1.592-.8-3.671-.362-5.513a14.266 14.266 0 0 1 2.489-5.654 5.592 5.592 0 0 1 3.128-2.078z" class="learn-picture--suits" data-name="Path 1449" transform="translate(-540.758 -139.773)"/>
        <path d="M622.357 276.7a2.719 2.719 0 0 1-.684.752 2.256 2.256 0 0 1-2.083-.036 6.076 6.076 0 0 1-1.691-1.076 2.65 2.65 0 0 0-.75-.557c-.521-.2-1.249-.05-1.542-.529a.281.281 0 0 1-.048-.171c.018-.173.245-.221.42-.231a5.21 5.21 0 0 0 2.3-.71 2.211 2.211 0 0 1-.565-.6.466.466 0 0 1-.1-.283.505.505 0 0 1 .173-.283 4.429 4.429 0 0 1 4.87-.812.971.971 0 0 1 .4.3 1.106 1.106 0 0 1 .145.4c.129.557.6 1.393.428 1.956a7.911 7.911 0 0 1-1.273 1.88z" class="learn-picture--people-skin" data-name="Path 1450" transform="translate(-520.529 -225.764)"/>
        <path d="M572.415 151.565c2.475-2.859 3.581-6.621 4.608-10.26l.734-2.586 1.771-6.229c.261-.919.521-1.838.694-2.775a25.685 25.685 0 0 0 .306-4.914 5.318 5.318 0 0 0-.46-1.974c-.173-.43-.257-.887-.4-1.331a6.641 6.641 0 0 0-.8-1.749 1.832 1.832 0 0 0-.36-.43 2.093 2.093 0 0 0-.814-.33 7.162 7.162 0 0 0-1.948-.3 2.414 2.414 0 0 0-1.767.754 9.151 9.151 0 0 0-.73 1.313 5.123 5.123 0 0 0-.324.551 2.787 2.787 0 0 0-.179.9q-.155 1.88-.265 3.764a17.6 17.6 0 0 0-.042 1.719c.018.446.066.889.113 1.333l.472 4.345c.109 1.021.032 1.976.123 3a23.977 23.977 0 0 1-.854 7.361 13.24 13.24 0 0 1-1.086 3.362c-.491.923-1.228 1.86-1.033 2.889a10.035 10.035 0 0 1 .277 1.054 2.115 2.115 0 0 0 .066.666.8.8 0 0 0 .85.4 1.972 1.972 0 0 0 1.048-.533z" class="learn-picture--suits" data-name="Path 1451" transform="translate(-484.154 -103.141)"/>
        <path d="M566.554 215.17c.076.571.018 1.15.046 1.725a11.636 11.636 0 0 0 .4 2.188 3.313 3.313 0 0 0 1.156 2.129 3.641 3.641 0 0 1 .5.316.49.49 0 0 1 .163.533l-.547-.092a.555.555 0 1 1-.764.8 1.3 1.3 0 0 1-.05.533.434.434 0 0 1-.4.3.641.641 0 0 1-.284-.119l-1.428-.885a2.636 2.636 0 0 1-1.029-.995l-.625-.941a2.247 2.247 0 0 1-.324-.6c-.233-.8.418-1.679.08-2.429a3.271 3.271 0 0 0-.356-.521 5.446 5.446 0 0 1-.6-3.581c.026-.416.1-.909.477-1.09a.981.981 0 0 1 .933.165 3.966 3.966 0 0 0 .836.527c.2.068.418.076.617.147.279.1.537.477.724.7a2.33 2.33 0 0 1 .475 1.19z" class="learn-picture--people-skin" data-name="Path 1452" transform="translate(-477.991 -178.187)"/>
        <path d="M471.255 92.093a3.536 3.536 0 0 1-.7 1.046 1.355 1.355 0 0 1-1.154.4 2.037 2.037 0 0 1-1.058-.8 13.879 13.879 0 0 1-2.051-2.869 13.951 13.951 0 0 1-1.023-5.256 1.868 1.868 0 0 1 1.594-2.318l3.034-1.134a1.176 1.176 0 0 1 .6-.109c.476.08.651.653.78 1.116a6.963 6.963 0 0 0 1.134 2.308c.68.907 2.206 2.129 1.335 3.261a25.028 25.028 0 0 0-2.491 4.355z" class="learn-picture--man-skin" data-name="Path 1453" transform="translate(-400.126 -72.99)"/>
        <path d="M443.283 90.611A6.514 6.514 0 0 1 445 95.626a44.131 44.131 0 0 1-.857 5.394 9.178 9.178 0 0 0 .436 5.372 13.517 13.517 0 0 1 .822 1.691 5.3 5.3 0 0 1 .157 1.816 5.187 5.187 0 0 1-.362 1.878 5.935 5.935 0 0 1-2.129 2.188 20.057 20.057 0 0 1-5.433 3.122 16.646 16.646 0 0 1-4.2.657 13.365 13.365 0 0 1-2.877-.082 7.813 7.813 0 0 1-4.367-2.312 2.447 2.447 0 0 1-.5-.682 2.835 2.835 0 0 1-.173-1.035q-.072-1.96.024-3.919a17.227 17.227 0 0 1 .511-3.691c.38-1.393 1.039-2.7 1.538-4.055 1.739-4.717 1.564-10.085 3.979-14.49.521-.951 1.393-1.952 2.467-1.8a.828.828 0 0 1 .545.251 1.148 1.148 0 0 1 .2.613 18.066 18.066 0 0 0 1.629 6.269c.4.758.995 1.912 1.912 2.115s1.458-.672 1.95-1.293a15.878 15.878 0 0 1 3.012-3.022z" class="learn-picture--shirt" data-name="Path 1454" transform="translate(-368.272 -76.685)"/>
        <path d="M514.257 89.283a3.965 3.965 0 0 1 .754.529 3.049 3.049 0 0 1 .812 2.25 17.488 17.488 0 0 1-.323 2.438 33 33 0 0 0 .08 6.645 3.219 3.219 0 0 1-.064 1.07c-.1.334-.3.629-.428.953-.38.959-.093 2.053-.316 3.06-.239 1.072-1.056 2.047-.9 3.135.062.426.267.818.354 1.239a1.09 1.09 0 0 1-.352 1.158c-.364.227-.893.062-1.327.187a4.09 4.09 0 0 0-.513.231 2.522 2.522 0 0 1-2.131-.131 6.457 6.457 0 0 1-1.721-1.365 7.073 7.073 0 0 1-1.824-2.658 7.284 7.284 0 0 1 .474-4.61 11.8 11.8 0 0 0 1.062-4.562 20.111 20.111 0 0 0-.5-2.6 16.631 16.631 0 0 1-.221-3.641 6.475 6.475 0 0 1 .47-2.616 3.6 3.6 0 0 1 2.849-1.95 6.28 6.28 0 0 1 3.765 1.238z" class="learn-picture--suits" data-name="Path 1455" transform="translate(-432.886 -78.578)"/>
        <path d="M527.906 152.365a6.068 6.068 0 0 0 .338 1.868 7.432 7.432 0 0 0 .446-2.606 51.227 51.227 0 0 1 1.592-8.857 5.147 5.147 0 0 0-1.068 1.99 17.545 17.545 0 0 0-1.308 7.605z" class="learn-picture--people-shadows" data-name="Path 1456" transform="translate(-450.297 -122.43)"/>
        <path d="M394.825 83.971a24.261 24.261 0 0 0-2.72 1.194 20.312 20.312 0 0 1-3.016.812 10.35 10.35 0 0 0-6.112 3.581 25 25 0 0 0-2.188 4.844 40 40 0 0 0-1.832 4.071 15.683 15.683 0 0 0-.368 5.784 11.885 11.885 0 0 0 1.013 4.612c.378.74.9 1.4 1.277 2.143.454.889.692 1.87 1.07 2.785a4.449 4.449 0 0 0 1.81 2.308l1.452-.85c2.167-1.267 4.333-2.537 6.432-3.913a12.456 12.456 0 0 0 4.651-4.526 10.134 10.134 0 0 0 .726-5.682c-.223-1.924-.732-3.806-.995-5.724a23.05 23.05 0 0 1 .149-7.264c.2-1.082.728-2.2.838-3.279.122-1.153-1.358-1.115-2.187-.896z" class="learn-picture--suits" data-name="Path 1457" transform="translate(-330.627 -75.232)"/>
        <path d="M399.447 233.436c1.112 1.052 2.712 1.359 4.1 1.99a8.807 8.807 0 0 1 2.74 1.99 1.819 1.819 0 0 1 .627 1.705 1.9 1.9 0 0 1-1.245.967 2.832 2.832 0 0 1-1.97.209 7.074 7.074 0 0 1-1.009-.625c-.834-.5-1.884-.5-2.74-.955-1.206-.645-1.806-2.063-2.941-2.829-.621-.418-1.478-.76-1.542-1.506a1.821 1.821 0 0 1 .167-.782c.229-.609.619-2.7 1.49-2.644.952.061 1.616 1.977 2.323 2.48z" class="learn-picture--people-skin" data-name="Path 1458" transform="translate(-344.228 -193.07)"/>
        <path d="M344.179 173.936a9.518 9.518 0 0 0 2.087 3.464 4.368 4.368 0 0 1 1.345 2.535 2.671 2.671 0 0 1-1.393 2.244 5.9 5.9 0 0 1-2.654.682 6.694 6.694 0 0 1-2.2-.153c-1.818-.493-3.08-2.079-4.51-3.3a13.872 13.872 0 0 1-2.455-2.268 2.8 2.8 0 0 1-.284-3.131 4.532 4.532 0 0 1 .8-.8 13.3 13.3 0 0 0 2.744-3.293 3.547 3.547 0 0 1 1.072-1.341 3.166 3.166 0 0 1 2.425-.024c.873.229 3.334.676 3.506 1.791.07.458-.5 1.17-.583 1.661a4.4 4.4 0 0 0 .1 1.933z" class="learn-picture--people-skin" data-name="Path 1459" transform="translate(-294.788 -142.895)"/>
        <path d="M334.6 188.624a8.4 8.4 0 0 1 .641 1.482c.607 2.109-.477 4.281-.995 6.414-.661 2.732-.38 5.589-.412 8.4a4.934 4.934 0 0 1-1.076 3.591 3.334 3.334 0 0 0-.686.7 2.914 2.914 0 0 0-.221.659 3.394 3.394 0 0 1-4.918 2.025c-.754-.42-1.409-1.148-2.272-1.17a6.589 6.589 0 0 0-.81.09 5.556 5.556 0 0 1-2.507-.545 1.636 1.636 0 0 1-.529-.283c-.145-.133-.239-.312-.372-.456-.491-.529-1.331-.438-2.039-.585a2.855 2.855 0 0 1-2.163-2.163 5.581 5.581 0 0 1 .1-2.083l.533-3.076a28.314 28.314 0 0 0 .464-3.416 14.325 14.325 0 0 0-.33-3.862 30.949 30.949 0 0 1-.712-3.1 7.578 7.578 0 0 1 1.393-5.334 1.655 1.655 0 0 1 1.108-.8 1.863 1.863 0 0 1 1.066.364q4.3 2.547 8.666 4.988a10.253 10.253 0 0 0 2.5 1.118c.267.068.649.04.686-.231a.5.5 0 0 0-.078-.292c-.5-.957-1.218-1.779-1.791-2.69a4.561 4.561 0 0 1-.846-3.048c.231-1.464 1.592-2.433 2.7-1.285a18.839 18.839 0 0 1 2.9 4.588z" class="learn-picture--side-shirt" data-name="Path 1460" transform="translate(-280.708 -155.088)"/>
        <path d="M342.577 290.706a21.406 21.406 0 0 1 6.88 1.2 3.631 3.631 0 0 0 2.161.479 2.888 2.888 0 0 0 .995-.533 22.759 22.759 0 0 0 2.543-2.169c-.08-.436-.67-.5-1.112-.491a6.647 6.647 0 0 1-3.1-.744 5.215 5.215 0 0 0-.995-.464c-.945-.261-1.908.237-2.857.479a11.047 11.047 0 0 1-4.319-.062l-3.872-.571a1.383 1.383 0 0 0-1.052.129 1.285 1.285 0 0 0-.376.674c-.474 1.592-.247 1.725 1.329 1.824z" class="learn-picture--people-skin" data-name="Path 1461" transform="translate(-297.596 -238.601)"/>
        <circle cx="6.366" cy="6.366" r="6.366" class="learn-picture--people-shadows" data-name="Ellipse 246" transform="translate(91.48 11.749)"/>
        <circle cx="6.366" cy="6.366" r="6.366" class="learn-picture--people-skin" data-name="Ellipse 247" transform="translate(91.434 11.473)"/>
        <path d="M608.739 82.329a3.394 3.394 0 0 1 1.321 1.182 5.916 5.916 0 0 1 .34 1.114c.348 1.194 1.275 2.23 1.331 3.474a3.919 3.919 0 0 1-2.119 3.261 1.572 1.572 0 0 1-.911.306 2.93 2.93 0 0 1-.935-.368c-1.307-.581-2.769.155-4.154.493a7.457 7.457 0 0 1-4.337-.255 4.1 4.1 0 0 1-1.938-1.343 2.126 2.126 0 0 1-.237-2.246c.2-.354.529-.674.507-1.078a5.573 5.573 0 0 0-.2-.7 1.611 1.611 0 0 1 .338-1.074 15.55 15.55 0 0 1 3.442-3.893 2.462 2.462 0 0 1 1.379-.668c1.047-.046 1.946.734 3.022.738a5.653 5.653 0 0 1 3.151 1.057z" class="learn-picture--suits" data-name="Path 1462" transform="translate(-505.565 -72.573)"/>
        <circle cx="6.565" cy="6.565" r="6.565" class="learn-picture--people-shadows" data-name="Ellipse 248" transform="translate(67.799 3.363)"/>
        <circle cx="6.565" cy="6.565" r="6.565" class="learn-picture--man-skin" data-name="Ellipse 249" transform="translate(67.914 3.202)"/>
        <path d="M483.655 54.036a4.385 4.385 0 0 0 3.106.229 4.178 4.178 0 0 0 1.631-.688 1.968 1.968 0 0 0 .822-1.512c0-.666-.438-1.267-.491-1.934-.066-.84.481-1.615.539-2.459a4.277 4.277 0 0 0-.764-2.328 13.034 13.034 0 0 0-2.487-3.454 4.554 4.554 0 0 0-3.927-1.237 17.175 17.175 0 0 1-2.017.6 8.5 8.5 0 0 1-1.852-.209 2.126 2.126 0 0 0-1.757.4c-.243.239-.4.575-.682.75a4.094 4.094 0 0 1-.6.221 2.766 2.766 0 0 0-1.3 1.826l-1.707 4.892a13.688 13.688 0 0 0 1.884.885 2.279 2.279 0 0 1 1.359 1.48c.1.519-.088 1.116.215 1.55a1.346 1.346 0 0 0 1.317.4 4.972 4.972 0 0 1 1.434-.159c1.194.181 1.637.913 2.742 0s1.509.17 2.535.747z" class="learn-picture--suits" data-name="Path 1463" transform="translate(-405.669 -40.56)"/>
        <circle cx="5.969" cy="5.969" r="5.969" class="learn-picture--people-shadows" data-name="Ellipse 250" transform="translate(40.61 18.605)"/>
        <circle cx="5.969" cy="5.969" r="5.969" class="learn-picture--people-skin" data-name="Ellipse 251" transform="translate(40.841 18.281)"/>
        <path d="M325.234 121.385a15.741 15.741 0 0 0-4.721-2.483 5.774 5.774 0 0 0-3.382-.271c-1.5.428-3.507 1.066-4.437 2.322a6.65 6.65 0 0 0-1.142 1.99c-.442 1.484.187 3.066.145 4.614a9.262 9.262 0 0 1-2.051 4.924c-1.044 1.472-1.255 3.581-1.872 5.28-.211.583-.279 1.393.265 1.685.477.265 1.054-.066 1.5-.384l2.656-1.92a1.526 1.526 0 0 1 2.24.165l5.565 3.939a1.709 1.709 0 0 0 .026-1.448 5.63 5.63 0 0 1 1.363.907 1.133 1.133 0 0 0 1.492-.022 1.051 1.051 0 0 0-.29-1.367c-.372-.35-.861-.559-1.226-.919-.722-.718-.8-1.852-1.251-2.759a14.808 14.808 0 0 1-1.084-1.848 4.737 4.737 0 0 1 .6-3.368 6.491 6.491 0 0 1 2.449-3.277c.412-.223.867-.354 1.289-.557a6.951 6.951 0 0 0 2.875-2.755c.448-.946-.243-1.859-1.009-2.448z" class="learn-picture--suits" data-name="Path 1464" transform="translate(-273.855 -102.971)"/>
        <path d="M313.485 231.445c.571.364 1.216.6 1.777.977a2.168 2.168 0 0 1 1.068 1.633 2.872 2.872 0 0 1-.8 1.727l-4.846 6.36 2.471.655a6.455 6.455 0 0 0-.706 1.894 2.051 2.051 0 0 1-1.257 1.484c-.6.153-1.222-.161-1.838-.125-.456.028-.885.243-1.341.261a2.848 2.848 0 0 1-1.621-.613c-1.09-.73-2.173-1.777-2.165-3.09a4.674 4.674 0 0 1 .265-1.3 20.678 20.678 0 0 1 2.935-6.653 20.887 20.887 0 0 1 2.742-2.775 2.557 2.557 0 0 1 .768-.531 3.238 3.238 0 0 1 1.99.247c.659.191 1.488.219 1.868-.344" class="learn-picture--people-shadows" data-name="Path 1465" transform="translate(-271.14 -193.307)"/>
        <path d="M312.443 229.419c.571.362 1.216.6 1.777.977a2.176 2.176 0 0 1 1.07 1.631 2.8 2.8 0 0 1-.8 1.729l-4.848 6.355 2.471.655a6.434 6.434 0 0 0-.706 1.894 2.048 2.048 0 0 1-1.257 1.484c-.6.153-1.222-.161-1.838-.125-.456.026-.885.243-1.341.259a2.848 2.848 0 0 1-1.621-.613c-1.09-.728-2.173-1.777-2.163-3.088a4.574 4.574 0 0 1 .263-1.3 20.64 20.64 0 0 1 2.935-6.653 21.452 21.452 0 0 1 2.742-2.785 2.63 2.63 0 0 1 .768-.531 3.225 3.225 0 0 1 1.99.249c.659.193 1.488.219 1.868-.344" class="learn-picture--side-shirt" data-name="Path 1466" transform="translate(-270.307 -191.673)"/>
        <g class="learn-picture--people-shadows" data-name="Group 615" transform="translate(91.312 12.587)">
            <path d="M597.544 118.537a4.1 4.1 0 0 0 1.938 1.343 7.423 7.423 0 0 0 4.337.255c1.393-.338 2.847-1.074 4.154-.493a2.925 2.925 0 0 0 .933.37 1.592 1.592 0 0 0 .913-.308 4.707 4.707 0 0 0 1.9-2.075.513.513 0 0 0 .012.133 3.919 3.919 0 0 1-2.119 3.261 1.572 1.572 0 0 1-.911.306 2.931 2.931 0 0 1-.935-.368c-1.307-.581-2.769.155-4.154.493a7.457 7.457 0 0 1-4.337-.255 4.1 4.1 0 0 1-1.938-1.343 2.126 2.126 0 0 1-.237-2.246l.03-.05a2.434 2.434 0 0 0 .414.977z" data-name="Path 1467" transform="translate(-596.877 -114.822)"/>
            <path d="M599.885 104.19a1.4 1.4 0 0 1-.346.824 1.253 1.253 0 0 1-.058-.2 1.534 1.534 0 0 1 .3-1.015 1.323 1.323 0 0 1 .104.391z" data-name="Path 1468" transform="translate(-598.953 -103.8)"/>
        </g>
        <path d="M474.327 52.289l-1.707 4.89a13.46 13.46 0 0 0 1.884.885 2.275 2.275 0 0 1 1.359 1.48c.1.519-.088 1.116.215 1.552a1.35 1.35 0 0 0 1.317.4 5.042 5.042 0 0 1 1.434-.159c1.194.181 1.637.913 2.742.01s1.5.169 2.531.746a4.364 4.364 0 0 0 3.106.229 4.178 4.178 0 0 0 1.631-.686 2.543 2.543 0 0 0 .2-.181 2.216 2.216 0 0 1-.668.828 4.178 4.178 0 0 1-1.631.688 4.381 4.381 0 0 1-3.106-.229c-1.027-.577-1.448-1.629-2.531-.746s-1.552.171-2.742 0a4.979 4.979 0 0 0-1.434.159 1.345 1.345 0 0 1-1.317-.4c-.3-.434-.117-1.031-.215-1.55a2.275 2.275 0 0 0-1.359-1.48 13.691 13.691 0 0 1-1.884-.885l1.715-4.9a3.975 3.975 0 0 1 .816-1.506 6.679 6.679 0 0 0-.356.855z" class="learn-picture--people-shadows" data-name="Path 1469" transform="translate(-405.653 -49.262)"/>
        <g class="learn-picture--people-shadows" data-name="Group 616" transform="translate(33.766 17.688)">
            <path d="M361.3 148.794a1.042 1.042 0 0 0 1.273-.143 1.084 1.084 0 0 0-.29-1.367c-.372-.352-.861-.559-1.225-.919-.722-.716-.8-1.85-1.251-2.757a14.978 14.978 0 0 1-1.084-1.85 4.732 4.732 0 0 1 .6-3.366 6.491 6.491 0 0 1 2.449-3.277c.412-.223.867-.354 1.289-.557a6.955 6.955 0 0 0 2.875-2.757c.432-.9-.177-1.769-.9-2.36.352.229.7.47 1.031.726.766.6 1.456 1.5.995 2.443a6.951 6.951 0 0 1-2.875 2.755c-.422.2-.877.334-1.289.557a6.491 6.491 0 0 0-2.449 3.277 4.717 4.717 0 0 0-.6 3.368 14.808 14.808 0 0 0 1.084 1.848c.462.907.529 2.041 1.251 2.759.364.36.853.567 1.226.919a1.089 1.089 0 0 1 .29 1.367c-.306.406-1.035.322-1.492.022-.308-.209-.589-.482-.908-.688z" data-name="Path 1470" transform="translate(-348.452 -129.44)"/>
            <path d="M308.413 208.507l2.656-1.918a1.521 1.521 0 0 1 2.24.165l5.571 3.939a1.713 1.713 0 0 0 .026-1.45 5.55 5.55 0 0 1 1.327.883 1.49 1.49 0 0 0-.2-.074 1.709 1.709 0 0 1-.026 1.448l-5.571-3.939a1.526 1.526 0 0 0-2.24-.165l-2.656 1.92c-.442.318-1.019.649-1.5.384a.873.873 0 0 1-.416-.768 2.882 2.882 0 0 0 .789-.425z" data-name="Path 1471" transform="translate(-307.628 -190.918)"/>
        </g>
        <path d="M590.068 273.86s-11.4.913-13.668-.7l10.429-1.608z" class="learn-picture--shirt" data-name="Path 1472" transform="translate(-489.162 -225.589)"/>
        <path d="M590.068 273.86s-11.4.913-13.668-.7l10.429-1.608z" class="learn-picture--people-shadows" data-name="Path 1473" transform="translate(-489.162 -225.589)"/>
        <path d="M583.379 266.49l-3.193-2.021s-9.526 2.738-12.136 1.608l2.656-3.726 9.438 1.84z" class="learn-picture--shirt" data-name="Path 1474" transform="translate(-482.473 -218.22)"/>
        <path d="M555.595 130.786a5.6 5.6 0 0 0-.838 1.47c-.092.281-.137.573-.215.857a6.59 6.59 0 0 1-.995 1.972c-.981 1.426-2.206 2.8-2.453 4.516a7.62 7.62 0 0 0 .179 2.543 6.867 6.867 0 0 0 .47 1.606c.253.545.629 1.025.917 1.552a11.013 11.013 0 0 1 .664 1.608 7.884 7.884 0 0 0 .814-1.194 1.534 1.534 0 0 1 1.158-.762c.553 0 1.009.458 1.556.529a.444.444 0 0 0 .255-.024c.2-.094.215-.362.2-.577-.157-1.5-1.017-2.984-.611-4.441.374-1.347 1.711-2.188 2.413-3.4a7.8 7.8 0 0 0 .8-2.919 18.086 18.086 0 0 0 .265-3.629c-.038-.611-.523-4.47-1.411-4.067-.308.139-.577.73-.77.995l-.8 1.128z" class="learn-picture--suits" data-name="Path 1475" transform="translate(-468.854 -109.318)"/>
        <path d="M257.375 230.555l-6.4 5.211-8.235-1.472 5.545-4.353z" class="learn-picture--shirt" data-name="Path 1476" transform="translate(-194.447 -184.188)"/>
        <path d="M258.535 228.925l-6.4 5.211-8.235-1.472 5.545-4.353z" class="learn-picture--people-shadows" data-name="Path 1477" transform="translate(-195.376 -182.882)"/>
        <path d="M258.3 227.527l-6.4 5.209-8.237-1.47 5.547-4.355z" class="learn-picture--shirt" data-name="Path 1478" transform="translate(-195.184 -181.761)"/>
        <path d="M259.227 224.5l-6.4 5.211-8.235-1.472 5.547-4.353z" class="learn-picture--people-shadows" data-name="Path 1479" transform="translate(-195.929 -179.342)"/>
        <path d="M258.995 223.115l-6.4 5.211-8.235-1.472 5.54-4.354z" class="learn-picture--shirt" data-name="Path 1480" transform="translate(-195.744 -178.228)"/>
        <path d="M873.393 623.582a1.031 1.031 0 0 1 1.478.846l.356 4.618-2.113.382-1.114-3.339z" class="learn-picture--suits" data-name="Path 1481" transform="translate(-725.952 -507.501)"/>
        <path d="M372.313 467.454l-32.336 16.409a2.25 2.25 0 0 0 .016 4.017l69.643 34.95a8.453 8.453 0 0 0 7.944-.2l29.333-16.541a2.25 2.25 0 0 0-.133-3.979l-72.48-34.678a2.25 2.25 0 0 0-1.987.022z" class="learn-picture--suits" data-name="Path 1482" transform="translate(-298.792 -382.324)"/>
        <path d="M339.431 536.56l-1.013.752-.08 3.6a1.5 1.5 0 0 0 .812 1.365l70.833 36.348a1.054 1.054 0 0 0 1.538-.937v-5.23z" class="learn-picture--suits" data-name="Path 1483" transform="translate(-298.463 -437.875)"/>
        <path d="M372.3 446.47l-32.336 16.407a2.25 2.25 0 0 0 .01 4.017l69.649 34.95a8.459 8.459 0 0 0 7.944-.2L446.9 485.1a2.25 2.25 0 0 0-.133-3.979l-72.48-34.677a2.25 2.25 0 0 0-1.987.024z" class="learn-picture--shirt" data-name="Path 1484" transform="translate(-298.78 -365.514)"/>
        <path d="M259.728 421.86L224.1 439.951l61.235 30.619 36.742-18.65z" class="learn-picture--suits" data-name="Path 1485" transform="translate(-179.515 -337.925)"/>
        <ellipse cx="3.758" cy="2.226" class="learn-picture--suits" data-name="Ellipse 252" rx="3.758" ry="2.226" transform="translate(124.47 122.625)"/>
        <circle cx=".348" cy=".348" r=".348" class="learn-picture--suits" data-name="Ellipse 253" transform="translate(59.337 89.362)"/>
        <circle cx=".418" cy=".418" r=".418" class="learn-picture--suits" data-name="Ellipse 254" transform="translate(58.225 92.006)"/>
        <path d="M0 1.948L4.176 0" class="learn-picture--phone-top" data-name="Line 21" transform="translate(60.173 89.78)"/>
        <rect width="20.774" height="7.162" class="learn-picture--phone-message" data-name="Rectangle 738" rx="3.581" transform="rotate(-30 245.246 -98.84)"/>
        <rect width="20.774" height="7.162" class="learn-picture--phone-message" data-name="Rectangle 739" rx="3.581" transform="rotate(-30 260.543 -115.83)"/>
        <rect width="20.774" height="7.162" class="learn-picture--phone-message" data-name="Rectangle 740" rx="3.581" transform="rotate(-30 228.963 -84.103)"/>
    </g>
</svg>
