<svg xmlns="http://www.w3.org/2000/svg" width="199.817" height="152.616" viewBox="0 0 199.817 152.616" class=" {{styles}}">
    <defs>
        <linearGradient x1=".5" x2=".5" y1="1" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="gray" stop-opacity=".251"/>
            <stop offset=".54" stop-color="gray" stop-opacity=".122"/>
            <stop offset="1" stop-color="gray" stop-opacity=".102"/>
        </linearGradient>
    </defs>
    <g  data-name="Group 681" transform="translate(-3948 -889.039)">
        <path d="M83.994 58.662c6.779-6.056 17.422-7.29 27.108-6.808 30.425 1.515 57.889 16.224 81.645 32.864 8.6 6.024 17.067 12.521 22.655 20.811 11.365 16.886 7.993 40.28-7.808 54.191-5.377 4.734-11.895 8.362-18.585 11.579-11.9 5.719-24.73 10.308-38.234 11.615-9.629.931-19.369.172-28.949-1.125-26.745-3.633-53-11.663-75-25.409-9.655-6.027-18.751-13.521-22.729-23.277S22.662 111 32.516 105.224c4.076-2.388 8.948-3.465 13.719-4.478 7.023-1.489 14.157-2.959 20.495-5.988 6.546-3.129 14.295-9.18 13-16.106-1.391-7.426-2.506-13.952 4.264-19.99z" 
        class="apply-picture--background" data-name="Path 1920" transform="translate(3925.703 852.24)"/>
        <path d="M279 495.983a4.071 4.071 0 0 1 3.649-.491s-.519 1.1-2.831 1.089z" class="shadow" data-name="Path 1921" transform="translate(3713.393 484.252)"/>
        <path d="M277.35 500a4.07 4.07 0 0 0 .981 3.55s.809-.911-.111-3.032z" class="apply-picture--leafs" data-name="Path 1922" transform="translate(3714.82 480.306)"/>
        <path d="M264 481.768s.066-1.818 4.182-1.373a1.955 1.955 0 0 1-1.351 1.778 2.357 2.357 0 0 1-2.831-.405z" class="apply-picture--leafs" data-name="Path 1923" transform="translate(3725.799 496.574)"/>
        <path d="M258.868 488.65s-1.71.623-.019 4.4a1.955 1.955 0 0 0 1.275-1.833 2.364 2.364 0 0 0-1.256-2.567z" class="apply-picture--leafs" data-name="Path 1924" transform="translate(3730.677 489.687)"/>
        <path d="M248.527 460.745s-.346-2.974 3.846-2.829c0 0 .4 2.689-3.08 3.518z" class="apply-picture--leafs" data-name="Path 1925" transform="translate(3738.602 515.101)"/>
        <g data-name="Group 679" transform="rotate(-27 3892.448 -7921.196)">
            <path d="M0 .183A4.078 4.078 0 0 1 3.632.8S2.807 1.7.6 1z" class="apply-picture--leafs" data-name="Path 1957" transform="translate(13.2 65.263)"/>
            <path d="M.525 0a4.073 4.073 0 0 0-.12 3.68s1.038-.628.8-2.926z" class="apply-picture--leafs" data-name="Path 1958" transform="translate(12.44 65.449)"/>
            <path d="M0 .783S.605-.933 4.4.715a1.952 1.952 0 0 1-1.819 1.3A2.362 2.362 0 0 1 0 .783z" class="apply-picture--leafs" data-name="Path 1959" transform="translate(11.282 62.091)"/>
            <path d="M1.411 0S-.4.086.083 4.2a1.955 1.955 0 0 0 1.764-1.374A2.36 2.36 0 0 0 1.411 0z" class="apply-picture--leafs" data-name="Path 1960" transform="translate(9.631 62.797)"/>
            <path d="M0 1.927S.552-1.013 4.512.37c0 0-.417 2.686-3.986 2.442z" class="apply-picture--leafs" data-name="Path 1961" transform="translate(9.475 57.776)"/>
            <path d="M0 1.757S1.435-1.356 5.212.705c0 0-.747 2.828-4.764 2.01z" class="apply-picture--leafs" data-name="Path 1962" transform="translate(7.684 53.968)"/>
            <path d="M0 1.619s1.79-2.94 5.534-.9A4.793 4.793 0 0 1 .109 2.278z" class="apply-picture--leafs" data-name="Path 1963" transform="translate(6.639 50.223)"/>
            <path d="M0 1.721S1.8-1.336 5.394.7c0 0-2.136 2.788-5.29 1.653z" class="apply-picture--leafs" data-name="Path 1964" transform="translate(5.672 46.336)"/>
            <path d="M0 2.493S1.788-1.356 5.15.511c0 0-2.039 3.39-5.043 2.641z" class="apply-picture--leafs" data-name="Path 1965" transform="translate(5.32 42.121)"/>
            <path d="M0 2.339S1.935-1.505 5.257.663c0 0-2.468 3.459-5.155 2.307z" class="apply-picture--leafs" data-name="Path 1966" transform="translate(5.219 38.202)"/>
            <path d="M0 2.972S2.421-.739 5.216.133c0 0-2.52 3.931-5.2 3.72z" class="apply-picture--leafs" data-name="Path 1967" transform="translate(5.473 33.873)"/>
            <path d="M.125 3.655S2.892-.854 5.086.144c0 0-2.013 3.474-5.086 4.3z" class="apply-picture--leafs" data-name="Path 1968" transform="translate(5.84 29.647)"/>
            <path d="M.235 3.306S2.694-.41 5 .037c0 0-2 3.769-5 4.343z" class="apply-picture--leafs" data-name="Path 1969" transform="translate(6.575 25.841)"/>
            <path d="M.033 3.336S2.826-.3 4.348.019c0 0-1.821 3.825-4.348 4.028z" class="apply-picture--leafs" data-name="Path 1970" transform="translate(7.533 21.928)"/>
            <path d="M0 4.123S2.238-.028 3.832 0c0 0-1.186 3.575-3.772 4.5z" class="apply-picture--leafs" data-name="Path 1971" transform="translate(8.336 17.546)"/>
            <path d="M0 3.459S2.049.218 3.405 0c0 0-1.366 4.106-3.358 4.394z" class="apply-picture--leafs" data-name="Path 1972" transform="translate(9.026 13.418)"/>
            <path d="M.131 6.3L1.6 0S2.584 5.318 0 7.436z" class="apply-picture--leafs" data-name="Path 1973" transform="translate(9.25 7.403)"/>
            <path d="M.721 5.361S.322.367 0 0c0 0 2.4 3.818 1.058 7.537z" class="apply-picture--leafs" data-name="Path 1974" transform="translate(8.588 1.671)"/>
            <path d="M3.772.149S1-1 0 3.075c0 0 2.475 1.121 4.225-2z" class="apply-picture--leafs" data-name="Path 1975" transform="translate(5.598 59.507)"/>
            <path d="M4.159.081S.851-.823 0 3.395c0 0 2.646 1.249 4.6-2.354z" class="apply-picture--leafs" data-name="Path 1976" transform="translate(3.417 55.505)"/>
            <path d="M5.534.767S2.909-1.455 0 1.665a4.79 4.79 0 0 0 5.639-.239z" class="apply-picture--leafs" data-name="Path 1977" transform="translate(1.001 51.335)"/>
            <path d="M5.441.848S2.767-1.483 0 1.583c0 0 2.909 1.971 5.543-.1z" class="apply-picture--leafs" data-name="Path 1978" transform="translate(.157 47.221)"/>
            <path d="M5.337 2.129S3.137-1.5 0 .721c0 0 2.4 3.147 5.3 2.075z" class="apply-picture--leafs" data-name="Path 1979" transform="translate(0 42.584)"/>
            <path d="M5.361 2.112S3.161-1.587 0 .806c0 0 2.7 3.286 5.3 1.942z" class="apply-picture--leafs" data-name="Path 1980" transform="translate(.052 38.378)"/>
            <path d="M4.24 4.152S2.921-.08 0 0c0 0 1.349 4.473 3.986 5z" class="apply-picture--leafs" data-name="Path 1981" transform="translate(1.567 32.66)"/>
            <path d="M3.485 4.985S2.4-.195 0 .006c0 0 .723 3.95 3.338 5.76z" class="apply-picture--leafs" data-name="Path 1982" transform="translate(2.546 28.314)"/>
            <path d="M3.758 4.391S2.347.164 0 0c0 0 .963 4.159 3.708 5.491z" class="apply-picture--leafs" data-name="Path 1983" transform="translate(3.275 24.566)"/>
            <path d="M2.253 4.958S1.5.441 0 0c0 0-.192 4.232 1.94 5.6z" class="apply-picture--leafs" data-name="Path 1984" transform="translate(5.587 20.294)"/>
            <path d="M2.487 5.05S1.537.424 0 0c0 0 .109 3.765 2.323 5.389z" class="apply-picture--leafs" data-name="Path 1985" transform="translate(5.946 16.552)"/>
            <path d="M1.816 4.508S1.194.725.028 0c0 0-.346 4.313 1.383 5.361z" class="apply-picture--leafs" data-name="Path 1986" transform="translate(7.47 12.707)"/>
            <path d="M2.055 6.143L.039 0S-.48 5.385 2.287 7.272z" class="apply-picture--leafs" data-name="Path 1987" transform="translate(7.176 7.386)"/>
            <path d="M3.263 4.306S.024.482 0 0c0 0 .991 4.4 4.56 6.091z" class="apply-picture--leafs" data-name="Path 1988" transform="translate(5.147 2.933)"/>
            <path d="M4.552 5.94S1.167.311 0 0a7.734 7.734 0 0 1 4.725 5.735z" class="apply-picture--leafs" data-name="Path 1989" transform="translate(3.953)"/>
            <path d="M.678 12.308L.5 12.284C1.461 5.33 1.283 1.017 0 .144L.1 0c1.36.929 1.558 5.185.578 12.308z" class="apply-picture--leafs" data-name="Path 1990" transform="translate(8.387 5.544)"/>
            <path d="M.258 16.934L0 16.887c.118-.642.249-1.3.394-1.944C1.658 9.314 2.667 4.105 3.211.142L3.407 0C2.86 3.978 1.914 9.364.65 15c-.15.637-.276 1.287-.392 1.934z" class="apply-picture--leafs" data-name="Path 1991" transform="translate(5.729 17.347)"/>
            <path d="M12.005 36.2a34.037 34.037 0 0 1-7.263-9.166A37.782 37.782 0 0 1 .651 15.853 44.111 44.111 0 0 1 .8 0l.228.194a40.067 40.067 0 0 0 4.015 26.661 33.48 33.48 0 0 0 7.179 9.076z" class="cls-3" data-name="Path 1992" transform="translate(5.027 33.712)"/>
        </g>
        <g class="apply-picture__leave-shadow" data-name="Group 678" transform="translate(4044.428 889.039)">
            <path d="M320.84 435.337a4.078 4.078 0 0 1 3.632.617s-.825.9-3.028.2z" class="apply-picture--leafs" data-name="Path 1957" transform="translate(-307.64 -369.891)"/>
            <path d="M316.971 436.23a4.073 4.073 0 0 0-.119 3.68s1.038-.628.8-2.926z" class="apply-picture--leafs" data-name="Path 1958" transform="translate(-304.006 -370.781)"/>
            <path d="M309.75 417.6s.605-1.716 4.4-.067a1.952 1.952 0 0 1-1.819 1.3 2.362 2.362 0 0 1-2.581-1.233z" class="apply-picture--leafs" data-name="Path 1959" transform="translate(-298.468 -354.722)"/>
            <path d="M301.61 420.89s-1.816.086-1.328 4.2a1.955 1.955 0 0 0 1.764-1.371 2.36 2.36 0 0 0-.436-2.829z" class="apply-picture--leafs" data-name="Path 1960" transform="translate(-290.568 -358.094)"/>
            <path d="M299.3 393.786s.552-2.94 4.512-1.556c0 0-.417 2.686-3.986 2.442z" class="apply-picture--leafs" data-name="Path 1961" transform="translate(-289.825 -334.083)"/>
            <path d="M288.94 371.6s1.435-3.113 5.212-1.051c0 0-.747 2.828-4.764 2.01z" class="apply-picture--leafs" data-name="Path 1962" transform="translate(-281.256 -315.873)"/>
            <path d="M282.9 349.8s1.79-2.94 5.534-.9a4.793 4.793 0 0 1-5.425 1.556z" class="apply-picture--leafs" data-name="Path 1963" transform="translate(-276.261 -297.962)"/>
            <path d="M277.31 327.429s1.8-3.058 5.394-1.022c0 0-2.136 2.788-5.29 1.653z" class="apply-picture--leafs" data-name="Path 1964" transform="translate(-271.638 -279.372)"/>
            <path d="M275.27 303.826s1.788-3.85 5.15-1.982c0 0-2.039 3.39-5.043 2.641z" class="apply-picture--leafs" data-name="Path 1965" transform="translate(-269.95 -259.212)"/>
            <path d="M274.69 281.014s1.935-3.844 5.257-1.676c0 0-2.468 3.459-5.155 2.307z" class="apply-picture--leafs" data-name="Path 1966" transform="translate(-269.471 -240.473)"/>
            <path d="M276.16 256.616s2.421-3.711 5.216-2.84c0 0-2.52 3.931-5.2 3.72z" class="apply-picture--leafs" data-name="Path 1967" transform="translate(-270.687 -219.77)"/>
            <path d="M278.4 232.861s2.767-4.508 4.962-3.511c0 0-2.013 3.474-5.086 4.3z" class="apply-picture--leafs" data-name="Path 1968" transform="translate(-272.44 -199.559)"/>
            <path d="M282.765 210.5s2.459-3.716 4.766-3.268c0 0-2.006 3.768-5 4.342z" class="apply-picture--leafs" data-name="Path 1969" transform="translate(-275.955 -181.353)"/>
            <path d="M288.1 187.9s2.793-3.632 4.315-3.317c0 0-1.821 3.825-4.348 4.028z" class="apply-picture--leafs" data-name="Path 1970" transform="translate(-280.537 -162.64)"/>
            <path d="M292.71 163.352s2.238-4.15 3.832-4.123c0 0-1.186 3.575-3.772 4.5z" class="apply-picture--leafs" data-name="Path 1971" transform="translate(-284.374 -141.683)"/>
            <path d="M296.7 138.819s2.049-3.241 3.405-3.459c0 0-1.366 4.106-3.358 4.394z" class="apply-picture--leafs" data-name="Path 1972" transform="translate(-287.674 -121.942)"/>
            <path d="M298.131 106.878l1.465-6.3s.987 5.318-1.6 7.436z" class="apply-picture--leafs" data-name="Path 1973" transform="translate(-288.75 -93.177)"/>
            <path d="M294.891 72.791s-.4-4.994-.721-5.361c0 0 2.4 3.818 1.058 7.537z" class="apply-picture--leafs" data-name="Path 1974" transform="translate(-285.582 -65.759)"/>
            <path d="M280.652 402.016s-2.767-1.148-3.772 2.926c0 0 2.475 1.121 4.225-2z" class="apply-picture--leafs" data-name="Path 1975" transform="translate(-271.282 -342.36)"/>
            <path d="M268.429 378.81s-3.308-.9-4.159 3.313c0 0 2.646 1.249 4.6-2.354z" class="apply-picture--leafs" data-name="Path 1976" transform="translate(-260.853 -323.224)"/>
            <path d="M255.834 355.381s-2.625-2.222-5.534.9a4.79 4.79 0 0 0 5.639-.239z" class="apply-picture--leafs" data-name="Path 1977" transform="translate(-249.299 -303.279)"/>
            <path d="M250.861 331.673s-2.674-2.331-5.441.735c0 0 2.909 1.971 5.543-.1z" class="apply-picture--leafs" data-name="Path 1978" transform="translate(-245.263 -283.603)"/>
            <path d="M249.847 306.14s-2.2-3.632-5.337-1.408c0 0 2.4 3.147 5.3 2.075z" class="apply-picture--leafs" data-name="Path 1979" transform="translate(-244.51 -261.427)"/>
            <path d="M250.171 281.8s-2.2-3.7-5.361-1.306c0 0 2.7 3.286 5.3 1.942z" class="apply-picture--leafs" data-name="Path 1980" transform="translate(-244.758 -241.311)"/>
            <path d="M257.81 250.775s-1.319-4.232-4.24-4.15c0 0 1.349 4.472 3.986 5z" class="apply-picture--leafs" data-name="Path 1981" transform="translate(-252.003 -213.964)"/>
            <path d="M262.715 226.482s-1.086-5.179-3.485-4.979c0 0 .723 3.95 3.338 5.76z" class="apply-picture--leafs" data-name="Path 1982" transform="translate(-256.684 -193.183)"/>
            <path d="M267.208 204.211s-1.411-4.227-3.758-4.391c0 0 .963 4.159 3.708 5.491z" class="apply-picture--leafs" data-name="Path 1983" transform="translate(-260.175 -175.254)"/>
            <path d="M279.067 180.078s-.757-4.517-2.248-4.958c0 0-.192 4.232 1.94 5.6z" class="apply-picture--leafs" data-name="Path 1984" transform="translate(-271.228 -154.826)"/>
            <path d="M281.377 158.53s-.949-4.626-2.487-5.05c0 0 .109 3.765 2.323 5.389z" class="apply-picture--leafs" data-name="Path 1985" transform="translate(-272.944 -136.928)"/>
            <path d="M289.523 135.758s-.623-3.784-1.788-4.508c0 0-.346 4.313 1.383 5.361z" class="apply-picture--leafs" data-name="Path 1986" transform="translate(-280.237 -118.543)"/>
            <path d="M288.062 106.623l-2.016-6.143s-.519 5.385 2.248 7.272z" class="apply-picture--leafs" data-name="Path 1987" transform="translate(-278.831 -93.094)"/>
            <path d="M277.533 79.036s-3.239-3.824-3.263-4.306c0 0 .991 4.4 4.56 6.091z" class="apply-picture--leafs" data-name="Path 1988" transform="translate(-269.123 -71.797)"/>
            <path d="M271.922 63.71s-3.384-5.629-4.552-5.94a7.734 7.734 0 0 1 4.725 5.735z" class="apply-picture--leafs" data-name="Path 1989" transform="translate(-263.417 -57.77)"/>
            <path d="M293.688 102.138l-.173-.024c.956-6.954.778-11.267-.5-12.14l.1-.144c1.355.929 1.553 5.185.573 12.308z" class="apply-picture--leafs" data-name="Path 1990" transform="translate(-284.623 -84.286)"/>
            <path d="M277.9 175.014l-.258-.047c.118-.642.249-1.3.394-1.944 1.264-5.629 2.272-10.838 2.817-14.8l.2-.142c-.547 3.978-1.492 9.364-2.757 15a33.755 33.755 0 0 0-.396 1.933z" class="apply-picture--leafs" data-name="Path 1991" transform="translate(-271.911 -140.733)"/>
            <path d="M285.584 288.912a34.037 34.037 0 0 1-7.263-9.166 37.782 37.782 0 0 1-4.092-11.184 44.111 44.111 0 0 1 .145-15.853l.228.194a40.067 40.067 0 0 0 4.019 26.662 33.48 33.48 0 0 0 7.179 9.076z" class="apply-picture--leafs" data-name="Path 1992" transform="translate(-268.551 -218.998)"/>
        </g>
        <path d="M1100.188 727.775s-4.121-.247-3.632 2.641a.7.7 0 0 0 .365.742s.009-.214.424-.142a1.832 1.832 0 0 0 .448.022.925.925 0 0 0 .547-.227 3.273 3.273 0 0 0 1.61-2.373s.334-.413.32-.519l-.692.3a1.249 1.249 0 0 1 .05.918s-.022-.9-.156-.879c-.028 0-.362.173-.362.173a2.061 2.061 0 0 1 .1 1.51s.118-1.077-.228-1.446l-.489.285a2.165 2.165 0 0 1 .154 1.639 3.073 3.073 0 0 0-.258-1.57l-.443.346a2.113 2.113 0 0 1 .173 1.5s-.036-1.314-.271-1.415a2.758 2.758 0 0 0-.448.482s.308.647.118.988c0 0-.118-.877-.213-.88a2.9 2.9 0 0 0-.427.979 2.113 2.113 0 0 1 .334-1.038 1.165 1.165 0 0 0-.593.306s.061-.41.692-.446a2.7 2.7 0 0 1 .4-.467 2.547 2.547 0 0 0-1 .116 1.129 1.129 0 0 1 1.117-.213l.439-.356a3.616 3.616 0 0 0-1.171.012 1.412 1.412 0 0 1 1.288-.093l.477-.285a4.36 4.36 0 0 0-1.119-.1 1.715 1.715 0 0 1 1.257.021l.346-.154s-.519-.1-.664-.116-.159-.059-.159-.059a1.785 1.785 0 0 1 .965.107 4.117 4.117 0 0 0 .701-.309z" 
        class="apply-picture--leafs" data-name="Path 1994" transform="translate(3037.255 292.052)"/>
        
        <ellipse cx="2.917" cy=".493" class="apply-picture--shadows-light" data-name="Ellipse 313" rx="2.917" ry=".493" transform="translate(4131.688 1022.969)"/>
        <path d="M955.838 742.269s-4.977-.3-4.389 3.187a.849.849 0 0 0 .441.9s0-.258.51-.173a2.375 2.375 0 0 0 .541.028 1.138 1.138 0 0 0 .661-.273 3.95 3.95 0 0 0 1.944-2.866s.4-.5.386-.626l-.839.358a1.506 1.506 0 0 1 .061 1.11s-.026-1.088-.188-1.062c-.033 0-.436.209-.436.209a2.488 2.488 0 0 1 .121 1.823s.142-1.3-.275-1.747l-.591.346a2.614 2.614 0 0 1 .185 1.98 3.748 3.748 0 0 0-.31-1.9l-.536.417a2.552 2.552 0 0 1 .213 1.812s-.043-1.588-.329-1.709a3.256 3.256 0 0 0-.54.583s.37.78.14 1.192c0 0-.14-1.057-.256-1.062a3.563 3.563 0 0 0-.519 1.181 2.554 2.554 0 0 1 .4-1.249 1.406 1.406 0 0 0-.714.37s.073-.5.83-.54a3.251 3.251 0 0 1 .489-.564 3.079 3.079 0 0 0-1.211.14 1.355 1.355 0 0 1 1.347-.256l.529-.431a4.347 4.347 0 0 0-1.413.014 1.722 1.722 0 0 1 1.556-.112l.576-.346a5.209 5.209 0 0 0-1.351-.118 2.079 2.079 0 0 1 1.518.024l.413-.169s-.619-.121-.8-.14-.19-.069-.19-.069a2.15 2.15 0 0 1 1.164.13 5.2 5.2 0 0 0 .862-.392z" 
        class="apply-picture--leafs" data-name="Path 1995" transform="translate(3157.274 280.066)"/>

        <ellipse cx="3.523" cy=".595" class="apply-picture--shadows-light" data-name="Ellipse 314" rx="3.523" ry=".595" transform="translate(4106.163 1026.127)"/>
        <path d="M305.238 396.965l-17.347 6.712-25.356 9.8c-.956-1.776-2.367-4.206-4.114-7.09-6-9.952-15.941-25.432-24.785-39.035-9.968-15.327-18.546-28.27-18.546-28.27l6.21-1.8 50.726-14.712z" class="apply-picture__paper-shadow" data-name="Path 1996" transform="translate(3766.251 628.178)"/>
        <path d="M307.238 389.965l-17.347 6.712-25.356 9.8c-.956-1.776-2.367-4.206-4.114-7.09-6-9.952-15.941-25.432-24.785-39.035-9.968-15.327-18.546-28.27-18.546-28.27l6.21-1.8 50.726-14.712z" class="apply-picture__paper" data-name="Path 1997" transform="translate(3764.597 632.967)"/>
        <path d="M336.938 389.965l-17.347 6.712a130.461 130.461 0 0 1-29.47 2.71c-6-9.952-15.941-25.432-24.785-39.035L253 330.282l50.726-14.712z" class="apply-picture__paper-shadow" data-name="Path 1998" transform="translate(3734.897 632.967)"/>
        <path d="M338.265 350.392s-26.95 15.941-67.186 12.344L239 284.537l15.372-2.641 53.14-9.126 30.151 76.111z" class="apply-picture--colored-paper" data-name="Path 1999" transform="translate(3746.476 668.366)"/>
        <path d="M411.214 348.881a127.588 127.588 0 0 1-21.074-.6c-7.993-.937-16.024-2.878-22.924-6.43a69.607 69.607 0 0 1-14.987-10.067c-11.173-10.051-18.089-24.429-24.3-49.89l53.14-9.126z" class="apply-picture__paper-shadow" data-name="Path 2000" transform="translate(3672.925 668.074)"/>
        <path d="M414.945 249.132s-20.1 4.452-40.537 1.71c-8.084-1.078-16.214-3.29-23.184-7.351a70.563 70.563 0 0 1-15.156-11.509c-13.991-14.235-21.374-36.027-28.989-80.055 0 0 33.4 9.112 66.409-10.848.001.001 11.133 78.545 41.457 108.053z" class="apply-picture__paper" data-name="Path 2001" transform="translate(3688.962 766.923)"/>
        <path d="M510.741 581.991c-7.993-.943-16.033-2.878-22.924-6.43a69.6 69.6 0 0 1-14.987-10.067c11.775-.956 13.468-7.395 13.468-7.395 8.73 13.857 24.443 23.892 24.443 23.892z" class="apply-picture__paper-shadow" data-name="Path 2002" transform="translate(3553.083 434.948)"/>
        <path d="M405.85 242.767s17.743 2.025 34.35-7.307l1.138 3.654a88.229 88.229 0 0 1-35.488 7.922z" class="apply-picture--paper-title" data-name="Path 2003" transform="translate(3608.48 698.947)"/>
        <path d="M405.85 329.8a116.841 116.841 0 0 0 37.276-10.914l.664 1.518s-7.227 9.095-37.94 11.471z" class="apply-picture--paper-text" data-name="Path 2004" transform="translate(3608.48 629.98)"/>
        <path d="M417.94 370.492a116.862 116.862 0 0 0 37.276-10.912l.664 1.518s-7.225 9.1-37.94 11.481z" class="apply-picture--paper-text" data-name="Path 2005" transform="translate(3598.481 596.348)"/>
        <path d="M429 414.342a116.861 116.861 0 0 0 37.276-10.912l.664 1.518s-7.236 9.1-37.94 11.481z" class="apply-picture--paper-text" data-name="Path 2006" transform="translate(3589.333 560.105)"/>
        <path d="M442.13 451.922a116.862 116.862 0 0 0 37.276-10.912l.664 1.518s-7.225 9.1-37.94 11.483z" class="apply-picture--paper-text" data-name="Path 2007" transform="translate(3578.474 529.044)"/>
        <path d="M454.23 492.642a116.862 116.862 0 0 0 37.276-10.912l.664 1.518s-7.227 9.1-37.94 11.481z" class="apply-picture__paper-shadow" data-name="Path 2008" transform="translate(3568.467 495.388)"/>
        <path d="M0 0h5.214v5.214H0z" class="apply-picture--checkmark-background" data-name="Rectangle 788" transform="rotate(-18.8 4883.917 -11772.768)"/>
        <path d="M0 0h5.214v5.214H0z" class="apply-picture--checkmark-background" data-name="Rectangle 789" transform="rotate(-18.8 4907.556 -11777.568)"/>
        <path d="M0 0h5.214v5.214H0z" class="apply-picture--checkmark-background" data-name="Rectangle 790" transform="rotate(-18.8 4952.586 -11784.084)"/>
        <path d="M0 0h5.214v5.214H0z" class="apply-picture--checkmark-background" data-name="Rectangle 791" transform="rotate(-18.8 4976.834 -11788.084)"/>
        <path d="M0 0h5.214v5.214H0z" class="apply-picture--checkmark-background" data-name="Rectangle 792" transform="rotate(-18.8 4931.797 -11780.661)"/>
        <path d="M801.58 314.068l-.185-.173c.477-.1.927-.14.927-.14s-1.638-5.925-4.4-7.9a12.966 12.966 0 0 1-3.308-4 60.468 60.468 0 0 0-4.927-7.224l-.5-.628-.214-.273a2.384 2.384 0 0 0 .624-1.409.023.023 0 0 1 0-.01.661.661 0 0 0 0-.083.962.962 0 0 0-.035-.192l-.019.029c-.233-.678-1.131-.977-1.8-1.351-1.556-.877-2.222-2.793-2.554-4.574-.259-1.383-.474-2.94-1.556-3.831-.692-.572-1.633-.761-2.329-1.33a6.809 6.809 0 0 1-1.444-2.11 8.45 8.45 0 0 0-2.81-3.17 4.687 4.687 0 0 0-4.059-.536c-.507.194-.967.495-1.468.7-1.245.519-2.672.45-3.9 1-1.518.674-2.506 2.165-3.409 3.58a17.031 17.031 0 0 0-1.617 2.879v-.112a4.118 4.118 0 0 0-.322 1.5 2.25 2.25 0 0 0 .071.65 2.1 2.1 0 0 0 1.4 1.34 5.846 5.846 0 0 0 .152.652 6.4 6.4 0 0 0 4.133 4.221c.057.021.116.035.173.052a1.371 1.371 0 0 0 .206.38c.552.692 1.658.495 2.378-.009.029-.019.057-.043.085-.064a2.608 2.608 0 0 0 .031.292c.016.083.028.173.045.247a11.954 11.954 0 0 0 2.309 5.382s.154.232.4.616a7.714 7.714 0 0 0 1.766 5.043c-.877.507-2.767 1.5-3.936 1.416 0 0-4.3.555-4.794.277-.069-.038-.135.014-.2.131-1.183-.721-4.965-2.8-5.288-.131-.292 2.421 3.154 2.731 4.8 2.743-.074.709-.116 1.276-.116 1.276l7.057-.482 3.675-.541a4.422 4.422 0 0 1-1.312 1.25s-3.322 2.689-3.9 2.713c-.081 0-.107.081-.1.211-1.4 0-5.743.2-4.538 2.623 1.095 2.195 4.176.676 5.57-.163.329.638.609 1.138.609 1.138l5.695-4.055 1.233-1.038a4.388 4.388 0 0 0 1.226-.237.142.142 0 0 0 .017.045 2.337 2.337 0 0 1 .1.391c.346 1.987-.816 6.622-.816 6.622s-2.556 6.518-1.328 7.407.32 4.64.32 4.64a6.933 6.933 0 0 0 .737 1.017 3.09 3.09 0 0 0 .431.41 4 4 0 0 0-.142.476 3.877 3.877 0 0 0 .2 2.393 10.9 10.9 0 0 1 .33 5.015l-1.657 11.192a4.706 4.706 0 0 0-2.2 0c-.586.33-.394 2 .967 2.712a3.5 3.5 0 0 1-1.4.645 75.832 75.832 0 0 1-2.622.56c-.036 0-2.905-.633-3.642-.214s-.382 2.739 1.714 3.308c2.051.555 9.7 1.37 11.9 1.038l.14-.024c1.873-.37.228-2.831.021-3.13-.014-.1-.026-.206-.04-.32-.029-.256-.055-.55-.074-.865a27.978 27.978 0 0 0 5.1.144.551.551 0 0 0 .125-.022c1.658-.329.206-2.5.019-2.767l-.026-.213v-.019c0-.05-.012-.1-.017-.156a.671.671 0 0 0-.014-.135c-.014-.047 0-.083-.012-.126l-.021-.265v-.112c0-.069-.009-.138-.012-.209v-.116c0-.1 0-.211-.01-.318v-.847c0-.116.01-.235.017-.355l.01-.128c0-.088.014-.173.022-.263a.414.414 0 0 1 .014-.13c.014-.121.029-.242.047-.365a.8.8 0 0 1 .017-.109l.048-.278a.68.68 0 0 1 .028-.138q.031-.15.068-.3a.358.358 0 0 1 .019-.083c.031-.121.066-.24.1-.36.012-.042.026-.083.04-.125.029-.09.061-.173.093-.266l.042-.111c.047-.118.1-.233.149-.346.014-.029.029-.059.045-.088.043-.09.09-.173.138-.266l.059-.1c.066-.111.133-.221.208-.327 1.9-2.712 2.4-7.941 2.357-9.079s.227-3.5.567-3.848a30.029 30.029 0 0 0 2.35-3.476c.144-.256.268-.5.367-.711.564-.2.937-.346.937-.346a8.016 8.016 0 0 1-.284-2.229 6.757 6.757 0 0 1 2.089-4.984 8.15 8.15 0 0 0 2.843-5.513v-.164c.005-.165-.003-.244-.003-.244z" 
        class="apply-picture--women-outline" data-name="Path 2009" transform="translate(3314.583 666.594)"/>
        <path d="M883.339 572.387a29.744 29.744 0 0 1-2.248 3.436 10.235 10.235 0 0 0-.541 3.8c.045 1.122-.431 6.3-2.248 8.977s-.884 7.313-.884 7.313l-2.9 1.017h-3.485l-2.4-.718-.633-1.741s.844-.13 2.94-.628a2.72 2.72 0 0 0 2.17-2.468l1.472-10.278a9.838 9.838 0 0 0-.282-4.389 3.573 3.573 0 0 1 .235-3.13l.047-.073a29.307 29.307 0 0 1 4.585-2.916c2.049-.989 4.128-1.46 4.718.3a3.049 3.049 0 0 1-.546 1.498z" class="apply-picture--women-skin" data-name="Path 2010" transform="translate(3226.252 420.126)"/>
        <path d="M883.339 572.387a29.744 29.744 0 0 1-2.248 3.436 10.235 10.235 0 0 0-.541 3.8c.045 1.122-.431 6.3-2.248 8.977-1.28 1.89-1.2 4.747-1.038 6.271.068.638.151 1.038.151 1.038l-2.9 1.017h-3.481l-2.4-.713-.634-1.742s.211-.033.692-.126 1.211-.253 2.258-.5a2.72 2.72 0 0 0 2.16-2.468l1.472-10.278a9.838 9.838 0 0 0-.282-4.389 3.573 3.573 0 0 1 .235-3.13l.047-.073a29.307 29.307 0 0 1 4.585-2.916c2.049-.989 4.128-1.46 4.718.3a3.049 3.049 0 0 1-.546 1.496z" 
        class="apply-picture--arm-shadows" data-name="Path 2011" transform="translate(3226.252 420.126)"/>
        <path d="M877.418 713.745l-2.9 1.017h-3.485l-2.4-.719L868 712.3s.211-.033.692-.126a1.306 1.306 0 0 0 1 1.411l1.363.047c.192 0 .386.01.576.01a17.378 17.378 0 0 0 5.634-.936c.074.635.153 1.039.153 1.039z" class="apply-picture__paper-shadow" data-name="Path 2012" transform="translate(3226.252 304.954)"/>
        <path d="M858.377 712.377l-1.364-.047a1.331 1.331 0 0 1-.962-1.714s-2.456-.557-3.083-.188-.325 2.4 1.449 2.9c1.729.486 8.208 1.2 10.07.908l.119-.021c1.688-.346 0-2.767 0-2.767a17.447 17.447 0 0 1-6.229.929z" class="apply-picture--shoes" data-name="Path 2013" transform="translate(3238.933 306.499)"/>
        <path d="M850.364 575.267c-.092.183-.19.374-.3.572a32.214 32.214 0 0 1-2.469 3.77c-.367.391-.659 3.026-.612 4.3s-.486 7.1-2.537 10.131a9.694 9.694 0 0 0-1.269 5.38q.008.867.1 1.729c.076.7.173 1.143.173 1.143l-3.272 1.147h-3.938l-2.71-.806-.709-1.978s.237-.038.77-.144 1.363-.282 2.549-.562a3.075 3.075 0 0 0 2.444-2.784l1.658-11.6a11.13 11.13 0 0 0-.316-4.955 3.978 3.978 0 0 1-.194-2.367 3.778 3.778 0 0 1 .519-1.249s.633-.5 1.588-1.157c.422-.291.911-.612 1.437-.937 2.31-1.43 5.349-2.89 6.805-1.826a1.883 1.883 0 0 1 .671.967 2.458 2.458 0 0 1-.388 1.226z" 
        class="apply-picture--women-skin" data-name="Path 2014" transform="translate(3255.348 420.297)"/>
        <path d="M843.44 735.261l-3.272 1.147h-3.929l-2.71-.806-.709-1.978s.237-.038.77-.144a1.444 1.444 0 0 0 .46 1.278 1.54 1.54 0 0 0 .975.367l1.24.04c.216 0 .434.012.65.012a19.669 19.669 0 0 0 6.361-1.058c.076.703.164 1.142.164 1.142z" class="apply-picture__paper-shadow" data-name="Path 2015" transform="translate(3255.348 287.329)"/>
        <path d="M821.9 733.721l-1.238-.041a1.556 1.556 0 0 1-.977-.367 1.529 1.529 0 0 1-.41-1.579s-2.767-.628-3.481-.213-.365 2.71 1.636 3.272c1.959.548 9.264 1.354 11.367 1.026l.133-.024c1.9-.391 0-3.127 0-3.127a19.622 19.622 0 0 1-7.03 1.053z" class="apply-picture--shoes" data-name="Path 2016" transform="translate(3269.712 289.066)"/>
        <path d="M897.358 572.4a16.564 16.564 0 0 1-3.879.984 1.742 1.742 0 0 1-.3-.014 34.08 34.08 0 0 0-4.623.225c-.759.068-1.489.138-2.093.2-.9.093-1.518.161-1.518.161v-.586c.422-.29.911-.612 1.437-.937 2.31-1.43 5.349-2.89 6.8-1.826 2.049-.989 4.128-1.46 4.718.3a3.166 3.166 0 0 1-.542 1.493z" class="apply-picture__paper-shadow" data-name="Path 2017" transform="translate(3212.234 422.663)"/>
        <path d="M902.976 497.389a8.191 8.191 0 0 1-2.717 5.453c-3 2.931-1.729 7.141-1.729 7.141a23.691 23.691 0 0 1-5.124 1.444 1.741 1.741 0 0 1-.3-.014 55.372 55.372 0 0 0-6.722.425c-.9.093-1.518.161-1.518.161v-12.451l16.59-4.028 1.5 1.5a2.776 2.776 0 0 1 .02.369z" class="apply-picture--skirt" data-name="Path 2018" transform="translate(3212.3 483.984)"/>
        <g class="apply-picture--women-shadow" data-name="Group 674" transform="translate(4097.177 979.509)">
            <path d="M885.183 587.76l-.273.029v.131s.619-.068 1.518-.161c1.518-.154 3.837-.37 5.371-.434a60.542 60.542 0 0 0-6.616.435z" data-name="Path 2020" transform="translate(-884.91 -571.44)"/>
            <path d="M940.03 497.048l-1.5-1.5-1 .251 1.259 1.254a2.77 2.77 0 0 1 0 .375 8.194 8.194 0 0 1-2.717 5.453c-3 2.93-1.729 7.141-1.729 7.141a28.462 28.462 0 0 1-4.659 1.4 4.285 4.285 0 0 1 .484.026 1.73 1.73 0 0 0 .3.016 23.693 23.693 0 0 0 5.124-1.444s-1.28-4.211 1.729-7.141a8.194 8.194 0 0 0 2.717-5.453 2.774 2.774 0 0 0-.008-.378z" data-name="Path 2021" transform="translate(-921.938 -495.55)"/>
        </g>
        <path d="M772.042 447.559s-5.015-3.479-5.383-.346 5.383 2.686 5.383 2.686z" class="apply-picture--women-skin" data-name="Path 2022" transform="translate(3310.082 525.024)"/>
        <path d="M802.142 442.13s-2.713 1.8-4.214 1.684c0 0-4.1.55-4.579.275s-.768 3.978-.768 3.978l6.745-.476 4.323-.661s2.162-1.318 2.162-2.454-3.669-2.346-3.669-2.346z" class="apply-picture--top" data-name="Path 2023" transform="translate(3288.629 528.138)"/>
        <path d="M802.142 442.13s-2.713 1.8-4.214 1.684c0 0-4.1.55-4.579.275s-.768 3.978-.768 3.978l6.745-.476 4.323-.661s2.162-1.318 2.162-2.454-3.669-2.346-3.669-2.346z" class="apply-picture--arm-shadows" data-name="Path 2024" transform="translate(3288.629 528.138)"/>
        <path d="M801.269 494.463s-6.1-.252-4.733 2.594 5.989-.609 5.989-.609z" class="apply-picture--women-skin" data-name="Path 2025" transform="translate(3285.522 484.888)"/>
        <path d="M839.705 413.656s-4.944-3.7-4.247-8.2 4.247 3.448 4.247 3.448z" class="apply-picture--skirt" data-name="Path 2026" transform="translate(3253.222 559.587)"/>
        <path d="M792.655 311.524a6.257 6.257 0 0 1-1.759 4.342 5.882 5.882 0 0 1-.9.77 6.448 6.448 0 0 1-2.051.948 6.513 6.513 0 0 1-.887.157 6.656 6.656 0 0 1-.65.033 6.1 6.1 0 0 1-2.06-.346 6.25 6.25 0 1 1 8.31-5.9z" class="apply-picture--women-skin" data-name="Path 2027" transform="translate(3298.906 641.234)"/>
        <path d="M892.977 497.389c-.56.1-1.252.291-1.252.581 0 .489-7.813 3.127-7.813 3.127s.292.681-.488 1.854-7.13 7.91-7.13 7.91l.021.2.081.776.387 3.711a12.867 12.867 0 0 0-3.224-.782 1.072 1.072 0 0 1-.78-.363 3.778 3.778 0 0 1 .519-1.249s.633-.5 1.588-1.157v-12.449l16.59-4.028 1.5 1.5a2.775 2.775 0 0 1 .001.369z" 
        class="apply-picture__paper-shadow" data-name="Path 2028" transform="translate(3222.299 483.979)"/>
        <path d="M857.71 380.47s-1.954.194-1.954.683-7.813 3.127-7.813 3.127.292.681-.488 1.854-7.13 7.912-7.13 7.912l.489 4.687a12.868 12.868 0 0 0-3.224-.782c-.346.043-.735-.278-1.055-.654a6.8 6.8 0 0 1-.7-1s.88-3.713-.292-4.591 1.269-7.324 1.269-7.324 1.1-4.583.778-6.549a2.354 2.354 0 0 0-.093-.387.137.137 0 0 0-.014-.043c-.692-1.878-8.19-17.639-8.19-17.639a11.307 11.307 0 0 1 .093-1.337 8.22 8.22 0 0 1 .059-.38 6.451 6.451 0 0 1 .152-.692 4.316 4.316 0 0 1 .142-.431c.232-.595.586-1.053 1.115-1.064a3.278 3.278 0 0 1 1.961-.825 8.533 8.533 0 0 1 4.389.825c4.588 1.951 5.664 2.051 5.664 2.051l2.305 3.026.474.621a59.816 59.816 0 0 1 4.706 7.142 12.713 12.713 0 0 0 3.16 3.957c2.634 1.954 4.197 7.813 4.197 7.813z" 
        class="apply-picture--top" data-name="Path 2029" transform="translate(3258.268 600.037)"/>
        <path d="M894.65 437.05s6.52 1.612 9.046 5.676z" class="apply-picture__paper-shadow" data-name="Path 2030" transform="translate(3204.211 532.339)"/>
        <path d="M906.3 478.34s1.233 8.278.891 8.9-.891-8.9-.891-8.9z" class="apply-picture__paper-shadow" data-name="Path 2031" transform="translate(3194.576 498.198)"/>
        <path d="M876.821 492.9c-.474.621-2.4 5.42-2.4 5.42l.555 8.059.489 4.687a12.848 12.848 0 0 0-3.222-.782c-.346.043-.737-.278-1.055-.654.507-2.745 1.591-8.488 1.786-8.6a26.848 26.848 0 0 0 1.646-6.053c.069-1.292 1.9-4.171 1.9-4.171s.78 1.476.301 2.094z" 
        class="apply-picture__paper-shadow" data-name="Path 2032" transform="translate(3223.614 487.871)"/>
        <path d="M840.325 383.2c-.121.365-.308 2.49-.308 2.49a2.875 2.875 0 0 1-2.43 2.681 2.353 2.353 0 0 0-.093-.387c-.586-1.658-8.2-17.676-8.2-17.676a10.524 10.524 0 0 1 .3-2.411 9.722 9.722 0 0 1 4.284.263c.759-.1 3.236 4.823 3.236 4.823s1.65 3.77 1.831 4.284a9.084 9.084 0 0 1 .073 1.65c.073.294.844.546.953.951s.038 1.211.111 1.354a6 6 0 0 1 .243 1.978z" 
        class="apply-picture__paper-shadow" data-name="Path 2033" transform="translate(3258.268 589.584)"/>
        <path d="M832.086 381.482c-.121.367-.308 2.49-.308 2.49a2.766 2.766 0 0 1-1.951 2.544 4.087 4.087 0 0 1-1.172.233l-1.178 1.024-5.439 4s-2.027-3.748-1.477-3.768 3.722-2.684 3.722-2.684c.97-.519 1.942-2.248 2.393-3.137a2.739 2.739 0 0 1-.059-.322c-.2-1.658-4.3-8.009-4.3-8.009a11.993 11.993 0 0 1-2.2-5.323c-.017-.08-.029-.161-.045-.244a2.47 2.47 0 0 1-.031-.325c-.074-1.33.894-1.814 2.042-1.928a8.2 8.2 0 0 1 1.8.055 13.02 13.02 0 0 1 1.759.346c.491-.066 1.7 1.977 2.5 3.424.427.785.735 1.4.735 1.4s1.65 3.772 1.831 4.284a9.084 9.084 0 0 1 .073 1.65c.073.292.844.548.953.953s.038 1.211.111 1.354a6.011 6.011 0 0 1 .241 1.983z" 
        class="apply-picture--top" data-name="Path 2034" transform="translate(3265.921 590.983)"/>
        <path d="M805.366 322.813a3.727 3.727 0 0 1-4.059.519 27.255 27.255 0 0 1-3.732-2.279c-.809-.495-1.667-.9-2.464-1.409a10.424 10.424 0 0 1-.346-.232c-.92-.65-1.717-1.486-2.67-2.075a4.15 4.15 0 0 0-2.144-.692 2.438 2.438 0 0 0-1.022.214 1.387 1.387 0 0 0-.173.085 4.409 4.409 0 0 0-.865.649c-.27.242-.528.5-.811.726-.017-.08-.029-.161-.045-.244a2.471 2.471 0 0 1-.031-.325 6.656 6.656 0 0 1-.65.033 6.1 6.1 0 0 1-2.06-.346.141.141 0 0 0-.016-.078 4.925 4.925 0 0 0-1.646-3.227 11.462 11.462 0 0 0-2.286-.865 6.25 6.25 0 1 1 11.777.676 8.532 8.532 0 0 1 4.389.825c4.588 1.951 5.664 2.051 5.664 2.051l2.305 3.026a2.586 2.586 0 0 0-.557 1.2c-.043.815.75 1.384 1.442 1.768z" 
        class="apply-picture__paper-shadow" data-name="Path 2035" transform="translate(3298.949 641.192)"/>
        <path d="M776.422 292.8a4.93 4.93 0 0 1 1.648 3.224 2.514 2.514 0 0 0 .377 1.093c.519.681 1.584.489 2.271 0a13.338 13.338 0 0 1 1.994-1.577 3.436 3.436 0 0 1 3.166.472c.953.6 1.75 1.432 2.67 2.075.891.628 1.883 1.076 2.81 1.641a26.735 26.735 0 0 0 3.732 2.279 3.738 3.738 0 0 0 4.057-.519c-.692-.384-1.485-.951-1.432-1.774s1.012-1.437.948-2.281-1.057-1.174-1.769-1.589c-1.487-.865-2.122-2.767-2.44-4.522-.247-1.373-.451-2.907-1.477-3.789-.662-.567-1.556-.752-2.224-1.314a6.835 6.835 0 0 1-1.383-2.087 8.3 8.3 0 0 0-2.683-3.132 4.3 4.3 0 0 0-3.876-.529c-.484.192-.925.489-1.4.692-1.19.519-2.551.444-3.728.986-1.451.668-2.393 2.141-3.256 3.54-.73 1.2-2.177 3.312-1.767 4.868.405 1.577 2.686 1.492 3.762 2.243z" 
        class="apply-picture--hair" data-name="Path 2036" transform="translate(3305.167 661.897)"/>
        <g class="apply-picture--women-shadow" data-name="Group 675" transform="translate(4077.748 950.394)">
            <path d="M920.234 378.33a1.092 1.092 0 0 0-.033-.19 2.926 2.926 0 0 0-.621 1.3 1.176 1.176 0 0 0 .028.334 2.515 2.515 0 0 0 .626-1.444z" data-name="Path 2037" transform="translate(-894.153 -369.417)"/>
            <path d="M795.362 340.02a26.724 26.724 0 0 1-3.73-2.279c-.929-.566-1.921-1.013-2.812-1.641-.92-.65-1.717-1.486-2.67-2.075a3.461 3.461 0 0 0-3.167-.474 12.9 12.9 0 0 0-1.994 1.579c-.688.5-1.743.692-2.271 0a2.514 2.514 0 0 1-.377-1.093 4.927 4.927 0 0 0-1.646-3.224c-1.077-.752-3.358-.668-3.772-2.248a2.459 2.459 0 0 1-.054-.865 3.456 3.456 0 0 0-.24 2.032c.415 1.588 2.7 1.5 3.772 2.248a4.934 4.934 0 0 1 1.648 3.225 2.534 2.534 0 0 0 .375 1.093c.519.681 1.584.489 2.272-.009a12.8 12.8 0 0 1 1.994-1.577 3.442 3.442 0 0 1 3.167.474c.953.6 1.75 1.432 2.67 2.075.891.63 1.883 1.076 2.81 1.641a26.578 26.578 0 0 0 3.732 2.281 3.742 3.742 0 0 0 4.057-.519 4.968 4.968 0 0 1-.756-.5 4.31 4.31 0 0 1-3.008-.144z" data-name="Path 2038" transform="translate(-772.561 -327.7)"/>
        </g>
        <path d="M717.644 442.227l13.835-5.167a1.314 1.314 0 0 1 1.693.771 1.316 1.316 0 0 1-.773 1.693l-13.835 5.169-2.964-.3z" class="apply-picture--skirt" data-name="Path 2039" transform="translate(3352.297 532.394)"/>
        <path d="M732.735 438.387a1.318 1.318 0 0 1-.773 1.695l-13.835 5.167-2.227-.223-.32.346 2.964.3 13.835-5.169a1.316 1.316 0 0 0 .773-1.693 1.31 1.31 0 0 0-.538-.657 1.435 1.435 0 0 1 .121.234z" class="apply-picture--pencil-shadow " data-name="Path 2040" transform="translate(3352.313 531.424)"/>
        <path d="M695.344 415.58l.922 2.466-2.433-.244-.533-.054.728-.771z" class="apply-picture--pencil-tip" data-name="Path 2041" transform="translate(3374.597 559.068)"/>
        <path d="M716.343 475.42a.528.528 0 0 1 .142.156.223.223 0 0 1 0 .24.541.541 0 0 1-.135.1.441.441 0 0 0-.2.334l-.533-.054z" class="apply-picture--pencil-writtin-tip " data-name="Path 2042" transform="translate(3352.28 500.633)"/>
        <path d="M645.676 289.341l-2.333-1.138a.282.282 0 0 1-.13-.377l.247-.508a.28.28 0 0 1 .377-.13l1.572.766 1.641-3.365a.284.284 0 0 1 .377-.131l.508.249a.28.28 0 0 1 .13.377l-2.013 4.128a.282.282 0 0 1-.377.13z" class="apply-picture--check-marks " data-name="Path 2043" transform="translate(3412.189 658.506)"/>
        <path d="M675.146 373.495l-2.333-1.138a.282.282 0 0 1-.13-.377l.247-.508a.284.284 0 0 1 .379-.13l1.57.766 1.639-3.369a.284.284 0 0 1 .377-.131l.507.249a.282.282 0 0 1 .131.377l-2.013 4.128a.285.285 0 0 1-.379.13z" class="apply-picture--check-marks " data-name="Path 2044" transform="translate(3387.815 588.943)"/>
        <path d="M661.912 332l-2.333-1.138a.284.284 0 0 1-.131-.377l.249-.508a.28.28 0 0 1 .377-.13l1.572.766 1.641-3.371a.282.282 0 0 1 .377-.13l.508.247a.285.285 0 0 1 .13.379l-2.015 4.131a.282.282 0 0 1-.377.13z" class="apply-picture--check-marks " data-name="Path 2045" transform="translate(3398.762 623.245)"/>
        <path d="M687.946 411.511l-2.333-1.138a.282.282 0 0 1-.13-.377l.247-.508a.282.282 0 0 1 .377-.13l1.572.766 1.641-3.365a.285.285 0 0 1 .379-.131l.507.249a.28.28 0 0 1 .13.377l-2.011 4.128a.285.285 0 0 1-.379.13z" class="apply-picture--check-marks " data-name="Path 2046" transform="translate(3377.229 557.514)"/>
    </g>
</svg>

