<div class="step-section__article 
    {{#eq side "right"}} step-section__article--space-left{{/eq}}  
    {{#eq hidden "Yes"}} step-section__article--hide{{/eq}}
    {{#eq side "right"}} 
        {{#eq hidden "No"}} 
            step-section__article--hide-mobile
        {{/eq}}
    {{/eq}}">

    <h2 class=" section-heading--{{theme}}
    step-section__title step-section__title--{{side}}">{{title}}</h2>

    <div class="step-section__divider-wrapper">

        <hr class="step-section__divider--{{theme}}"> 
        <div class="step-section__step-iliustration-wrapper step-section__step-iliustration-wrapper--{{#eq side "left"}}rigth{{else}}left{{/eq}}">
            {{> illiustration.html  image=image theme=theme }}
        </div>

    </div>

    <p class="paragraph step-section__text--{{side}}">{{text}}</p>
</div>