<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="144.434" height="149.796" viewBox="0 0 144.434 149.796" class="{{styles}}">
    <defs>
        <linearGradient x2=".999" y1=".5" y2=".5" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="gray" stop-opacity=".251"/>
            <stop offset=".54" stop-color="gray" stop-opacity=".122"/>
            <stop offset="1" stop-color="gray" stop-opacity=".102"/>
        </linearGradient>
        <linearGradient x1=".5" x2=".5" y1="1" xlink:href="#linear-gradient"/>
    </defs>
    <g data-name="Group 625" transform="translate(-8.781 18.059)">
        <ellipse cx="59.063" cy="16.875" class="pass-picture--letter" data-name="Ellipse 258" rx="59.063" ry="16.875" transform="translate(28.11 89.071)"/>
        <path d="M897.261 324.92a24.983 24.983 0 0 0-4.556 25.988c5.906 15.525-10.125 41.344-10.125 41.344s.169-.025.491-.081a30.463 30.463 0 0 0 20.216-46.628c-4.436-6.787-8.087-14.75-6.026-20.623z" class="pass-picture--leaf" data-name="Path 1626" transform="translate(-762.895 -284.62)"/>
        <path d="M897.261 324.92s-5.906 12.825 0 23.288 1.013 39.825-14.681 44.044" class="pass-picture--stems" data-name="Path 1627" transform="translate(-762.895 -284.62)"/>
        <path d="M902.778 575.046s-11.939-1.9-13.028 8.8-22.95 12.182-22.95 12.182.142.1.41.273c18.056 11.853 35.318 7.55 32.717-8.19-.973-5.851-.896-11.729 2.851-13.065z" class="pass-picture--darker-leafs" data-name="Path 1628" transform="translate(-749.778 -492.428)"/>
        <path d="M902.744 575.69s-9.268 2.035-8.507 10.463-13.768 18.525-27.478 10.515" class="pass-picture--stems" data-name="Path 1630" transform="translate(-749.744 -493.072)"/>
        <path d="M154.881 86.094a14.776 14.776 0 0 0-5.5.627c-4.739 1.705-6.986 7.284-6.255 12.116s3.735 9.027 6.852 12.872 6.495 7.64 8.2 12.229a10.276 10.276 0 0 1 .385 7.148c-1.336 3.529-5.366 5.5-9.234 5.91s-7.753-.389-11.635-.667a10.109 10.109 0 0 0-9.216 3.3c-5.034 4.691-9.064 11.1-8.412 17.819.737 7.622 7.313 13.648 14.515 16.878 2.385 1.072 4.907 1.939 7.006 3.469 5.529 4.033 6.771 11.591 6.221 18.264s-2.426 13.352-1.382 19.967a24.2 24.2 0 0 0 13.994 17.888c6.532 2.89 14.706 2.71 20.5-1.379a27.185 27.185 0 0 0 6.824-7.622 64.8 64.8 0 0 0 6.785-13.759c.809-2.292 1.569-4.758 3.456-6.352a10.97 10.97 0 0 1 4.122-1.957c4.451-1.285 9.14-1.639 13.632-2.782s9.013-3.273 11.455-7.082c3.456-5.405 1.843-12.318 1.859-18.677.028-14.488 9.011-27.46 12.326-41.579 1.083-4.616 1.486-9.723-.933-13.839a18.009 18.009 0 0 0-7.331-6.366c-6.4-3.433-13.685-4.961-20.848-6.448-9.955-2.063-22.044-2.33-29.76-9.005-7.398-6.406-17.528-10.973-27.626-10.973z" class="pass-picture--background" data-name="Path 1631" transform="translate(-111.218 -104.134)"/>
        <g class="pass-picture--man-bottom-shadow " data-name="Group 622" transform="translate(17.696 5.201)">
            <path d="M259.17 154.294a25.4 25.4 0 0 0-1.229-7.8l-2.026-6.283v-.311c.062-4.025-3.075-6.033-4.283-5.815-1.237.223-4.669-1.5-4.669-1.5v.047a6.429 6.429 0 0 1-.635-.867 5.5 5.5 0 0 0 1.132-7.793 2.418 2.418 0 0 0 .815-1.094 2.779 2.779 0 0 0-.39-2.39 4.63 4.63 0 0 0-.675-.8 8.546 8.546 0 0 0-1.259-1.029 9.569 9.569 0 0 0-3.713-1.688 1.546 1.546 0 0 0-.71 0 2.945 2.945 0 0 0-.575.311 5.706 5.706 0 0 1-3.142.243c-1.066-.056-2.363.243-2.7 1.244a9.136 9.136 0 0 0-.169.96 5.936 5.936 0 0 1-1.23 2.025 2.178 2.178 0 0 0-.424 2.221c.132.236.337.454.337.724a2.072 2.072 0 0 1-.169.553 1.171 1.171 0 0 0 .44 1.149 1.872 1.872 0 0 0 .506.386c.535.273 1.151.358 1.7.611a2.786 2.786 0 0 1 .739.506 2.906 2.906 0 0 1 .8 2.1l.113.012v.1c.118.013.243.025.366.03a5.569 5.569 0 0 0 .606.8q-.057.216-.13.439a11.257 11.257 0 0 1-7.329 1.915c-3.937-.555-6.188 16.657-6.188 16.657a19.686 19.686 0 0 0-.213 2.973c-.017 2.531.515 5.844 3.476 5.356l1.574-.518v8.513a8.43 8.43 0 0 1-.562 3.881c-.786 1.549 2.476 1 2.476 1s.125.13.354.351l-.073.2.1.1a22.324 22.324 0 0 1-1.726 4.234l.093.047c-.059.113-.093.169-.093.169s1.212.619 2.879 1.417c1.34 4.529 4.273 15.019 3.308 17.017l.027.057a9.8 9.8 0 0 1 .986 4.607c-.184 1.809 2.32 10.029 3.255 13.014l-.442.089 1.574 5.663-.338 3.665s-1.912 5.108 2.587 4.109a3.953 3.953 0 0 0 3.262-5.108l.113-8.33s-.434-.241-.969-.473a17.263 17.263 0 0 1-1.169-4.968c0-2.109-1.463-11.217-1.463-11.217v-.064l-.008-.122v-.02c0-.113-.019-.268-.032-.457v-.01a132.4 132.4 0 0 1-.305-15.188 9.743 9.743 0 0 1 1.013-.6c1.1 2.768 3.918 10.245 3.738 13.382-.224 3.881-.056.834 0 .337.017-.154.029.032.034.449v1.642c0 .337 0 .712-.012 1.1v.236c0 .238 0 .481-.012.727 0 .337-.013.665-.02 1-.017.759-.039 1.527-.066 2.246q0 .12-.008.238-.008.236-.019.462t-.02.442q-.01.214-.022.417c-.008.159-.019.311-.027.456l-.611-.088-.13 1.4a15.266 15.266 0 0 0 .844 6.581c.209.577.371 1.055.407 1.225.113.555 0 4.556 0 4.556s.675 5.219 3.826 4.219a4.04 4.04 0 0 0 2.435-3.194 7.921 7.921 0 0 0-.39-4.771 6.9 6.9 0 0 1-.582-3.918 24.257 24.257 0 0 0 .562-5.108l-.348-.049a5.539 5.539 0 0 0 .235-.506s-.113-7.663.9-8.662c.557-.55.506-1.871.338-2.951a20.193 20.193 0 0 1-.169-4.725 7.51 7.51 0 0 1 .285-1.77c.3-.587.594-6.507-.721-9.356l.27-.084-.042-.209.042-.014a16.534 16.534 0 0 0 .675 1.554.618.618 0 0 0 .224.111c3.643-.64 3.79-4.04 3.588-5.9.154.074.238.122.238.122l.337-4.894A7.075 7.075 0 0 0 261 163.2a31.639 31.639 0 0 0-1.83-8.906zm-4.016 13.91c-.25-2.131-.6-4.138-.6-4.138l-1.687-6v-2.184l2.676 9.99z" 
            class="pass-picture--man-shoes" data-name="Path 1632" transform="translate(-224.868 -116.925)"/>
        </g>
        <path d="M358.463 614.93l-.125 1.372a15.1 15.1 0 0 0 .818 6.438c.2.565.358 1.031.391 1.2.108.543 0 4.45 0 4.45s.651 5.1 3.691 4.124a3.954 3.954 0 0 0 2.349-3.122 7.837 7.837 0 0 0-.378-4.661 6.805 6.805 0 0 1-.562-3.829 23.951 23.951 0 0 0 .543-4.992z" class="pass-picture--man-shoe-color" data-name="Path 1633" transform="translate(-318.068 -525.69)"/>
        <path d="M340.09 456.634s4.232 10.311 4.015 14.108-.054.813 0 .326a102.921 102.921 0 0 1-.326 10.631s4.45 3.255 6.186-1.085c0 0-.108-7.487.867-8.465.537-.537.484-1.829.326-2.884a19.988 19.988 0 0 1-.169-4.612 7 7 0 0 1 .275-1.73c.326-.651.651-8.031-1.3-10.093z" class="pass-picture--man-suit" data-name="Path 1634" transform="translate(-302.951 -390.945)"/>
        <path d="M344.331 481.753a103.032 103.032 0 0 0 .326-10.631c-.054.488-.218 3.473 0-.326s-4.015-14.108-4.015-14.108l9.469-3.642a2.351 2.351 0 0 0-.135-.157l-9.875 3.8s4.231 10.311 4.014 14.111-.054.813 0 .326a102.921 102.921 0 0 1-.326 10.631 6.2 6.2 0 0 0 3.524 1.161 6.689 6.689 0 0 1-2.982-1.165z" class="pass-picture--man-shadows" data-name="Path 1635" transform="translate(-302.959 -390.995)"/>
        <path d="M318.22 669.135l1.519 5.535-.326 3.581s-1.844 4.992 2.5 4.015a3.871 3.871 0 0 0 3.147-4.992l.108-8.139a6.419 6.419 0 0 0-2.5-.867c-.759.109-4.448.867-4.448.867z" class="pass-picture--man-shoe-color" data-name="Path 1636" transform="translate(-284.771 -570.02)"/>
        <path d="M273.85 459.94s4.992 16.17 3.8 18.666a9.814 9.814 0 0 1 .977 4.556c-.216 2.168 3.473 13.782 3.473 13.782l5.427-.977a18.933 18.933 0 0 1-1.3-5.317c0-2.062-1.411-10.969-1.411-10.969s-1.193-16.279.218-18.016z" class="pass-picture--man-suit" data-name="Path 1637" transform="translate(-247.889 -396.855)"/>
        <g class="pass-picture--man-shadows" data-name="Group 623" transform="translate(25.961 63.085)">
            <path d="M335.745 478c-.9 3.686.095 17.248.095 17.248s1.411 8.9 1.411 10.969a16.946 16.946 0 0 0 1.117 4.828l.294-.052a18.933 18.933 0 0 1-1.3-5.317c0-2.062-1.411-10.969-1.411-10.969s-.912-12.395-.206-16.707z" data-name="Path 1638" transform="translate(-324.987 -474.952)"/>
            <path d="M296.36 569.993l.027.056c.008-.056.017-.115.022-.169a1.2 1.2 0 0 1-.049.113z" data-name="Path 1639" transform="translate(-292.561 -551.328)"/>
            <path d="M284.783 462.2a1.6 1.6 0 0 1 .245-.521l-11.178-1.739s.066.211.179.587z" data-name="Path 1640" transform="translate(-273.85 -459.94)"/>
        </g>
        <path d="M403.833 420.937s1.628 6.075-3.255 6.946a.594.594 0 0 1-.218-.108s-2.822-5.535-.651-7.705z" class="pass-picture--man-skin" data-name="Path 1641" transform="translate(-351.827 -363.713)"/>
        <path d="M290.34 186s.326 4.556-3.255 6.728 7.594 8.139 7.594 8.139l5.861-9.334s-2.494.322-4.013-4.015z" class="pass-picture--man-skin" data-name="Path 1642" transform="translate(-258.301 -169.143)"/>
        <path d="M266.857 227.78s5.535 11.5 10.527.651l7.705 38.2s-11.939 3.691-12.045 5.427S261 267.609 261 267.609s2.6-4.776 1.954-7.705 3.903-32.124 3.903-32.124z" class="pass-picture--man-shadows" data-name="Path 1643" transform="translate(-237.207 -203.872)"/>
        <path d="M266.857 226.49s5.535 11.5 10.527.651l7.705 38.2s-11.939 3.691-12.045 5.427S261 266.319 261 266.319s2.6-4.776 1.954-7.705 3.903-32.124 3.903-32.124z" class="pass-picture--man-shirt" data-name="Path 1644" transform="translate(-237.207 -202.8)"/>
        <path d="M326.372 675.957s-1.411-3.147 1.844-3.147 2.714 2.822 2.714 2.822z" class="pass-picture--man-shoe-color" data-name="Path 1645" transform="translate(-291.295 -573.803)"/>
        <path d="M370.332 626.1s-1.3-3.365 1.954-3.473 1.628 3.038 1.628 3.038z" class="pass-picture--man-shoe-color" data-name="Path 1646" transform="translate(-327.876 -532.086)"/>
        <path d="M355.2 212s3.309 1.688 4.5 1.465 4.34 1.844 4.124 5.969l1.961 6.153a25.127 25.127 0 0 1 1.181 7.629s2.822 7.813 1.3 11.286l-.326 4.776a8.781 8.781 0 0 0-5.1-.977l.656-3.9-2.936-11.072-4.877-11.829z" class="pass-picture--man-shadows" data-name="Path 1647" transform="translate(-315.511 -190.755)"/>
        <path d="M355.2 210.73s3.309 1.688 4.5 1.465 4.34 1.844 4.124 5.969l1.961 6.153a25.127 25.127 0 0 1 1.181 7.629s2.822 7.813 1.3 11.286l-.326 4.776a8.781 8.781 0 0 0-5.1-.977l.651-3.907-2.931-11.068-4.879-11.829z" class="pass-picture--man-suit-2" data-name="Path 1648" transform="translate(-315.511 -189.7)"/>
        <path d="M360.681 243.16v12.263l1.628 5.861s1.085 6.4.759 8.357-5.535 2.388-6.946.759-.651-15.525-.651-15.525l-.272-20.343.218-.651z" class="pass-picture--man-shadows" data-name="Path 1649" transform="translate(-315.511 -208.943)"/>
        <path d="M362 243.133V255.4l1.628 5.861s1.085 6.4.759 8.357-5.535 2.388-6.946.759-.651-15.525-.651-15.525l-.27-20.352z" class="pass-picture--man-suit-2" data-name="Path 1650" transform="translate(-316.608 -209.458)"/>
        <path d="M259.38 240.8l3.473 10.8-1.628 4.612s7.705 8.139 12.589 4.232c0 0 .543-16.605-.543-20.512s-6.294-17.044-6.294-17.044l-1.077-3.468-5.751 3.255z" class="pass-picture--man-shadows" data-name="Path 1651" transform="translate(-235.86 -196.923)"/>
        <path d="M254.509 237.529v10.631a8.336 8.336 0 0 1-.543 3.8c-.761 1.519 2.388.977 2.388.977s7.705 8.139 12.589 4.232c0 0 .543-16.605-.543-20.512s-6.294-17.044-6.294-17.044l-1.085-3.473-5.751 3.255z" class="pass-picture--man-suit-2" data-name="Path 1652" transform="translate(-231.261 -194.197)"/>
        <path d="M242.181 204.95a10.8 10.8 0 0 1-7.108 1.9c-3.8-.543-5.969 16.279-5.969 16.279s-1.411 8.682 3.147 7.923l10.093-3.365a7.206 7.206 0 0 1-1.844-5.209l-4.885 1.952.219-9.332z" class="pass-picture--man-shadows" data-name="Path 1653" transform="translate(-210.522 -184.895)"/>
        <path d="M230.384 308.171s-1.411 8.682 3.147 7.923l10.093-3.365a7.2 7.2 0 0 1-1.844-5.209l-4.882 1.954z" class="pass-picture--man-shadows" data-name="Path 1654" transform="translate(-211.586 -270.156)"/>
        <path d="M297.51 300.034s3.387-4.453 5.881-2.315-4.987 6.056-4.987 6.056z" class="pass-picture--man-skin" data-name="Path 1655" transform="translate(-267.556 -261.526)"/>
        <path d="M242.181 203.66a10.8 10.8 0 0 1-7.108 1.9c-3.8-.543-5.969 16.279-5.969 16.279s-1.411 8.682 3.147 7.923l10.093-3.365a7.206 7.206 0 0 1-1.844-5.209l-4.885 1.954.219-9.334 5.535-4.556z" class="pass-picture--man-suit-2" data-name="Path 1656" transform="translate(-210.522 -183.823)"/>
        <path d="M316.42 188.779l-6.186-1.519s.322.365-.054 1.79c1 1.142 2.219 2.66 3.853 2.66a5.4 5.4 0 0 0 3.243-1.075 9.757 9.757 0 0 1-.856-1.856z" class="pass-picture--man-shadows" data-name="Path 1657" transform="translate(-278.088 -170.19)"/>
        <circle cx="5.427" cy="5.427" r="5.427" class="pass-picture--man-skin" data-name="Ellipse 259" transform="translate(30.41 10.45)"/>
        <path d="M288.151 128.359c1.259-.214 2.643-.773 3.065-1.978a2.744 2.744 0 0 0-.376-2.336 6.39 6.39 0 0 0-1.757-1.688 9.113 9.113 0 0 0-3.588-1.647 1.473 1.473 0 0 0-.685 0 2.828 2.828 0 0 0-.555.3 5.459 5.459 0 0 1-3.038.238c-1.034-.054-2.275.238-2.6 1.215-.1.3-.094.628-.169.938a6.01 6.01 0 0 1-1.181 1.983 2.164 2.164 0 0 0-.408 2.17c.127.231.338.444.338.707a2.193 2.193 0 0 1-.169.542 1.325 1.325 0 0 0 .81 1.392c.516.267 1.11.349 1.637.6a2.869 2.869 0 0 1 1.6 2.656 1.555 1.555 0 0 0 1.362-.273c.145-.16.216-.375.348-.545a3.685 3.685 0 0 1 .648-.533c1.136-.933.329-2.222.972-3.228.337-.518.874-.359 1.418-.351a12.526 12.526 0 0 0 2.328-.162z" class="pass-picture--man-shadows" data-name="Path 1658" transform="translate(-250.257 -114.838)"/>
        <path d="M287.511 127.719c1.259-.214 2.643-.773 3.065-1.978a2.743 2.743 0 0 0-.376-2.336 6.39 6.39 0 0 0-1.757-1.688 9.113 9.113 0 0 0-3.588-1.647 1.473 1.473 0 0 0-.685 0 2.829 2.829 0 0 0-.555.3 5.459 5.459 0 0 1-3.038.238c-1.034-.054-2.275.238-2.6 1.215-.1.3-.095.628-.169.938a6.01 6.01 0 0 1-1.181 1.983 2.164 2.164 0 0 0-.408 2.17c.127.231.337.444.337.707a2.195 2.195 0 0 1-.169.542 1.325 1.325 0 0 0 .81 1.392c.516.267 1.11.349 1.637.6a2.869 2.869 0 0 1 1.6 2.663 1.555 1.555 0 0 0 1.362-.273c.145-.16.216-.375.348-.545a3.685 3.685 0 0 1 .648-.533c1.136-.933.329-2.222.972-3.228.337-.518.874-.359 1.418-.351a12.524 12.524 0 0 0 2.329-.169z" class="pass-picture--man-hair" data-name="Path 1659" transform="translate(-249.725 -114.306)"/>
        <path d="M382.85 273.76s1.193 6.186.651 8.574a7.956 7.956 0 0 0 .142 4.205" class="pass-picture--man-shadows" data-name="Path 1660" transform="translate(-338.495 -242.093)"/>
        <path d="M267.8 289.19s-.52 4.124.346 4.992" class="pass-picture--man-shadows" data-name="Path 1661" transform="translate(-242.729 -254.919)"/>
        <path d="M446.883 587.886a.253.253 0 1 0-.253-.253.253.253 0 0 0 .253.253z" data-name="Path 1662" transform="translate(-391.512 -502.79)"/>
        <g class="pass-picture--man-bottom-shadow " data-name="Group 624" transform="translate(41.026 20.03)">
            <path d="M455.407 240.381v-.14l-46.042-35.4a.169.169 0 0 0-.2 0l-46.044 35.4v54.878h.088v.088H455.5v-54.878z" class="pass-picture--letter-sides" data-name="Path 1663" transform="translate(-363.12 -204.804)"/>
        </g>
        <path d="M341.681 215.094h-89.1v-52.988l44.55-34.256 44.55 34.256z" class="pass-picture--leter-front " data-name="Path 1664" transform="translate(-209.958 -106.28)"/>
        <path d="M354.268 227.415H271.58v-49.174l41.344-31.791 41.344 31.791z" class="pass-picture--letter-inside" data-name="Path 1665" transform="translate(-225.752 -121.741)"/>
        <path d="M0 0h52.144v66.319H0z" class="pass-picture--colored-paper" data-name="Rectangle 746" transform="rotate(-14.69 169.664 -178.292)"/>
        <path d="M0 0h52.144v66.319H0z" class="pass-picture--letter" data-name="Rectangle 747" transform="translate(61.354 33.72)"/>
        <path d="M255.08 331.35l44.55 26.494-44.55 26.494z" class="pass-picture--letter-sides-shadow" data-name="Path 1666" transform="translate(-212.036 -275.439)"/>
        <path d="M253.08 331.35l44.55 26.494-44.55 26.494z" class="pass-picture--leter-front " data-name="Path 1667" transform="translate(-210.373 -275.439)"/>
        <path d="M559.63 331.35l-44.55 26.494 44.55 26.494z" class="pass-picture--letter-sides-shadow" data-name="Path 1668" transform="translate(-428.161 -275.439)"/>
        <path d="M561.63 331.35l-44.55 26.494 44.55 26.494z" class="pass-picture--leter-front " data-name="Path 1669" transform="translate(-429.823 -275.439)"/>
        <path d="M253.08 469.113l44.55-34.763 44.55 34.763z" class="pass-picture--letter-sides-shadow" data-name="Path 1670" transform="translate(-210.373 -361.057)"/>
        <path d="M253.08 474.113l44.55-34.763 44.55 34.763z" class="pass-picture--leter-front " data-name="Path 1671" transform="translate(-210.373 -365.214)"/>
        <path d="M422.391 635.854s-2.238-7.594.42-13.186a12 12 0 0 0 .97-7.526 20.177 20.177 0 0 0-1.065-3.532" class="pass-picture--stems" data-name="Path 1672" transform="translate(-370.631 -522.931)"/>
        <path d="M421.825 582.357c0 .932-1.688 3.63-1.688 3.63s-1.687-2.7-1.687-3.63a1.688 1.688 0 0 1 3.375 0z" class="pass-picture--darker-leafs " data-name="Path 1673" transform="translate(-368.087 -497.212)"/>
        <path d="M438.309 608.721c-.506.781-3.389 2.131-3.389 2.131s.052-3.183.559-3.964a1.688 1.688 0 0 1 2.83 1.833z" class="pass-picture--darker-leafs " data-name="Path 1674" transform="translate(-381.778 -518.418)"/>
        <path d="M434.531 657.561c-.832.419-4 .13-4 .13s1.652-2.72 2.482-3.139a1.688 1.688 0 1 1 1.519 3.011z" class="pass-picture--darker-leafs " data-name="Path 1675" transform="translate(-378.129 -558.448)"/>
        <path d="M425.482 698.082c-.749.554-3.922.8-3.922.8s1.168-2.96 1.917-3.513a1.688 1.688 0 0 1 2 2.71z" class="pass-picture--darker-leafs " data-name="Path 1676" transform="translate(-370.672 -592.322)"/>
        <path d="M411.663 620.932c.675.648 3.778 1.321 3.778 1.321s-.761-3.09-1.429-3.738a1.688 1.688 0 0 0-2.349 2.418z" class="pass-picture--darker-leafs " data-name="Path 1677" transform="translate(-362.067 -528.319)"/>
        <path d="M399.195 665.57c.832.419 4 .13 4 .13s-1.652-2.72-2.482-3.139a1.688 1.688 0 0 0-1.519 3.01z" class="pass-picture--darker-leafs " data-name="Path 1678" transform="translate(-351.363 -565.159)"/>
        <path d="M395.751 712.2c.749.553 3.922.8 3.922.8s-1.168-2.96-1.917-3.513a1.688 1.688 0 1 0-2 2.71z" class="pass-picture--darker-leafs " data-name="Path 1679" transform="translate(-348.594 -603.979)"/>
        <path d="M0 0h20.925v1.688H0z" class="pass-picture--letter-text" data-name="Rectangle 748" transform="translate(64.391 36.758)"/>
        <path d="M0 0h45.225v1.688H0z" class="pass-picture--letter-text" data-name="Rectangle 749" transform="translate(64.391 43.508)"/>
        <path d="M0 0h45.225v1.688H0z" class="pass-picture--letter-text" data-name="Rectangle 750" transform="translate(64.391 47.896)"/>
        <path d="M0 0h45.225v1.688H0z" class="pass-picture--letter-text-2" data-name="Rectangle 751" transform="translate(64.391 52.283)"/>
        <path d="M0 0h45.225v1.688H0z" class="pass-picture--letter-text-2" data-name="Rectangle 752" transform="translate(64.391 56.671)"/>
        <path d="M0 0h25.819v1.688H0z" class="pass-picture--letter-text-3" data-name="Rectangle 753" transform="translate(64.391 61.058)"/>
        <path d="M0 0h35.269v1.688H0z" class="pass-picture--letter-text-3" data-name="Rectangle 754" transform="translate(64.391 65.446)"/>
    </g>
</svg>
