<div class="step-section step-section--{{theme}}">
    <div class="step-section__wrapper">

       
        <div class="step-section__column step-section__column--left">
            {{> ../shapes/circle.html theme='academies-background__shape--front-end-theme'  className="step-section__shape step-section__shape--position-1" }}
            {{> ../shapes/cross.html theme='academies-background__shape--tester-theme' className="step-section__shape step-section__shape--position-2" }}
            {{> ../shapes/plus.html theme='academies-background__shape--developer-theme'  className="step-section__shape step-section__shape--position-3" }}
            {{> ../shapes/circle.html theme='academies-background__shape--tester-theme' className="step-section__shape step-section__shape--position-4" }}
            {{> ../shapes/circle.html theme='academies-background__shape--developer-theme' className="step-section__shape step-section__shape--position-5" }}

            {{> step-specific-section.html theme=theme text=text1 title=title1 side="left" image="1" hidden="No"}}
            <div class="step-section__phone-iliustration">
                {{#eq theme "developers"}}  
                    {{> step1.html styles='apply-picture apply-picture--developers'}}
                {{/eq}}
                {{#eq theme "frontend"}}  
                    {{> step1.html styles='apply-picture apply-picture--frontend'}}
                {{/eq}}
                {{#eq theme "testers"}}  
                    {{> step1.html styles='apply-picture apply-picture--testers'}}
                {{/eq}}
            </div>

            {{> step-specific-section.html theme=theme text=text2 title=title2 side="right" image="2" hidden="Yes"}}
            <div class="step-section__phone-iliustration">
                {{#eq theme "developers"}}  
                    {{> step2.html styles='pass-picture pass-picture--developers'}}
                {{/eq}}
                {{#eq theme "frontend"}}  
                    {{> step2.html styles='pass-picture pass-picture--frontend'}}
                {{/eq}}
                {{#eq theme "testers"}}  
                    {{> step2.html styles='pass-picture pass-picture--testers'}}
                {{/eq}}
            </div>
            
            {{> step-specific-section.html theme=theme text=text3 title=title3 side="left" image="3" hidden="No"}}
            <div class="step-section__phone-iliustration">
                {{#eq theme "developers"}}  
                    {{> step3.html styles='learn-picture learn-picture--developers'}}
                {{/eq}}
                {{#eq theme "frontend"}}  
                    {{> step3.html styles='learn-picture learn-picture--frontend'}}
                {{/eq}}
                {{#eq theme "testers"}}  
                    {{> step3.html styles='learn-picture learn-picture--testers'}}
                {{/eq}}
            </div>
            
            {{> step-specific-section.html theme=theme text=text4 title=title4 side="right" image="4" hidden="Yes"}}
            <div class="step-section__phone-iliustration">
                {{#eq theme "developers"}}  
                    {{> step4.html styles='join-picture join-picture--developers'}}
                {{/eq}}
                {{#eq theme "frontend"}}  
                    {{> step4.html styles='join-picture join-picture--frontend'}}
                {{/eq}}
                {{#eq theme "testers"}}  
                    {{> step4.html styles='join-picture join-picture--testers'}}
                {{/eq}}
            </div>
            
            {{> ../shapes/plus.html theme='academies-background__shape--developer-theme' className="step-section__shape step-section__shape--position-6" }}
            {{> ../shapes/cross.html theme='academies-background__shape--tester-theme' className="step-section__shape step-section__shape--position-7" }}
            {{> ../shapes/circle.html theme='academies-background__shape--front-end-theme' className="step-section__shape step-section__shape--position-8" }}
            {{> ../shapes/plus.html theme='academies-background__shape--developer-theme'  className="step-section__shape step-section__shape--position-9" }}
            {{> ../shapes/cross.html theme='academies-background__shape--tester-theme' className="step-section__shape step-section__shape--position-10" }}
            {{> ../shapes/circle.html theme='academies-background__shape--developer-theme' className="step-section__shape step-section__shape--position-11" }}
        </div>

        <div  class="step-section__column step-section__column--right">
            {{> step-specific-section.html theme=theme text=text2 title=title2 side="right" image="2" hidden="No"}}
            {{> step-specific-section.html theme=theme text=text4 title=title4 side="right" image="4" hidden="No"}}
        </div>

    </div>
</div>