<section class="academies-intro-section academies-intro-section--{{modifier}}">
  <div class="intro-section">
    <div class="intro-section__content">
      <h1 class="intro-section__title intro-section__title--{{modifier}} heading heading--{{modifier}}">{{heading}}</h1>
      <p class="intro-section__text paragraph">{{text}}</p>
      <div class="intro-section__controls">
        {{#eq modifier "developers"}}
            {{> ../button.html text='Register' id='academies-register-button' class=modifier href="/register?academy=developers"}}
        {{/eq}}
        {{#eq modifier "frontend"}}
            {{> ../button.html text='Register' id='academies-register-button' class=modifier href="/register?academy=frontend"}}
        {{/eq}}
        {{#eq modifier "testers"}}
            {{> ../button.html text='Register' id='academies-register-button' class=modifier href="/register?academy=testers"}}
        {{/eq}}
      </div>
    </div>
    {{#eq modifier "developers" }}
    {{> video-view.html modifier="developers" src="./../../../images/promo-video/SFD-promo-video.jpg" transform="translate(-300 -135) scale(0.77)"}}
    {{/eq}}
    {{#eq modifier "testers" }}
    {{> video-view.html modifier="testers" src="./../../../images/promo-video/SFT-promo-video.jpg" transform="translate(-295 -85) scale(0.75)"}}
    {{/eq}}
    {{#eq modifier "frontend" }}
    {{> video-view.html modifier="frontend" src="./../../../images/promo-video/SFE-promo-video.jpg" transform="translate(-300 -135) scale(0.77)"}}
    {{/eq}}
    <div class="wave-section">
      {{> ../shapes/wave-academies-left.html.hbs}}
      {{> ../shapes/wave-academies-right.html.hbs}}
    </div>
  </div>
</section>
