<div class="video-view video-view--{{modifier}}">
    <button id="promo-video-controls" class="video-view__controls" type="button" name="video-controls"
        aria-controls="promo-video">
        <span class="video-view__text visually-hidden">Play {{modifier}} promo video</span>
        <svg class="video-view__play-button" xmlns="http://www.w3.org/2000/svg" width="92" height="92"
            viewBox="0 0 92 92">
            <path
                d="M45 90A45.012 45.012 0 0 1 27.484 3.536a45.012 45.012 0 0 1 35.032 82.928A44.72 44.72 0 0 1 45 90zm-8.963-62.956v35.912L62.971 45z"
                transform="translate(1 1)" />
        </svg>
    </button>
    <img id="video-mobile-image" class="video-view__mobile-image" src="{{src}}" alt="">
    <svg class="video-view__shapes" xmlns="http://www.w3.org/2000/svg" width="935" height="905.14"
        viewBox="0 0 932.976 905.14">
        <defs>
            <pattern id="video-image-{{modifier}}" x="0" y="0" width="1" height="1">
                <image transform="{{transform}}" href="{{src}}" />
            </pattern>
        </defs>
        <path id="video-view-fill" class="video-view__shapes-fill"
            d="M-8321.6 407.36s-.624 1.537-1.06 2.62c-28.539 70.839-93.494 262.432-28.379 403.145 81.32 175.733 196.668 187.516 394.809 317.438 0 0 57.958 36.163 106.64 95.246 28.284 34.327 121.772 70.5 297.973 84.215 24.017 1.87 76.368 2.477 76.368 2.477l-.674-904.725z"
            transform="translate(8407.225 -407.36)" />
    </svg>
    {{#eq modifier "developers" }}
    {{> ./../video-player.html.hbs id="promo-video" video-id="cf74xki38t"}}
    {{/eq}}
    {{#eq modifier "testers" }}
    {{> ./../video-player.html.hbs id="promo-video" video-id="7fsltoz2sg"}}
    {{/eq}}
    {{#eq modifier "frontend" }}
    {{> ./../video-player.html.hbs id="promo-video" video-id="nizjia0by1"}}
    {{/eq}}
</div>