@import '../../base/mixins/media-section-mixins';
@import './media-section-background';

.media-wrapper {
  background-color: $color-surface;
  margin: -50px auto 0;
  width: 100%;

  &--developers {
    background-color: $color-developers-shape;
  }

  &--testers {
    background-color: $color-testers-shape;
  }

  &--frontend {
    background-color: $color-frontend-shape;
  }

  @include mq-until(lg) {
    margin-bottom: 58px;
  }
}

.media {
  background-color: $color-white;
  margin: auto;
  max-width: 1288px;
  padding: 142px 129px 158px 129px;
  position: relative;

  &::after {
    @include z-index('media-section', 'after');

    background-color: $color-white;
    content: '';
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0%;
    width: 170px;

    @include mq-until(lg) {
      display: none;
    }
  }

  &:not(&--home)::before {
    @include z-index('media-section', 'before');

    background-color: $color-white;
    content: '';
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0%;
    width: 250px;

    @include mq-until(lg) {
      display: none;
    }
  }

  &--home::before {
    @include z-index('media-section', 'before');

    background-color: $color-white;
    content: '';
    height: 100%;
    left: -10%;
    position: absolute;
    top: 0;
    width: 180px;

    @include mq-until(lg) {
      display: none;
    }
  }

  &__heading {
    @include z-index('media-section', 'heading');

    margin-bottom: 25px;
    position: relative;

    @include mq-until(lg) {
      text-align: center;
    }
  }
  @include mq-between(lg, xl) {
    padding: 142px 90px 158px 90px;
  }

  @include mq-until(md) {
    padding: 120px 30px 40px 30px;
  }

  @include mq-between(md, lg) {
    padding: 60px 40px 60px 40px;
  }
}

.gallery {
  @include media-grid();
  @include media-grid-images();

  &__video-button {
    @include play-button-centered();
  }

  @include mq-until(md) {
    grid-column-gap: 30px;
    grid-row-gap: 29px;
  }
}
