$shape-positions: (
  (
    default: (
      left: 30%,
      top: 20%
    ),
    untilLarge: (
      left: 30%,
      top: 4%
    ),
    untilMedium: (
      left: 15%,
      top: 4%
    )
  ),
  (
    default: (
      left: 43%,
      top: 24%
    ),
    untilLarge: (
      left: 43%,
      top: 10%
    ),
    untilMedium: (
      left: 38%,
      top: 7%
    )
  ),
  (
    default: (
      left: 58%,
      top: 21%
    ),
    untilLarge: (
      left: 58%,
      top: 3%
    ),
    untilMedium: (
      left: 58%,
      top: 3%
    )
  ),
  (
    default: (
      left: 63%,
      top: 24%
    ),
    untilLarge: (
      left: 63%,
      top: 8%
    ),
    untilMedium: (
      left: 73%,
      top: 8%
    )
  ),
  (
    default: (
      left: 86%,
      top: 27%
    ),
    untilLarge: (
      left: 86%,
      top: 9%
    ),
    untilMedium: (
      left: 83%,
      top: 6%
    )
  )
);

.media-background__shape {
  position: absolute;

  @for $i from 1 through length($shape-positions) {
    $row: nth($shape-positions, $i);

    &--position-#{$i} {
      $default: map-get($row, 'default');

      left: map-get($default, 'left');
      top: map-get($default, 'top');

      @include mq-until(md) {
        $untilMedium: map-get($row, 'untilMedium');

        left: map-get($untilMedium, 'left');
        top: map-get($untilMedium, 'top');
      }

      @include mq-between(md, xl) {
        $untilLarge: map-get($row, 'untilLarge');

        left: map-get($untilLarge, 'left');
        top: map-get($untilLarge, 'top');
      }
    }
  }

  &--front-end-theme {
    fill: rgba(245, 95, 68, 0.5);
  }

  &--developer-theme {
    fill: rgba(77, 138, 240, 0.5);
  }

  &--tester-theme {
    fill: rgba(71, 230, 177, 0.5);
  }

  &--form-theme {
    fill: rgba(134, 134, 134, 0.5);
  }
}
