<div class="academy-selection">
    <button type="button" class="academy-selection__specific-academy js-specific-academy" aria-pressed="false">Developers</button>
    <button type="button" class="academy-selection__specific-academy js-specific-academy" aria-pressed="false">Testers</button>
    <button type="button" class="academy-selection__specific-academy js-specific-academy" aria-pressed="false">Front-End</button>
</div>