<!doctype html>
<html lang="en-US">
{{> partials/head.html headline="Headline"}}

<body>
    {{> partials/header.html}}
    ABOUT US PAGE
    {{> partials/footer.html note="About Us page footer note"}}
</body>

</html>
