<!doctype html>
<html lang="en-US">
{{> partials/head.html}}

<body>
    {{> partials/header.html}}
      <div class="content-wrapper">
        {{> partials/academies-intro-section/academies-intro-section.html modifier="developers" heading="Sourcery Academy
for Developers" text="Become a software development with our free of charge three-month academy, available this fall and spring. Work with our top specialists as your mentors and lecturers in Kaunas and Vilnius."}}

        {{> partials/steps-section/step-section.html

                theme="developers"

                title1="Apply"
                text1="Academy students are given an opportunity to be immersed in a professional three-month course
    for the developer beginners, build their competence through trainings and individual or group assignments."

                title2="Pass the admission"
                text2="Registration is available for candidates who are willing to pass the entry exam. Results define a
    list of candidates who are invited into the workshop. We accept 20 candidates with highest marks into the academy. "

                title3="Learn from the experts"
                text3="Students will learn the latest technologies and how to create software using the best tools on the market.
    Devbridge assigns a mentor to each student to serve as a resource for their development projects."

                title4="Join the company"
                text4="At the end of term all students will receive recognition for completing the course
    and top students may receive job offers from Devbridge."
        }}

        {{> partials/admission-section/admissions-section.html modifier="developers" first-heading="The Admission" second-heading="Introduction" third-heading="You will learn:" fourth-heading="An interview" first-text="During your first lecture we will introduce the Sourcery academy, tell you more about what we do as developers, get to know your fellow team members, lecturers and mentors. " second-text="Only the top candidates after the final exam are invited to a job interview which will challenge your technical skills and English knowledge." }}
        {{> partials/schedule/schedule.html modifier="developers" months1="October / November" months2="November / December"}}

        {{> partials/testimonials/testimonials-developers.html }}

        {{> partials/media/media-section-grid.html
                colorTheme="--developers"
                mediaImage1= "../images/media-developers/media-dev-1.jpg" alt="academy students sitting at the table full of pizzas"
                mediaImage2= "../images/media-developers/media-dev-2.jpg" alt="group of academy students posing"
                mediaImage3= "../images/media-developers/media-dev-3.jpg" alt="four students chatting at the table"
                mediaImage4= "../images/media-developers/media-dev-4.jpg" alt="t-shirts and gift-bags ith Devbrige logo"
                mediaImage5= "../images/media-developers/media-dev-5.jpg" alt="students in a big auditorium"
                mediaImage6= "../images/media-developers/media-dev-6.jpg" alt="group of academy students posing"
        }}

        {{> partials/apply-section/apply-section.html
                paragraphContent= "Entrance test results define a priority list of candidates. We accept 20 candidates with highest marks into academy."
                buttonId= "apply-dev-button"
                modifier="developers"
                imageSource= "../images/apply-section/apply-dev.svg"
                imageAlt= "Girl giving a high-five to a guy."
        }}
      </div>
  {{> partials/footer.html note="Sourcery for Developers page footer note"}}

</body>

</html>
