<!doctype html>
<html lang="en-US">
{{> partials/head.html}}

<body>
    {{> partials/header.html}}
      <div class="content-wrapper">
        {{> partials/academies-intro-section/academies-intro-section.html modifier="frontend" heading="Push the Pixels with
Sourcery Academy for
Front-End" text="Start your career in software development with the intense program at Sourcery for Front-End. Complete the admission and enter our free of charge three-month academy to learn from our top specialists."}}

        {{> partials/steps-section/step-section.html

                theme="frontend"

                title1="Apply"
                text1="Academy students are given an opportunity to be immersed in a professional two-month course for the front-end
    developers, build their competence through trainings and individual or groups assignments."

                title2="Pass the admission"
                text2="Entry test is performed by those candidates who submit their summary. Test results define a priority list
     of candidates who are invited into the workshop. We accept 20 candidates with highest marks into academy. "

                title3="Learn from the experts"
                text3="Students will discover all types, techniques and design approaches. They will learn how to write
     semantic elements in HTML, apply advanced CSS techniques, understand accessibility standards and many more."

                title4="Join the company"
                text4="The Academy starts in the end of October and lasts until January.
     Top graduates will be invited for an interview to become a Junior Front-End Software Engineer."
        }}

        {{> partials/admission-section/admissions-section.html modifier="frontend" first-heading="The Admission" second-heading="Introduction and workshop" third-heading="You will learn:" fourth-heading="An interview" first-text="4 to 5 hours of activities. We will introduce the Sourcery academy, tell you more about what we do as front-end developers, get to know each other and have a fun workshop challenging your critical thinking, problem solving, communication and team working skills." second-text="Only the top candidates after the final exam are invited to a job interview which will challenge your technical skills and English knowledge." }}
        {{> partials/schedule/schedule.html modifier="frontend" months1="October / November / December" months2="December / January"}}
        {{> partials/testimonials/testimonials-frontend.html }}

        {{> partials/media/media-section-grid.html
                colorTheme="--frontend"
                mediaImage1= "../images/media-frontend/media-frontend-1.jpg" alt="academy students chatting while eating pizzas"
                mediaImage2= "../images/media-frontend/media-frontend-2.jpg" alt="group of academy students posing"
                mediaImage3= "../images/media-frontend/media-frontend-3.jpg" alt="academy students sitting in a lecture"
                mediaImage4= "../images/media-frontend/media-frontend-4.jpg" alt="mentor congratulating a student"
                mediaImage5= "../images/media-frontend/media-frontend-5.jpg" alt="student holding website made from the paper"
                mediaImage6= "../images/media-frontend/media-frontend-6.jpg" alt="students creating the paper website"
        }}

        {{> partials/apply-section/apply-section.html
                paragraphContent= "Start your career in software development with the intense program at Sourcery for Front-End Developers."
                buttonId= "apply-frontend-button"
                modifier="frontend"
                imageSource= "../images/apply-section/apply-frontend.svg"
                imageAlt= "Two people jumping around a huge graduation hat."
        }}

      </div>
    {{> partials/footer.html note="Sourcery for Front-End page footer note"}}
</body>

</html>
