<!doctype html>
<html lang="en-US">
{{> partials/head.html}}

<body>
  {{> partials/header.html}}
    <div class="content-wrapper">
      {{> partials/intro.html}}
      {{> partials/academies/academies.html}}
      {{> partials/sourceries.html }}
      {{> partials/testimonials/testimonials-home.html }}
      {{> partials/media/media-section.html }}
      {{> partials/video-player.html id="promo-video" video-id="nizjia0by1"}}
    </div>
  {{> partials/footer.html note="Index page footer note"}}
</body>

</html>
