<!doctype html>
<html lang="en-US">
{{> partials/head.html}}

<body>
    {{> partials/header.html}}
    SOURCERY FOR KIDS
    {{> partials/footer.html note="Sourcery for Kids page footer note"}}
</body>

</html>
