<!doctype html>
<html lang="en-US">
{{> partials/head.html headline="Headline"}}

<body>
    {{> partials/header.html}}
    MEDIA PAGE
    {{> partials/footer.html note="Media page footer note"}}
</body>

</html>
