<!doctype html>
<html lang="en-US">
{{> partials/head.html headline="Headline"}}

<body>
    {{> partials/header.html}}
    QUESTIONS PAGE
    {{> partials/footer.html note="Questions page footer note"}}
</body>

</html>
