<!doctype html>
<html lang="en-US">
{{> partials/head.html headline="Headline"}}

<body>
  {{> partials/header.html}}
  {{> partials/aplication-form/aplication-form.html}}
  {{> partials/footer.html note="Register page footer note"}}

</body>

</html>
