<!doctype html>
<html lang="en-US">
{{> partials/head.html}}
<body>
{{> partials/header.html}}
  <div class="content-wrapper">

    {{> partials/academies-intro-section/academies-intro-section.html modifier="testers" heading="Set your inner tester free
with Sourcery
for Testers!" text="Kick off your career in software testing with our free of charge three-month academy “Sourcery for Testers”, available this summer. Work with our top specialists as your mentors and lecturers in Kaunas and Vilnius."}}


    {{> partials/steps-section/step-section.html

            theme="testers"

            title1="Apply"
            text1="Academy students are given an opportunity to be immersed in a professional two-month course for the testing beginners,
     build their competence through trainings and individual or groups assignments."

            title2="Pass the admission"
            text2="Best candidates will be offered a paid internship for the Academy period to work on the real projects
     with our development teams. In parallel they are expected to attend academy to develop their skills. "

            title3="Learn from the experts"
            text3="Students will discover all types of techniques: learn the foundations of testing, functional testing
     for web applications and API, foundations of non-functional testing and foundations for test automation."

            title4="Join the company"
            text4="Students will discover all types of techniques: learn the foundations of testing, functional testing
    for web applications and API, foundations of non-functional testing and foundations for test automation."
    }}

    {{> partials/admission-section/admissions-section.html modifier="testers" first-heading="The Admission" second-heading="Introduction and workshop" third-heading="You will learn:" fourth-heading="An interview" first-text="4 to 5 hours of activities. We will introduce the Sourcery academy, tell you more about what we do as testers, get to know each other and have a fun workshop challenging your critical thinking, problem solving, communication and team working skills." second-text="Only the top candidates after the final exam are invited to a job interview which will challenge your technical skills and English knowledge." }}
    {{> partials/schedule/schedule.html modifier="testers" months1="June / July" months2="July / August"}}
    {{> partials/testimonials/testimonials-testers.html }}

    {{> partials/media/media-section-grid.html
            colorTheme="--testers"
            mediaImage1= "../images/media-testers/media-testers-1.jpg" alt="sourcery academy for testers written on a cake"
            mediaImage2= "../images/media-testers/media-testers-2.jpg" alt="group of academy students posing with certificates"
            mediaImage3= "../images/media-testers/media-testers-3.jpg" alt="group of academy students posing with certificates"
            mediaImage4= "../images/media-testers/media-testers-4.jpg" alt="academy students watching the presentation"
            mediaImage5= "../images/media-testers/media-testers-5.jpg" alt="paper bags with painted faces on them"
            mediaImage6= "../images/media-testers/media-testers-6.jpg" alt="students presenting in an auditorium"
    }}

    {{> partials/apply-section/apply-section.html
            paragraphContent= "Set your inner tester free and apply to empower yourself with the top-notch studies for the future Test Engineers!"
            buttonId= "apply-testers-button"
            modifier="testers"
            imageSource= "../images/apply-section/apply-testers.svg"
            imageAlt= "A girls jumps close to the huge smart phone."
    }}
  </div>
  {{> partials/footer.html note="Sourcery for Testers page footer note"}}
</body>

</html>
