@import '../base/functions';
@import '../base/mixins/helpers';

.academies-section {
  $_this: &;

  background-color: $color-surface;
  width: 100%;

  &__wrapper {
    background-color: $color-white;
    margin: 0 auto;
    max-width: 994px;
    padding: 350px 223px 260px;
    position: relative;

    @include mq-until(md) {
      padding: 230px 20px 180px;
    }

    @include mq-between(md, lg) {
      padding: 230px 40px 180px;
    }
    @include mq-until(lg) {
      text-align: center;
    }

    &::before {
      @include z-index('academies-section', 'before');

      background-color: $color-white;
      bottom: 0;
      content: '';
      height: 1834px;
      left: -12%;
      position: absolute;
      width: 1800px;
    }
  }

  &__title {
    @include z-index('academies-section', 'title');

    margin: 0;
    position: relative;
    text-align: center;
  }

  &__text {
    @include z-index('academies-section', 'text');

    margin: 32px auto 0;
    max-width: 1000px;
    position: relative;
    text-align: center;
  }

  &__next-section-icon {
    border-radius: 50%;
    display: block;
    transition: background-color 0.5s;
  }

  &__icon-wrapper {
    background-color: $color-white;
    border: 0;
    display: block;
    margin: 20px auto 0 auto;
    position: relative;
    transition: transform 0.5s;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      transform: scale(1.2);

      #{$_this}__next-section-icon {
        background-color: rgba(22, 22, 22, 0.1);
      }
    }
  }

  &__icon-fill {
    fill: none;
    stroke: $color-main-dark;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
  }

  &__divider {
    @include z-index('academies-section', 'divider');

    background-color: $color-main-dark;
    border: 1px solid $color-main-dark;
    height: 46px;
    margin: 30px auto 0;
    position: relative;
    width: 0;
  }
}

$shape-positions: (
  (
    default: (
      left: 14%,
      top: 40%
    ),
    untilLarge: (
      left: 7%,
      top: 35%
    ),
    untilSmall: (
      left: 7%,
      top: 22%
    )
  ),
  (
    default: (
      left: 23%,
      top: 30%
    ),
    untilLarge: (
      left: 17%,
      top: 23%
    ),
    untilSmall: (
      left: 17%,
      top: 17%
    )
  ),
  (
    default: (
      left: 33%,
      top: 35%
    ),
    untilLarge: (
      left: 28%,
      top: 28%
    ),
    untilSmall: (
      left: 32%,
      top: 20%
    )
  ),
  (
    default: (
      left: 47%,
      top: 25%
    ),
    untilLarge: (
      left: 50%,
      top: 20%
    ),
    untilSmall: (
      left: 50%,
      top: 15%
    )
  ),
  (
    default: (
      left: 62%,
      top: 32%
    ),
    untilLarge: (
      left: 68%,
      top: 26%
    ),
    untilSmall: (
      left: 65%,
      top: 20%
    )
  ),
  (
    default: (
      left: 71%,
      top: 25%
    ),
    untilLarge: (
      left: 80%,
      top: 22%
    ),
    untilSmall: (
      left: 80%,
      top: 16%
    )
  ),
  (
    default: (
      left: 85%,
      top: 35%
    ),
    untilLarge: (
      left: 90%,
      top: 34%
    ),
    untilSmall: (
      left: 90%,
      top: 22%
    )
  ),
  (
    default: (
      left: 21%,
      top: 64%
    ),
    untilLarge: (
      left: 10%,
      top: 63%
    ),
    untilSmall: (
      left: 10%,
      top: 67%
    )
  ),
  (
    default: (
      left: 26%,
      top: 78%
    ),
    untilLarge: (
      left: 16%,
      top: 75%
    ),
    untilSmall: (
      left: 16%,
      top: 75%
    )
  ),
  (
    default: (
      left: 33%,
      top: 68%
    ),
    untilLarge: (
      left: 25%,
      top: 65%
    ),
    untilSmall: (
      left: 27%,
      top: 71%
    )
  ),
  (
    default: (
      left: 49%,
      top: 85%
    ),
    untilLarge: (
      left: 30%,
      top: 80%
    ),
    untilSmall: (
      left: 32%,
      top: 80%
    )
  ),
  (
    default: (
      left: 60%,
      top: 68%
    ),
    untilLarge: (
      left: 65%,
      top: 80%
    ),
    untilSmall: (
      left: 65%,
      top: 80%
    )
  ),
  (
    default: (
      left: 68%,
      top: 76%
    ),
    untilLarge: (
      left: 70%,
      top: 65%
    ),
    untilSmall: (
      left: 70%,
      top: 72%
    )
  ),
  (
    default: (
      left: 72%,
      top: 64%
    ),
    untilLarge: (
      left: 80%,
      top: 75%
    ),
    untilSmall: (
      left: 82%,
      top: 75%
    )
  ),
  (
    default: (
      left: 78%,
      top: 73%
    ),
    untilLarge: (
      left: 85%,
      top: 62%
    ),
    untilSmall: (
      left: 85%,
      top: 68%
    )
  )
);

.academies-background {
  &__shape {
    position: absolute;

    @include star-positions($shape-positions, sm, lg);
  }
}
