.aplication {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1232px;
  min-height: 100%;
  padding: 70px 128px 92px 80px;
  position: relative;

  @include mq-until(md) {
    padding: 70px 20px;
  }

  @include mq-between(md, xl) {
    padding: 70px 40px;
  }

  .aplication-wrapper {
    position: relative;
    width: 100%;

    @include mq-between(sm, lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__fieldset {
      border: none;
      min-width: 0;
      width: 100%;
    }

    &__fieldset-container {
      width: 100%;
      @include mq-between(sm, lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__form {
      @include mq-between(md, lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__title {
      @include heading;

      margin: 0 0 95px;

      @include mq-until(lg) {
        text-align: center;
      }

      &--success {
        margin-bottom: 417px;

        @include mq-between(sm, lg) {
          margin-bottom: 250px;
        }

        @include mq-until(sm) {
          margin-bottom: 200px;
        }
      }
    }

    &__subtitle {
      @include section-heading;

      margin: 0 0 30px;

      @include mq-until(lg) {
        text-align: center;
        width: 100%;
      }
    }

    &__city {
      display: inline-flex;
      width: 100%;

      @include mq-until(lg) {
        justify-content: center;
      }

      .radio {
        margin: 15px 0 23px;
      }

      .radio:first-child {
        margin-right: 60px;

        @include mq-until(sm) {
          margin-right: 40px;
        }
      }
    }

    &__required-heading {
      @include small-text;

      color: $color-main-primary;
      margin: 0;

      &::after {
        content: '*';
        @include input-required;
      }

      @include mq-until(lg) {
        text-align: center;
        width: 100%;
      }
    }

    .academy-selection {
      margin: 15px 0 30px;

      @include mq-until(lg) {
        margin: 15px auto 30px;
      }
    }

    &__information {
      display: flex;
    }

    &__personal-information {
      margin-right: 85px;
      width: 524px;

      @include mq-between(lg, xl) {
        margin-right: 50px;
      }

      @include mq-until(lg) {
        margin-right: 0;
      }

      .checkbox {
        margin: 75px 0 50px;
      }
    }

    &__controler {
      @include mq-between(md, lg) {
        width: 100%;
      }
      @include mq-until(lg) {
        text-align: center;
      }
    }

    .registration-illiustration {
      position: relative;
      top: -80px;

      @include mq-until(lg) {
        display: none;
      }
    }

    &__success {
      align-items: center;
      display: none;
      flex-wrap: wrap;
      padding-bottom: 168px;

      @include mq-until(md) {
        justify-content: center;
        padding-bottom: 70px;
      }
    }

    &__success-container {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;

      @include mq-between(md, lg) {
        justify-content: center;
      }

      @include mq-until(md) {
        flex-direction: column;
      }

      & > .registration-illiustration {
        top: -30px;

        @include mq-between(lg, xl) {
          width: 600px;
        }

        @include mq-between(md, lg) {
          width: 480px;
        }

        @include mq-until(md) {
          margin: 0 auto;
          max-width: 500px;
          width: 100%;
        }

        @include mq-until(lg) {
          display: block;
        }
      }
    }

    &__content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 100px;
      position: relative;

      @include mq-until(lg) {
        margin-left: 0;
      }

      &::before {
        background-color: $testers-illustration;
        border: 1px solid $testers-illustration;
        border-radius: 50%;
        content: '';
        height: 104px;
        margin-bottom: 50px;
        width: 104px;
      }

      &::after {
        border-bottom: 13px solid $color-white;
        border-left: 13px solid $color-white;
        border-radius: 5px;
        content: '';
        height: 25px;
        position: absolute;
        top: 188px;
        transform: rotate(-45deg);
        width: 50px;

        @include mq-until(md) {
          top: 33px;
        }
      }
    }

    &__success-title {
      @include section-heading;

      margin: 0 0 30px;
    }

    &__success-text {
      @include semibold(18px, $color-main-dark);

      margin: 0;
      text-align: center;
      width: 70%;
    }

    &__background {
      .shape {
        opacity: 0.5;
        position: absolute;

        $shape-positions: (
          (
            default: (
              left: 43%,
              top: 30%
            ),
            untilLarge: (
              left: 43%,
              top: 34%
            ),
            untilSmall: (
              left: 43%,
              top: 34%
            )
          ),
          (
            default: (
              left: 52%,
              top: 48%
            ),
            untilLarge: (
              left: 55%,
              top: 40%
            ),
            untilSmall: (
              left: 55%,
              top: 40%
            )
          ),
          (
            default: (
              left: 56%,
              top: 15%
            ),
            untilLarge: (
              left: 58%,
              top: 15%
            ),
            untilSmall: (
              left: 58%,
              top: 11%
            )
          ),
          (
            default: (
              left: 60%,
              top: 33%
            ),
            untilLarge: (
              left: 68%,
              top: 43%
            ),
            untilSmall: (
              left: 68%,
              top: 43%
            )
          ),
          (
            default: (
              left: 65%,
              top: 10%
            ),
            untilLarge: (
              left: 85%,
              top: 50%
            ),
            untilSmall: (
              left: 85%,
              top: 50%
            )
          ),
          (
            default: (
              left: 72%,
              top: 20%
            ),
            untilLarge: (
              left: 90%,
              top: 60%
            ),
            untilSmall: (
              left: 72%,
              top: 18%
            )
          ),
          (
            default: (
              left: 80%,
              top: 14%
            ),
            untilLarge: (
              left: 80%,
              top: 14%
            ),
            untilSmall: (
              left: 80%,
              top: 8%
            )
          ),
          (
            default: (
              left: 85%,
              top: 34%
            ),
            untilLarge: (
              left: 85%,
              top: 34%
            ),
            untilSmall: (
              left: 85%,
              top: 34%
            )
          ),
          (
            default: (
              left: 92%,
              top: 22%
            ),
            untilLarge: (
              left: 92%,
              top: 22%
            ),
            untilSmall: (
              left: 92%,
              top: 15%
            )
          ),
          (
            default: (
              left: 96%,
              top: 42%
            ),
            untilLarge: (
              left: 96%,
              top: 42%
            ),
            untilSmall: (
              left: 96%,
              top: 42%
            )
          ),
          (
            default: (
              left: 99%,
              top: 12%
            ),
            untilLarge: (
              left: 99%,
              top: 12%
            ),
            untilSmall: (
              left: 99%,
              top: 12%
            )
          ),
          (
            default: (
              left: 47%,
              top: 95%
            ),
            untilLarge: (
              left: 47%,
              top: 95%
            ),
            untilSmall: (
              left: 47%,
              top: 95%
            )
          ),
          (
            default: (
              left: 55%,
              top: 89%
            ),
            untilLarge: (
              left: 60%,
              top: 83%
            ),
            untilSmall: (
              left: 60%,
              top: 83%
            )
          ),
          (
            default: (
              left: 62%,
              top: 99%
            ),
            untilLarge: (
              left: 62%,
              top: 99%
            ),
            untilSmall: (
              left: 62%,
              top: 99%
            )
          ),
          (
            default: (
              left: 70%,
              top: 93%
            ),
            untilLarge: (
              left: 85%,
              top: 70%
            ),
            untilSmall: (
              left: 75%,
              top: 92%
            )
          ),
          (
            default: (
              left: 80%,
              top: 98%
            ),
            untilLarge: (
              left: 83%,
              top: 90%
            ),
            untilSmall: (
              left: 86%,
              top: 96%
            )
          ),
          (
            default: (
              left: 88%,
              top: 91%
            ),
            untilLarge: (
              left: 95%,
              top: 80%
            ),
            untilSmall: (
              left: 95%,
              top: 80%
            )
          )
        );

        @include star-positions($shape-positions, md, lg);
      }
    }
  }
}
