.footer {
  @include z-index('footer');

  align-items: center;
  background-color: $color-white;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  height: 93px;
  position: relative;

  &__content {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;

    @include mq-until(sm) {
      flex-direction: column;
    }
  }

  &__container {
    display: flex;
    flex: 1;
  }

  &__icon-wrapper {
    margin: 28px 0 25px 16px;
    position: relative;

    &:first-child {
      margin-left: 40px;
    }

    @include mq-until(sm) {
      margin: 16px 0 0 16px;

      &:last-child {
        margin-right: 40px;
      }
    }
  }

  &__icon-background {
    background-color: $color-incon-primary;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  &__icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__copyright-wrapper {
    height: 16px;
    margin: 40px 40px 37px auto;

    @include mq-until(sm) {
      margin: 16px auto;
    }
  }

  &__copyright {
    align-items: center;
    color: $color-main-dark;
    display: flex;
    font-family: $Raleway;
    font-size: 14px;
    justify-content: center;
  }
}
