@import '../base/colors';
@import '../base/customFonts';

.header {
  // z-index value is 6, because it should be the top most element of the page on z-axis when it is open
  @include z-index('header');

  background-color: $color-white;
  box-shadow: 0 2px 4px 0 $color-shadow-primary;
  display: flex;
  justify-content: center;
  position: relative;

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
  }

  &__navigation {
    align-items: center;
    display: flex;
    height: inherit;
    margin: 0 40px 0 auto;

    @include mq-until(sm) {
      margin: 0 20px 0 auto;
    }

    @include mq-until(lg) {
      &.is-open {
        align-items: flex-start;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 100vw;
      }
    }
  }

  @include mq-from(sm) {
    height: 96px;
  }

  @include mq-until(sm) {
    height: 72px;
  }
}
