.academies-intro {
  background-color: $color-surface;
  width: 100%;

  &__section {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    padding: 194px 80px;
    position: relative;

    @include mq-until(md) {
      padding: 100px 20px;
    }
    @include mq-between(md, lg) {
      padding: 128px 40px;
    }
    @include mq-until(lg) {
      text-align: center;
    }

    &::before {
      @include z-index('intro', 'before');

      background-color: $color-white;
      content: '';
      height: 100%;
      left: -13%;
      position: absolute;
      top: 0;
      width: 130%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    @include z-index('intro', 'content');

    flex-direction: column;
    margin-right: 48px;
    position: relative;
    width: 460px;

    @include mq-until(lg) {
      margin: 0 auto;
      width: 100%;
    }
  }

  &__title {
    @include z-index('intro', 'title');

    letter-spacing: 1px;
    line-height: 1;
    margin: 34px 0 35px;
    position: relative;
    text-transform: capitalize;
    width: 20%;
    word-break: normal;

    @include mq-until(lg) {
      width: 100%;
    }
  }

  &__text {
    padding-bottom: 32px;
  }

  &__controls {
    @include z-index('intro', 'controls');

    position: relative;
  }

  &__image {
    @include z-index('intro', 'image');

    height: auto;
    margin-left: auto;
    margin-top: -12.6%;
    max-width: 640px;
    width: 100%;

    @include mq-until(lg) {
      height: 100%;
    }
    @include mq-until(lg) {
      margin: 50px auto 50px;
      max-width: 500px;
    }
    @include mq-between(lg, xl) {
      margin: -9% 0 auto 0;
      max-width: 550px;
    }
  }
}
