.logo {
  &__link {
    margin-left: 30px;
    padding: 10px;
    text-decoration: none;
  }

  &__icon {
    align-content: center;
    display: flex;

    &-background {
      fill: #fff;
    }

    &-path {
      clip-path: url(#clip-path);
    }

    &-items {
      fill: #3d3691;
    }

    &-circle {
      fill: none;
      stroke: #3d3691;
      stroke-width: 1.538px;
    }
  }

  &__name {
    align-content: center;
    color: $color-main-dark;
    display: flex;
    flex-direction: column;
    font-family: $Raleway;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.44;
    margin-left: 20px;

    @include mq-until(md) {
      display: none;
    }
  }
}
