$color-main-hover: #443bc4;
@mixin border($position, $color: $color-main-primary) {
  border-#{$position}: 3px solid $color;
}

.container-not-found {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.section-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 723px;
  max-width: 850px;
  position: relative;
  text-align: center;
  width: 100%;

  &__image {
    margin: 0 auto;
    max-width: 650px;
  }

  &__heading {
    color: $color-text;
    font-family: $Montserrat;
    font-size: rem-calc(60px);
    font-weight: 900;
    margin: 0;

    @media (max-width: 339px) {
      font-size: rem-calc(24px);
    }
    @media (min-width: 340px) and (max-width: 575px) {
      font-size: rem-calc(40px);
    }
    @include mq-between(sm, md) {
      font-size: rem-calc(48px);
    }
  }

  &__paragraph {
    font-size: rem-calc(14px);
    margin: 0 0 10px;
    @include paragraph;
  }

  &__button {
    color: $color-main-primary;
    font-family: $Montserrat;
    font-size: rem-calc(14px);
    font-weight: 800;
    text-decoration: none;

    &::before {
      content: '';
      display: inline-block;
      height: 0.4em;
      margin-right: 0.5em;
      position: relative;
      transform: rotate(-135deg);
      width: 0.4em;
      @include border(right);
      @include border(top);
    }

    &:hover {
      color: $color-main-hover;
    }

    &:focus {
      color: $color-main-dark;
    }

    &:hover::before {
      @include border(right, $color-main-hover);
      @include border(top, $color-main-hover);
    }

    &:focus::before {
      @include border(right, $color-main-dark);
      @include border(top, $color-main-dark);
    }
  }
}

.not-found-background {
  &__shape {
    @include z-index('not-found-background-shape');

    position: absolute;

    $shape-positions: (
      (
        default: (
          left: 0%,
          top: -12%
        ),
        untilLarge: (
          left: 3%,
          top: -12%
        ),
        untilSmall: (
          left: 2%,
          top: -30%
        )
      ),
      (
        default: (
          left: 28%,
          top: 0%
        ),
        untilLarge: (
          left: 22%,
          top: 0%
        ),
        untilSmall: (
          left: 20%,
          top: -10%
        )
      ),
      (
        default: (
          left: 36.5%,
          top: 9%
        ),
        untilLarge: (
          left: 33%,
          top: 8%
        ),
        untilSmall: (
          left: 33.5%,
          top: -40%
        )
      ),
      (
        default: (
          left: 45%,
          top: 7%
        ),
        untilLarge: (
          left: 42%,
          top: 7%
        ),
        untilSmall: (
          left: 42%,
          top: -50%
        )
      ),
      (
        default: (
          left: 72%,
          top: 2%
        ),
        untilLarge: (
          left: 78%,
          top: 2%
        ),
        untilSmall: (
          left: 75%,
          top: -17%
        )
      ),
      (
        default: (
          left: 7%,
          top: 22%
        ),
        untilLarge: (
          left: 7%,
          top: 22%
        ),
        untilSmall: (
          left: 7%,
          top: 22%
        )
      ),
      (
        default: (
          left: 25%,
          top: 15%
        ),
        untilLarge: (
          left: 17%,
          top: 15%
        ),
        untilSmall: (
          left: 15%,
          top: 14%
        )
      ),
      (
        default: (
          left: 60%,
          top: 12%
        ),
        untilLarge: (
          left: 65%,
          top: 12%
        ),
        untilSmall: (
          left: 55%,
          top: -5%
        )
      ),
      (
        default: (
          left: 75%,
          top: 22%
        ),
        untilLarge: (
          left: 84%,
          top: 22%
        ),
        untilSmall: (
          left: 87%,
          top: 5%
        )
      ),
      (
        default: (
          left: 5%,
          top: 70%
        ),
        untilLarge: (
          left: 5%,
          top: 70%
        ),
        untilSmall: (
          left: 5%,
          top: 80%
        )
      ),
      (
        default: (
          left: 20%,
          top: 78%
        ),
        untilLarge: (
          left: 20%,
          top: 78%
        ),
        untilSmall: (
          left: 20%,
          top: 100%
        )
      ),
      (
        default: (
          left: 95%,
          top: 47%
        ),
        untilLarge: (
          left: 95%,
          top: 47%
        ),
        untilSmall: (
          left: 95%,
          top: 47%
        )
      ),
      (
        default: (
          left: 80%,
          top: 77%
        ),
        untilLarge: (
          left: 80%,
          top: 77%
        ),
        untilSmall: (
          left: 85%,
          top: 70%
        )
      ),
      (
        default: (
          left: 100%,
          top: 74%
        ),
        untilLarge: (
          left: 90%,
          top: 94%
        ),
        untilSmall: (
          left: 90%,
          top: 100%
        )
      ),
      (
        default: (
          left: 30%,
          top: 106%
        ),
        untilLarge: (
          left: 30%,
          top: 106%
        ),
        untilSmall: (
          left: 30%,
          top: 126%
        )
      ),
      (
        default: (
          left: 63%,
          top: 109%
        ),
        untilLarge: (
          left: 63%,
          top: 109%
        ),
        untilSmall: (
          left: 63%,
          top: 129%
        )
      )
    );

    @include star-positions($shape-positions, sm, md);
  }
}
