@import '../base/mixins/helpers';

@mixin photo-margin-until-lg($margin-top: 50px, $margin-bottom: 25px) {
  @media (max-width: 992px) {
    margin: $margin-top auto $margin-bottom;
  }
}

.container-sourceries {
  background-color: $color-surface;
  width: 100%;
}

.sourcery-section {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1184px;
  padding: 0 128px 238px;
  position: relative;

  &--developers::before {
    @include z-index('sourcery', 'before');

    background-color: $color-white;
    content: '';
    height: 550px;
    left: -12%;
    position: absolute;
    width: 300px;
  }

  &--kids::before {
    @include z-index('sourcery', 'before');

    background-color: $color-white;
    bottom: 0;
    content: '';
    height: 1000px;
    left: -10%;
    position: absolute;
    width: 500px;
  }

  &--text-align::before {
    @include z-index('sourcery', 'before');

    background-color: $color-white;
    bottom: 100px;
    content: '';
    height: 1000px;
    position: absolute;
    right: -15%;
    width: 500px;
  }

  @media (max-width: 991px) {
    padding-bottom: 128px;
  }
  @include mq-between(lg, xl) {
    padding: 0 90px 238px;
  }
  @include mq-until(md) {
    padding: 0 20px 100px;
  }
  @include mq-between(md, lg) {
    padding: 0 40px 128px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;

    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;

      &--developers,
      &--kids {
        flex-direction: column-reverse;
      }
    }
  }

  &__content {
    max-width: 552px;
    width: 100%;

    @media (max-width: 991px) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__title {
    @include z-index('sourcery', 'title');

    color: $color-main-dark;
    font-family: $Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    position: relative;

    &--text-align {
      text-align: right;
    }

    @media (max-width: 991px) {
      font-size: 24px;
      text-align: center;
    }
  }

  &__text {
    @include z-index('sourcery', 'text');

    color: $grey-text-color;
    font-family: $Raleway;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    max-width: 552px;
    padding: 35px 0 50px 0;
    position: relative;

    @media (max-width: 991px) {
      font-size: 16px;
      max-width: 100%;
      text-align: center;
    }
    @include mq-between(lg, xl) {
      max-width: 420px;
    }
    @media (min-width: 1199px) and (max-width: 1249px) {
      max-width: 460px;
    }
    @media (min-width: 1250px) and (max-width: 1300px) {
      max-width: 500px;
    }
    @media (min-width: 1301px) and (max-width: 1399px) {
      max-width: 520px;
    }

    &--text-align {
      text-align: right;

      @media (max-width: 991px) {
        text-align: center;
      }
      @media (min-width: 992px) and (max-width: 1399px) {
        margin-left: auto;
        margin-right: 0;
      }
      @media (min-width: 1250px) and (max-width: 1300px) {
        max-width: 480px;
      }
      @media (min-width: 1301px) and (max-width: 1399px) {
        max-width: 500px;
      }
    }
  }

  &--text-align {
    text-align: right;
  }

  &__controls {
    @include z-index('sourcery', 'controls');

    position: relative;
  }

  &__image {
    @include z-index('sourcery', 'image');

    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    margin-top: -3.5%;
    width: 100%;

    @include mq-between(lg, xl) {
      align-self: center;
      width: 40%;
    }

    &--developers {
      margin-left: auto;
      margin-right: 53px;
      max-height: 232px;
      max-width: 430px;

      @include photo-margin-until-lg(25px);

      @media (min-width: 992px) and (max-width: 1399px) {
        margin-right: 0;
        min-width: 340px;
      }
      @media (min-width: 1199px) and (max-width: 1249px) {
        max-width: 380px;
      }
    }

    &--testers {
      margin-left: 105px;
      margin-right: auto;
      max-width: 353px;

      @include photo-margin-until-lg();

      @media (min-width: 992px) and (max-width: 1399px) {
        margin-left: 0;
        margin-right: auto;
        min-width: 280px;
      }
    }

    &--front-end {
      margin-left: 61px;
      margin-right: auto;
      max-width: 453px;

      @include photo-margin-until-lg();

      @media (min-width: 992px) and (max-width: 1399px) {
        margin-left: 0;
        min-width: 310px;
      }
    }

    &--kids {
      margin-left: auto;
      margin-right: 0;
      max-width: 458px;

      @include photo-margin-until-lg();

      @media (min-width: 992px) and (max-width: 1399px) {
        margin-right: 0;
        min-width: 300px;
      }
    }
  }
}

.background {
  &--developers {
    &__shape {
      @include z-index('sourcery', 'shape');

      position: absolute;

      $shape-positions: (
        (
          default: (
            left: 10.5%,
            top: -12%
          ),
          untilLarge: (
            left: 10.5%,
            top: -12%
          ),
          untilSmall: (
            left: 5%,
            top: 42%
          )
        ),
        (
          default: (
            left: 18%,
            top: -7%
          ),
          untilLarge: (
            left: 18%,
            top: -7%
          ),
          untilSmall: (
            left: 5%,
            top: 85%
          )
        ),
        (
          default: (
            left: 26.5%,
            top: 45%
          ),
          untilLarge: (
            left: 26.5%,
            top: 50%
          ),
          untilSmall: (
            left: 90%,
            top: 42%
          )
        ),
        (
          default: (
            left: 37%,
            top: 53%
          ),
          untilLarge: (
            left: 37%,
            top: 57%
          ),
          untilSmall: (
            left: 20%,
            top: 90%
          )
        ),
        (
          default: (
            left: 40%,
            top: 42%
          ),
          untilLarge: (
            left: 40%,
            top: 45%
          ),
          untilSmall: (
            left: 15%,
            top: 80%
          )
        )
      );

      @include star-positions($shape-positions, lg, xl);
    }
  }

  &--testers {
    &__shape {
      @include z-index('sourcery', 'shape');

      position: absolute;

      $shape-positions: (
        (
          default: (
            left: 79%,
            top: -18%
          ),
          untilLarge: (
            left: 79%,
            top: -18%
          ),
          untilSmall: (
            left: 90%,
            top: 35%
          )
        ),
        (
          default: (
            left: 87%,
            top: -10%
          ),
          untilLarge: (
            left: 87%,
            top: -10%
          ),
          untilSmall: (
            left: 92%,
            top: 18%
          )
        ),
        (
          default: (
            left: 56%,
            top: 48%
          ),
          untilLarge: (
            left: 54%,
            top: 50%
          ),
          untilSmall: (
            left: 12%,
            top: 79%
          )
        ),
        (
          default: (
            left: 63%,
            top: 40%
          ),
          untilLarge: (
            left: 61%,
            top: 43%
          ),
          untilSmall: (
            left: 5%,
            top: 45%
          )
        ),
        (
          default: (
            left: 71%,
            top: 55%
          ),
          untilLarge: (
            left: 69%,
            top: 53%
          ),
          untilSmall: (
            left: 20%,
            top: 87%
          )
        )
      );

      @include star-positions($shape-positions, lg, xl);
    }
  }

  &--front-end {
    &__shape {
      @include z-index('sourcery', 'shape');

      position: absolute;

      $shape-positions: (
        (
          default: (
            left: 80%,
            top: -7%
          ),
          untilLarge: (
            left: 80%,
            top: -7%
          ),
          untilSmall: (
            left: 10%,
            top: 43%
          )
        ),
        (
          default: (
            left: 88%,
            top: -3%
          ),
          untilLarge: (
            left: 88%,
            top: -3%
          ),
          untilSmall: (
            left: 90%,
            top: 45%
          )
        ),
        (
          default: (
            left: 58%,
            top: 70%
          ),
          untilLarge: (
            left: 56%,
            top: 65%
          ),
          untilSmall: (
            left: 10%,
            top: 85%
          )
        ),
        (
          default: (
            left: 64%,
            top: 50%
          ),
          untilLarge: (
            left: 64%,
            top: 50%
          ),
          untilSmall: (
            left: 20%,
            top: 80%
          )
        ),
        (
          default: (
            left: 75%,
            top: 58%
          ),
          untilLarge: (
            left: 75%,
            top: 58%
          ),
          untilSmall: (
            left: 5%,
            top: 75%
          )
        )
      );

      @include star-positions($shape-positions, lg, xl);
    }
  }

  &--kids {
    &__shape {
      @include z-index('sourcery', 'shape');

      position: absolute;

      $shape-positions: (
        (
          default: (
            left: 36%,
            top: -2%
          ),
          untilLarge: (
            left: 36%,
            top: -2%
          ),
          untilSmall: (
            left: 80%,
            top: 5%
          )
        ),
        (
          default: (
            left: 45%,
            top: -20%
          ),
          untilLarge: (
            left: 50%,
            top: -15%
          ),
          untilSmall: (
            left: 90%,
            top: 0%
          )
        ),
        (
          default: (
            left: 26%,
            top: 47%
          ),
          untilLarge: (
            left: 26%,
            top: 47%
          ),
          untilSmall: (
            left: 90%,
            top: 80%
          )
        ),
        (
          default: (
            left: 39%,
            top: 55%
          ),
          untilLarge: (
            left: 39%,
            top: 55%
          ),
          untilSmall: (
            left: 10%,
            top: 80%
          )
        ),
        (
          default: (
            left: 45%,
            top: 42%
          ),
          untilLarge: (
            left: 45%,
            top: 42%
          ),
          untilSmall: (
            left: 85%,
            top: 89%
          )
        )
      );

      @include star-positions($shape-positions, lg, xl);
    }
  }
}
