$shape-positions: (
  (
    default: (
      left: 53%,
      top: 20%
    ),
    untilLarge: (
      left: 36%,
      top: 5%
    ),
    untilMedium: (
      left: 36%,
      top: 5%
    )
  ),
  (
    default: (
      left: 60%,
      top: 22%
    ),
    untilLarge: (
      left: 50%,
      top: 8%
    ),
    untilMedium: (
      left: 50%,
      top: 8%
    )
  ),
  (
    default: (
      left: 69%,
      top: 16%
    ),
    untilLarge: (
      left: 69%,
      top: 3%
    ),
    untilMedium: (
      left: 69%,
      top: 3%
    )
  ),
  (
    default: (
      left: 13%,
      top: 96%
    ),
    untilLarge: (
      left: 13%,
      top: 96%
    ),
    untilMedium: (
      left: 13%,
      top: 96%
    )
  ),
  (
    default: (
      left: 18%,
      top: 85%
    ),
    untilLarge: (
      left: 18%,
      top: 85%
    ),
    untilMedium: (
      left: 28%,
      top: 85%
    )
  ),
  (
    default: (
      left: 25%,
      top: 89%
    ),
    untilLarge: (
      left: 25%,
      top: 89%
    ),
    untilMedium: (
      left: 45%,
      top: 91%
    )
  ),
  (
    default: (
      left: 30%,
      top: 79%
    ),
    untilLarge: (
      left: 30%,
      top: 79%
    ),
    untilMedium: (
      left: 69%,
      top: 94%
    )
  ),
  (
    default: (
      left: 36%,
      top: 86%
    ),
    untilLarge: (
      left: 36%,
      top: 86%
    ),
    untilMedium: (
      left: 80%,
      top: 86%
    )
  )
);

.apply-section-background__shape {
  position: absolute;

  @for $i from 1 through length($shape-positions) {
    $row: nth($shape-positions, $i);

    &--position-#{$i} {
      $default: map-get($row, 'default');

      left: map-get($default, 'left');
      top: map-get($default, 'top');

      @include mq-until(md) {
        $untilMedium: map-get($row, 'untilMedium');

        left: map-get($untilMedium, 'left');
        top: map-get($untilMedium, 'top');
      }

      @include mq-between(md, xl) {
        $untilLarge: map-get($row, 'untilLarge');

        left: map-get($untilLarge, 'left');
        top: map-get($untilLarge, 'top');
      }
    }
  }

  &--front-end-theme {
    fill: rgba(245, 95, 68, 0.5);
  }

  &--developer-theme {
    fill: rgba(77, 138, 240, 0.5);
  }

  &--tester-theme {
    fill: rgba(71, 230, 177, 0.5);
  }

  &--form-theme {
    fill: rgba(134, 134, 134, 0.5);
  }
}
