@import './apply-section-background';

.apply-academies {
  width: 100%;

  &--developers {
    background-color: $color-developers-shape;
  }

  &--testers {
    background-color: $color-testers-shape;
  }

  &--frontend {
    background-color: $color-frontend-shape;
  }
}

.apply-section {
  align-items: center;
  background-color: $color-white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 220px 128px 187px 128px;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    background-color: $color-white;
    height: 100%;
    position: absolute;
    top: 0;

    @include mq-until(xl) {
      display: none;
    }
  }

  &::before {
    @include z-index('apply-section', 'before');

    content: '';
    left: -20%;
    width: 360px;
  }

  &::after {
    content: '';
    left: 100%;
    width: 100px;
  }

  &__text {
    @include semibold(32px, $grey-text-color);

    line-height: 1.3;
    margin: 0 0 50px 0;
    max-width: 576px;
  }

  &__title {
    margin-bottom: 70px;

    @include mq-until(md) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    @include z-index('apply-section', 'wrapper');

    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__image {
    @include z-index('apply-section', 'image');

    height: auto;
    max-width: 563px;
    padding-left: 45px;
    position: relative;
    width: 100%;

    @include mq-until(lg) {
      max-width: 300px;
      padding: 0;
    }
  }

  @include mq-until(lg) {
    align-items: center;
    flex-direction: column-reverse;
    padding: 150px 40px 128px 40px;
    text-align: center;
  }
}
