<div class="academies-section">
    <div class="academies-section__wrapper">
        <h2 class="academies-section__title heading" id="academies-section">Academies</h2>
        <p class="academies-section__text paragraph">
            There are four disciplines available: for developers, testers, front-end developers and kids.
            Academies are taking place in Devbridge Lithuanian offices. Students, who are willing to join 
            developers, testers or Front-End academies, need to pass the test, prove their best to get an 
            invitation to enroll. This rule doesn’t apply to the kids (7 to 12 years old) academy, the 
            admission is limited only by available number of entries.
        </p>

        <div class="academies-section__divider"></div>

        {{> background.html }}
        
        <button class="academies-section__icon-wrapper" id="to-academies" aria-label="Jump to academies">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" class="academies-section__next-section-icon" >
                <g data-name="Icon feather-arrow-down-circle" transform="translate(1 1)">
                    <path d="M51 27A24 24 0 1 1 27 3a24 24 0 0 1 24 24z" class="academies-section__icon-fill" data-name="Path 862" transform="translate(-3 -3)"/>
                    <path d="M12 18l9.1 9.1 9.1-9.1" class="academies-section__icon-fill" data-name="Path 863" transform="translate(2.896 6.31)"/>
                    <path d="M18 12v18.208" class="academies-section__icon-fill" data-name="Path 864" transform="translate(6 2.896)"/>
                </g>
            </svg>
        </button>
    </div>
</div>