<div class="academies-background">

    {{> circle.html theme='academies-background__shape--tester-theme' styles='academies-background__shape academies-background__shape--position-1' }}
    {{> cross.html theme='academies-background__shape--tester-theme' styles='academies-background__shape academies-background__shape--position-2' }}
    {{> plus.html theme='academies-background__shape--developer-theme' styles='academies-background__shape academies-background__shape--position-3' }}
    {{> circle.html theme='academies-background__shape--front-end-theme' styles='academies-background__shape academies-background__shape--position-4' }}
    {{> plus.html theme='academies-background__shape--developer-theme' styles='academies-background__shape academies-background__shape--position-5' }}
    {{> cross.html theme='academies-background__shape--tester-theme' styles='academies-background__shape academies-background__shape--position-6' }}
    {{> circle.html theme='academies-background__shape--developer-theme' styles='academies-background__shape academies-background__shape--position-7' }}


    {{> cross.html theme='academies-background__shape--tester-theme' styles='academies-background__shape academies-background__shape--position-8' }}
    {{> circle.html theme='academies-background__shape--tester-theme' styles='academies-background__shape academies-background__shape--position-9' }}
    {{> circle.html theme='academies-background__shape--front-end-theme' styles='academies-background__shape academies-background__shape--position-10' }}
    {{> plus.html theme='academies-background__shape--developer-theme' styles='academies-background__shape academies-background__shape--position-11' }}
    {{> cross.html theme='academies-background__shape--tester-theme' styles='academies-background__shape academies-background__shape--position-12' }}
    {{> circle.html theme='academies-background__shape--developer-theme' styles='academies-background__shape academies-background__shape--position-13' }}
    {{> plus.html theme='academies-background__shape--developer-theme' styles='academies-background__shape academies-background__shape--position-14' }}
    {{> circle.html theme='academies-background__shape--front-end-theme' styles='academies-background__shape academies-background__shape--position-15' }}

</div>