<svg xmlns="http://www.w3.org/2000/svg" width="11.18" height="11.18" viewBox="0 0 11.18 11.18" class="{{styles}} ">
    <circle cx="5.59" cy="5.59" r="5.59" class="{{theme}}" data-name="Ellipse 18" />
</svg>
