 <svg xmlns="http://www.w3.org/2000/svg" width="12.466" height="12.466" viewBox="0 0 12.466 12.466" class="{{styles}}">
    <path
        d="M385.753 218.972a3.423 3.423 0 0 1-1.908-4.138 1.645 1.645 0 0 0 .074-.38 1.717 1.717 0 0 0-3.084-1.138 1.646 1.646 0 0 0-.19.337 3.424 3.424 0 0 1-4.138 1.908 1.642 1.642 0 0 0-.38-.074 1.717 1.717 0 0 0-1.138 3.084 1.646 1.646 0 0 0 .337.19 3.423 3.423 0 0 1 1.908 4.138 1.648 1.648 0 0 0-.074.38 1.717 1.717 0 0 0 3.084 1.138 1.644 1.644 0 0 0 .19-.337 3.423 3.423 0 0 1 4.138-1.908 1.647 1.647 0 0 0 .38.074 1.717 1.717 0 0 0 1.138-3.084 1.646 1.646 0 0 0-.337-.19z"
        class="{{theme}}" data-name="Path 7" transform="translate(-374.307 -212.634)" />
</svg>