@mixin transition($what-to-transition) {
  transition: $what-to-transition 0.3s ease-in-out;
  transition-delay: 0.1s;
}

@mixin custom-input($color, $colortext: $color-text) {
  border: solid 2px $color;
  color: $colortext;
  outline: none;
}

@mixin label($color) {
  color: $color;
}

.file-input-section {
  $_this: &;
  display: flex;
  max-width: 524px;
  position: relative;

  &__label {
    @include transition(color);
    @include input-label($_this);

    &::after {
      content: '*';

      @include input-required;
    }
  }

  &__default-input {
    @include visually-hidden;

    &:focus ~ label {
      #{$_this}__label {
        @include label($color-main-primary);

        &--error {
          @include label($color-error-hover);
        }
      }

      #{$_this}__custom-input {
        @include custom-input($color-main-primary);

        &--error {
          @include custom-input($color-error-hover);
        }
      }
    }

    &:hover ~ label {
      &:hover #{$_this}__label {
        @include label($color-main-primary);

        &--error {
          @include label($color-error-hover);
        }
      }

      &:hover #{$_this}__custom-input {
        @include custom-input($color-main-primary);

        &--error {
          @include custom-input($color-error-hover);
        }
      }
    }

    &:disabled + label {
      #{$_this}__label {
        @include label($color-form-placeholder);
      }

      #{$_this}__custom-input {
        cursor: default;

        @include custom-input($color-form-disabled, $color-form-disabled);
      }

      #{$_this}__button {
        content: url('../images/file-input/upload-disabled.svg');
      }
    }
  }

  &__input-wrapper {
    width: 100%;
  }

  &__custom-input {
    align-items: center;
    background-color: $color-white;
    border: solid 1px $color-form-main;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 48px;
    padding: 0 16px;
    width: 100%;

    @include input-placeholder;
    @include transition(border);

    &--active {
      border: solid 2px $color-main-dark;
      cursor: default;
      height: 48px;
      max-width: 524px;
    }

    &--error {
      border: solid 2px $color-error;
    }
  }

  &__placeholder {
    max-width: 420px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include mq-until(sm) {
      line-height: 1;
    }

    &--second {
      max-width: 70px;
      text-overflow: unset;
      width: 100%;
    }
  }

  &__button {
    height: 18px;
    margin-left: auto;
    width: 20px;

    @include transition(all);

    &--active {
      cursor: pointer;
      height: 16px;
      width: 16px;
    }

    &--error {
      cursor: pointer;
      height: 24px;
      width: 24px;
    }
  }

  &__error-label {
    margin-left: 16px;
    position: absolute;

    @include form-error-message;
  }
}
