input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.text-input {
  $this: &;
  max-width: 524px;
  position: relative;

  &--inline {
    display: inline-block;
    margin-right: 16px;

    @include mq-until(sm) {
      display: block;
      margin-right: 0;
    }

    & > #{$this}__input {
      width: 254px;
      @include mq-until(sm) {
        width: 100%;
      }
    }
  }

  &:hover {
    & > #{$this}__label {
      color: $color-main-primary;
    }

    & > #{$this}__label--disabled {
      color: $color-form-placeholder;
    }

    & > #{$this}__input:not(:disabled) {
      border: 2px solid $color-main-primary;
    }

    & > #{$this}__input:not(:disabled)::placeholder {
      color: $color-text;
    }
  }

  &:focus-within {
    & > #{$this}__label {
      color: $color-main-primary;
    }
  }

  &__error-message {
    @include form-error-message;

    display: block;
    margin: 0 0 7px 16px;
    min-height: 20px;
    opacity: 0;
  }

  &--error {
    position: relative;

    & > #{$this}__error-message {
      opacity: 1;
      @include form-error-message;

      &::before {
        content: url('/images/input-error.svg');
        position: absolute;
        right: 16px;
        top: 38px;
      }
    }

    & > #{$this}__input {
      border: 2px solid $color-error;
      margin-bottom: 4px;
    }

    & > #{$this}__input:placeholder-shown {
      border: 2px solid $color-error;
      margin-bottom: 4px;
    }

    & > #{$this}__label {
      color: $color-error-hover;
    }

    &:hover {
      & > #{$this}__input:not(:disabled) {
        border: 2px solid $color-error-hover;
      }

      & > #{$this}__label {
        color: $color-error-hover;
      }
    }

    &:focus-within {
      & > #{$this}__label {
        color: $color-error-hover;
      }

      & > #{$this}__input {
        border: 2px solid $color-error-hover;
      }
    }
  }

  &--inline ~ &--inline {
    margin-right: 0;
  }

  &__input {
    @include input-placeholder;
    @include transition(border);

    background-color: $color-white;
    border: 2px solid $color-main-dark;
    border-radius: 8px;
    box-sizing: border-box;
    color: $color-text;
    display: block;
    height: 48px;
    margin-bottom: 4px;
    padding: 0 16px;
    position: relative;
    width: 100%;

    &:placeholder-shown {
      border: 1px solid $color-form-main;
    }

    &::placeholder {
      @include input-placeholder;
    }

    &:disabled {
      border: 1px solid $color-form-disabled;
      cursor: none;
    }

    &:disabled::placeholder {
      color: $color-form-disabled;
    }

    &:focus {
      border: 2px solid $color-main-dark;
      outline: 0;
    }

    &:focus::placeholder {
      color: $color-text;
    }
  }

  &__label {
    @include input-label($this);
    @include transition(color);

    &--input-hasvalue {
      color: $color-main-primary;
    }

    &--required {
      &::after {
        content: '*';
        @include input-required;
      }
    }

    &--disabled {
      color: $color-form-placeholder;
    }
  }
}
