@mixin waves-animation($animation-name, $translate-x, $translate-y) {
  backface-visibility: hidden;
  perspective: 1000px;
  stroke-dasharray: 235, 15;
  stroke-dashoffset: 250;
  will-change: transform;

  @keyframes #{$animation-name} {
    50% {
      transform: translate($translate-x, $translate-y) rotate(0.1deg);
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
}

@mixin wave-background-settings($z-index) {
  @include z-index($z-index);

  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  position: absolute;
}

%wave-opacity-until-lg {
  @media (max-width: 991px) {
    opacity: 0.2;
  }
}
