@import '_waves-mixins.scss';

.wave-section {
  &__left-wave {
    @include waves-animation(waves-animation-left, 75px, 20px);
    @include wave-background-settings('wave-background');
    @extend %wave-opacity-until-lg;

    animation: waves-animation-left 5s linear infinite;
    height: 7117px;
    left: -20%;
    position: absolute;
    top: 0;
    width: 653px;

    @include mq-until(sm) {
      height: 8500px;
      left: -20%;
    }
    @include mq-until(lg) {
      height: 7500px;
    }
    @media (min-width: 992px) and (max-width: 1076px) {
      left: -37%;
    }
    @media (min-width: 1077px) and (max-width: 1149px) {
      left: -34%;
    }
    @media (min-width: 1150px) and (max-width: 1229px) {
      left: -32%;
    }
    @media (min-width: 1228px) and (max-width: 1301px) {
      left: -30%;
    }
    @media (min-width: 1300px) and (max-width: 1399px) {
      left: -24%;
    }
    @media (min-width: 1400px) and (max-width: 1499px) {
      left: -22%;
    }
    @media (min-width: 2000px) {
      height: 7100px;
    }
  }

  &__right-wave {
    @include waves-animation(waves-animation-right, 50px, 10px);
    @include wave-background-settings('wave-background');
    @extend %wave-opacity-until-lg;

    animation: waves-animation-right 5s linear infinite reverse;
    height: 7800px;
    left: 50%;
    position: absolute;
    top: -63%;
    width: 1004px;

    @media (min-width: 1301px) and (max-width: 1350px) {
      height: 7800px;
      left: 57%;
      width: 1004px;
    }
    @media (min-width: 1351px) and (max-width: 1424px) {
      left: 45%;
      top: -63%;
    }
    @media (min-width: 2000px) {
      height: 7800px;
      left: 50%;
      top: -63%;
    }

    &--developers {
      height: 7500px;
      left: 50%;
      top: -59%;

      @media (min-width: 2000px) {
        height: 7600px;
        left: 50%;
        top: -62%;
      }
      @media (min-width: 1301px) and (max-width: 1350px) {
        height: 7800px;
        left: 60%;
        top: -60%;
        width: 1004px;
      }
      @media (min-width: 1351px) and (max-width: 1424px) {
        left: 45%;
        top: -57%;
      }
    }
    @include mq-until(md) {
      display: none;
    }
    @media (min-width: 992px) and (max-width: 1050px) {
      height: 7800px;
      left: 53%;
      top: -57%;
      width: 1104px;
    }
    @media (min-width: 1051px) and (max-width: 1137px) {
      height: 7800px;
      left: 49%;
      top: -58%;
      width: 1104px;
    }
    @media (min-width: 1138px) and (max-width: 1200px) {
      height: 7800px;
      left: 51%;
      top: -60%;
      width: 1104px;
    }
    @media (min-width: 1201px) and (max-width: 1300px) {
      height: 7800px;
      left: 52%;
      top: -61%;
      width: 1104px;
    }
    @media (min-width: 1425px) and (max-width: 1467px) {
      left: 46%;
    }
    @media (min-width: 1468px) and (max-width: 1513px) {
      left: 48%;
    }
    @media (min-width: 1514px) and (max-width: 1593px) {
      left: 50%;
    }
  }

  .wave-section__wave-fill {
    &--developers {
      fill: $color-developers-shape;
    }

    &--testers {
      fill: $color-testers-shape;
    }

    &--frontend {
      fill: $color-frontend-shape;
    }
  }

  .wave-section__wave-stroke {
    fill: none;
    stroke-width: 2;

    &--developers {
      stroke: $color-developers-dark;
    }

    &--testers {
      stroke: $color-dark-turquoise;
    }

    &--frontend {
      stroke: $color-frontend-dark;
    }
  }
}
