@import '_waves-mixins.scss';

.academies-intro__section::after {
  @include waves-animation(waves-animation-left, -25px, -10px);
  @include wave-background-settings('wave-background');
  @extend %wave-opacity-until-lg;

  animation: waves-animation-left 5s linear infinite;
  background: url('../images/wave-left-home.svg');
  height: 5800px;
  left: -20.3%;
  top: 0;
  width: 1229px;

  @include mq-until(sm) {
    left: -75%;
    top: -90%;
  }
  @media (min-width: 576px) and (max-width: 992px) {
    top: -90%;
  }
  @media (min-width: 992px) and (max-width: 1052px) {
    left: -52%;
    top: 20%;
  }
  @media (min-width: 1052px) and (max-width: 1125px) {
    left: -42%;
    top: 12%;
  }
  @media (min-width: 1125px) and (max-width: 1198px) {
    left: -38%;
  }
  @media (min-width: 1199px) and (max-width: 1249px) {
    left: -32%;
  }
  @media (min-width: 1250px) and (max-width: 1300px) {
    left: -26%;
  }
  @media (min-width: 1301px) and (max-width: 1399px) {
    left: -24%;
  }
  //on chrome max zoomed-out breaks the view without this
  @media (min-width: 5501px) {
    height: 5900px;
  }
}

.academies-section__wrapper::after {
  @include waves-animation(waves-animation-right, 25px, 5px);
  @include wave-background-settings('wave-background');
  @extend %wave-opacity-until-lg;

  animation: waves-animation-right 5s linear infinite;
  background: url('../images/wave-right-home.svg');
  height: 5900px;
  left: 45%;
  top: -100%;
  width: 1094px;

  @include mq-until(lg) {
    top: 20%;
  }
  @media (min-width: 500px) and (max-width: 1005px) {
    height: 5300px;
  }
  @media (min-width: 1006px) and (max-width: 1059px) {
    height: 6000px;
  }
  @media (min-width: 1060px) and (max-width: 1180px) {
    height: 5900px;
    top: -90%;
  }
  @media (min-width: 1181px) and (max-width: 1198px) {
    height: 5900px;
  }
  @media (min-width: 1199px) and (max-width: 1248px) {
    height: 5800px;
  }
  @media (min-width: 1249px) and (max-width: 1292px) {
    height: 5800px;
  }
  @media (min-width: 1293px) and (max-width: 1384px) {
    height: 5800px;
  }
  @media (min-width: 1385px) {
    height: 5900px;
  }
  @media (min-width: 992px) and (max-width: 1151px) {
    top: -85%;
  }
  @media (min-width: 1152px) and (max-width: 1059px) {
    top: -88%;
  }
}
