.wave-intro {
  &--developers {
    .cls-1 {
      fill: $color-developers-shape;
    }

    .cls-2 {
      fill: none;
      stroke: $color-developers-dark;
      stroke-width: 2px;
    }
  }

  &--testers {
    .cls-1 {
      fill: $color-testers-shape;
    }

    .cls-2 {
      fill: none;
      stroke: $color-dark-turquoise;
      stroke-width: 2px;
    }
  }

  &--frontend {
    .cls-1 {
      fill: $color-frontend-shape;
    }

    .cls-2 {
      fill: none;
      stroke: $color-frontend-dark;
      stroke-width: 2px;
    }
  }
}
