.academy-selection {
  $_this: &;

  align-items: center;
  border: 2px solid $color-main-dark;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  max-width: 489px;
  padding: 8px;

  &__specific-academy {
    @include semibold;

    background-color: $color-white;
    border: none;
    border-radius: 24px;
    color: $color-text;
    flex: 1 1 auto;
    padding: 12px 5px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    white-space: normal;
    //width: 33%;
    &--selected {
      background-color: $color-main-primary;
      color: $color-white;
    }

    &:hover {
      background-color: $color-button-focus;
      color: $color-white;
      cursor: pointer;
    }

    &:focus {
      background-color: $color-button-focus;
      color: $color-white;
    }

    &:active {
      background-color: $color-main-dark;
      color: $color-white;
    }

    &:disabled {
      background-color: $color-form-focus;
      color: $color-form-placeholder;
      cursor: none;
    }
  }

  @include mq-until(sm) {
    flex-direction: column;
    max-width: 250px;

    #{$_this}__specific-academy {
      width: 100%;
    }
  }
}
