.registration-illiustration {
  $_this: &;

  &--letter {
    fill: #f5f5f5;
  }

  &--letter-sides {
    fill: url(#linear-gradient-2);
  }

  &--leter-front {
    fill: #fff;
  }

  &--letter-inside {
    fill: #e0e0e0;
  }

  &--letter-sides-shadow {
    opacity: 0.05;
  }

  &--stems {
    fill: none;
    stroke: #535461;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }

  &--stems2 {
    fill: #f5f5f5;
    opacity: 0.2;
  }

  &--man-shadows {
    opacity: 0.1;
  }

  &--man-skin {
    fill: #a1616a;
  }

  &--man-shoes {
    fill: url(#linear-gradient);
  }

  &--man-shirt {
    fill: #e1e7ef;
  }

  &--man-shoe-color {
    fill: #5a5773;
  }

  &--man-suit {
    fill: #605d82;
  }

  &--man-suit-2 {
    fill: #67647e;
  }

  &--man-hair {
    fill: #4a4347;
  }

  &--man-bottom-shadow {
    opacity: 0.5;
  }

  &--background {
    fill: rgba(97, 97, 100, 0.1);
    transition: fill 0.6s, opacity 0.6s;
  }

  &--leaf {
    fill: #7e8e92;
    transition: fill 0.6s;
  }

  &--colored-paper {
    fill: #7e8e92;
    transition: fill 0.6s;
  }

  &--darker-leafs {
    fill: #7e8e92;
    transition: fill 0.6s;
  }

  &--letter-text {
    fill: #7e8e92;
    opacity: 0.5;
    transition: fill 0.6s, opacity 0.6s;
  }

  &--letter-text-2 {
    fill: #7e8e92;
    opacity: 0.4;
    transition: fill 0.6s, opacity 0.6s;
  }

  &--letter-text-3 {
    fill: #7e8e92;
    opacity: 0.3;
    transition: fill 0.6s, opacity 0.6s;
  }

  &--testers {
    #{$_this}--background {
      fill: rgba(28, 229, 175, 0.1);
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--leaf {
      fill: #1ce5af;
      transition: fill 0.6s;
    }

    #{$_this}--colored-paper {
      fill: #1ce5af;
      transition: fill 0.6s;
    }

    #{$_this}--darker-leafs {
      fill: $color-dark-turquoise;
      transition: fill 0.6s;
    }

    #{$_this}--letter-text {
      fill: $color-testers-primary;
      opacity: 0.5;
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--letter-text-2 {
      fill: $color-testers-primary;
      opacity: 0.4;
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--letter-text-3 {
      fill: $color-testers-primary;
      opacity: 0.3;
      transition: fill 0.6s, opacity 0.6s;
    }
  }

  &--frontend {
    #{$_this}--background {
      fill: rgba(237, 29, 85, 0.1);
      transition: fill 0.6s;
    }

    #{$_this}--leaf {
      fill: $color-frontend-primary;
      transition: fill 0.6s;
    }

    #{$_this}--colored-paper {
      fill: $color-frontend-primary;
      transition: fill 0.6s;
    }

    #{$_this}--darker-leafs {
      fill: $color-frontend-dark;
      transition: fill 0.6s;
    }

    #{$_this}--letter-text {
      fill: $color-frontend-primary;
      opacity: 0.5;
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--letter-text-2 {
      fill: $color-frontend-primary;
      opacity: 0.4;
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--letter-text-3 {
      fill: $color-frontend-primary;
      opacity: 0.3;
      transition: fill 0.6s, opacity 0.6s;
    }
  }

  &--developers {
    #{$_this}--background {
      fill: rgba(108, 99, 255, 0.1);
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--leaf {
      fill: #17bce3;
      transition: fill 0.6s;
    }

    #{$_this}--colored-paper {
      fill: #17bce3;
      transition: fill 0.6s;
    }

    #{$_this}--darker-leafs {
      fill: #6c63ff;
      transition: fill 0.6s;
    }

    #{$_this}--letter-text {
      fill: #6c63ff;
      opacity: 0.5;
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--letter-text-2 {
      fill: #6c63ff;
      opacity: 0.4;
      transition: fill 0.6s, opacity 0.6s;
    }

    #{$_this}--letter-text-3 {
      fill: #6c63ff;
      opacity: 0.3;
      transition: fill 0.6s, opacity 0.6s;
    }
  }
}
