{{#if href}}
<a href="{{href}}" {{#if id}}id='{{id}}' {{/if}} class="button button--link button--{{class}}">
  {{ text }}
</a>
{{else}}
<button {{#if id}}id='{{id}}' {{/if}} class="button button--{{class}}" {{#if disabled}}disabled{{/if}}>
  {{ text }}
</button>
{{/if}}
