<div class="checkbox">
    <input class="checkbox__input" id="{{id}}" type="checkbox" {{#if checked }} checked="checked"
        {{/if}} {{#if disabled }}disabled{{/if}}>
    <span for="{{id}}" class="checkbox__background"></span>
    <label for="{{id}}" class="checkbox__label">{{text}}</label>
</div>