<footer class="footer">
  <div class="footer__content">
    <div class="footer__container">
      <div class="footer__icon-wrapper">
        <a href="http://www.facebook.com/Devbridge" target="_blank">
          <div class="footer__icon-background">
              <svg class="footer__icon" xmlns="http://www.w3.org/2000/svg" width="14.854" height="26" viewBox="0 0 14.854 26">
              <path id="Icon_awesome-facebook-f" d="M13.621 13.5l.667-4.343H10.12V6.338a2.172 2.172 0 0 1 2.449-2.347h1.895V.293A23.105 23.105 0 0 0 11.1 0C7.668 0 5.425 2.08 5.425 5.846v3.31H1.609V13.5h3.816V24h4.7V13.5z" style="fill:none;stroke:#3d3691;stroke-width:2px" data-name="Icon awesome-facebook-f" transform="translate(-.609 1)"/>
            </svg>
          </div>
        </a>
      </div>

      <div class="footer__icon-wrapper">
        <a href="https://twitter.com/devbridge" target="_blank">
          <div class="footer__icon-background">
              <svg class="footer__icon" xmlns="http://www.w3.org/2000/svg" width="26" height="21.789" viewBox="0 0 26 21.789">
                  <path id="Icon_feather-twitter" d="M25.5 4.5a11.891 11.891 0 0 1-3.425 1.669A4.887 4.887 0 0 0 13.5 9.438v1.091a11.629 11.629 0 0 1-9.818-4.942S-.682 15.4 9.136 19.769A12.7 12.7 0 0 1 1.5 21.95c9.818 5.455 21.818 0 21.818-12.545a4.909 4.909 0 0 0-.087-.905 8.422 8.422 0 0 0 2.269-4z" style="fill:none;stroke:#3d3691;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px" data-name="Icon feather-twitter" transform="translate(-.5 -3.401)"/>
              </svg>
          </div>
        </a>
      </div>

      <div class="footer__icon-wrapper">
        <a href="https://www.instagram.com/devbridge/" target="_blank">
          <div class="footer__icon-background">
              <svg class="footer__icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <g id="Icon_feather-instagram" data-name="Icon feather-instagram" transform="translate(-2 -2)">
                  <path id="Path_1216" d="M9 3h12a6 6 0 0 1 6 6v12a6 6 0 0 1-6 6H9a6 6 0 0 1-6-6V9a6 6 0 0 1 6-6z" style="fill:none;stroke:#3d3691;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px" data-name="Path 1216"/>
                  <path id="Path_1217" d="M21.529 15.995a4.758 4.758 0 1 1-4.008-4.008 4.758 4.758 0 0 1 4.008 4.008z" style="fill:none;stroke:#3d3691;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px" data-name="Path 1217" transform="translate(-1.781 -1.734)"/>
                  <path id="Path_1218" d="M26.25 9.75" style="fill:none;stroke:#3d3691;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px" data-name="Path 1218" transform="translate(-4.65 -1.35)"/>
              </g>
            </svg>
          </div>
        </a>
      </div>
    </div>

    <div class="footer__copyright-wrapper">
        <span class="footer__copyright">Copyright &copy; 2020 Sourcery Academy</span>
    </div>
  </div>
</footer>

