<header class="header">
  <div class="header__content">
    {{> logo/logo.html}}
    <nav class="header__navigation js-navigation-wrapper" aria-label="primary">
      {{> navigation/close-button.html}}
      {{> navigation/navigation.html}}
      {{> navigation/hamburger.html}}
    </nav>
  </div>
</header>
