<head>
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta name="keywords"
          content="Sourcery, Academy, Front-end, Developers, Testers, Kids Academy, React courses, JPA courses, Spring Boot, Testing, HTML, CSS, JavaScript courses">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta property="og:title" content="{{ htmlWebpackPlugin.options.title }}">
    <meta name="og:site_name" content="{{ htmlWebpackPlugin.options.title }}"/>
    <meta property="og:url" content="https://www.devbridge.com/sourcery/academy{{ htmlWebpackPlugin.options.url }}">
    <meta property="og:description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta property="og:image" content="../../images/media_home/media_home_5.jpg">
    <meta name="robots" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <link rel="canonical" href="/sourcery/academy/">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" type="image/png"
          href="../../favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"
          href="../../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"
          href="../../favicons/apple-touch-icon-72x72.png">
    <link rel="icon" sizes="32x32" type="image/png" href="../../favicons/favicon-32x32.png">
    <link rel="shortcut icon" sizes="48x48" type="image/ico" href="../../favicons/favicon.ico">
    <link rel="manifest" href="../../favicons/manifest.json">
    <meta name="theme-color" content="#fff">
    <link rel="mask-icon" href="../../images/sourcery-logo.svg" color="#3d3691">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900|Raleway:400,600,700&display=swap"
          rel="stylesheet">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
