<div class="academies-intro">
    <div class="academies-intro__section">
        <h1 class="academies-intro__title heading">Sourcery academy</h1>
        <div class="academies-intro__wrapper">
            <div class="academies-intro__content">
                <p class="academies-intro__text paragraph">Sourcery academy is our free of charge education program created to allow
                    students to improve their
                    skills and prepare for a career in the IT industry. There are three academies available. They serve
                    as our long-term commitment to increase the number of students in Lithuania entering information
                    technologies studies.</p>
                <div class="academies-intro__controls">
                  {{> button.html text='View academies' id='intro-button'}}
                </div>
            </div>
            <img class="academies-intro__image" src="../../images/intro.svg" alt="A man walking near large laptop" />
        </div>
    </div>
</div>
