<div class="radio">
  <input class="radio__input" id="{{id}}" type="radio" name="{{ group }}" {{#if checked }} checked="checked" {{/if}}
    {{#if disabled }}disabled{{/if}}>
  <label for="{{id}}" class="radio__label">{{ text }}</label>
</div>