<div class="container-sourceries">
    <div class="sourcery-section sourcery-section--developers" id="developer-academy">
        <h2 class="sourcery-section__title">Sourcery for Developers</h2>
        <div class="sourcery-section__wrapper sourcery-section__wrapper--developers">
            <div class="sourcery-section__content">
                <p class="sourcery-section__text">A free of charge three-month cutting-edge
                    technology course, available in the Spring and Fall of each year. Students are
                    invited to the Devbridge in Kaunas and Vilnius offices to attend lectures and
                    create custom projects with the help of software development professionals.</p>
                <div class="sourcery-section__controls">
                  {{> button.html href="/developers" text="Learn more"}}
                </div>
            </div>
            <img class="sourcery-section__image sourcery-section__image--developers" src="../../images/developers.svg"
                 alt="A man typing on laptop">
            <div class="background background--developers">
              {{> academies/cross.html theme='background--developers__shape--tester-theme' styles='background--developers__shape background--developers__shape--position-1' }}
              {{> academies/circle.html theme='background--developers__shape--developer-theme' styles='background--developers__shape background--developers__shape--position-2' }}
              {{> academies/plus.html theme='background--developers__shape--developer-theme' styles='background--developers__shape background--developers__shape--position-3' }}
              {{> academies/circle.html theme='background--developers__shape--front-end-theme' styles='background--developers__shape background--developers__shape--position-4' }}
              {{> academies/little-circle.html theme='background--developers__shape--form-theme' styles='background--developers__shape background--developers__shape--position-5' }}
            </div>
        </div>
    </div>
    <div class="sourcery-section sourcery-section--text-align sourcery-section--testers">
        <h2 class="sourcery-section__title">Sourcery for Testers</h2>
        <div class="sourcery-section__wrapper">
            <img class="sourcery-section__image sourcery-section__image--testers" src="../../images/testers.svg"
                 alt="A man with a hammer near a large monitor">
            <div class="sourcery-section__content">

                <p class="sourcery-section__text sourcery-section__text--text-align">Top-notch studies for the future Test
                    Engineers.
                    Students join the Devbridge team as a paid employee for the Academy period (two months)
                    to learn and work. Ones who finish the Academy successfully are invited to continue
                    employment on full time.</p>
                <div class="sourcery-section__controls">
                  {{> button.html href="/testers" text="Learn more"}}
                </div>
            </div>
            <div class="background background--testers">
              {{> academies/plus.html theme='background--testers__shape--developer-theme' styles='background--testers__shape background--testers__shape--position-1' }}
              {{> academies/circle.html theme='background--testers__shape--front-end-theme' styles='background--testers__shape background--testers__shape--position-2' }}
              {{> academies/circle.html theme='background--testers__shape--developer-theme' styles='background--testers__shape background--testers__shape--position-3' }}
              {{> academies/cross.html theme='background--testers__shape--tester-theme' styles='background--testers__shape background--testers__shape--position-4' }}
              {{> academies/little-circle.html theme='background--testers__shape--front-end-theme' styles='background--testers__shape background--testers__shape--position-5' }}
            </div>
        </div>
    </div>
    <div class="sourcery-section sourcery-section--text-align">
        <h2 class="sourcery-section__title">Sourcery for Front-End</h2>
        <div class="sourcery-section__wrapper">
            <img class="sourcery-section__image sourcery-section__image--front-end" src="../../images/front-end.svg"
                 alt="People with css, js, and html icons">
            <div class="sourcery-section__content">
                <p class="sourcery-section__text sourcery-section__text--text-align">Start your career in software
                    development with the intense program at Sourcery
                    for Front-End Developers. Complete the admission and enter our free of charge two-month academy this
                    autumn in Vilnius to learn from our top specialists.</p>
                <div class="sourcery-section__controls">
                  {{> button.html href="/frontend" text="Learn more"}}
                </div>
            </div>
            <div class="background background--front-end">
              {{> academies/little-circle.html theme='background--front-end__shape--front-end-theme' styles='background--front-end__shape background--front-end__shape--position-1' }}
              {{> academies/circle.html theme='background--front-end__shape--developer-theme' styles='background--front-end__shape background--front-end__shape--position-2' }}
              {{> academies/little-circle.html theme='background--front-end__shape--form-theme' styles='background--front-end__shape background--front-end__shape--position-3' }}
              {{> academies/plus.html theme='background--front-end__shape--developer-theme' styles='background--front-end__shape background--front-end__shape--position-4' }}
              {{> academies/circle.html theme='background--front-end__shape--front-end-theme' styles='background--front-end__shape background--front-end__shape--position-5' }}
            </div>
        </div>
    </div>
    <div class="sourcery-section sourcery-section--kids">
        <h2 class="sourcery-section__title">Sourcery for Kids</h2>
        <div class="sourcery-section__wrapper sourcery-section__wrapper--kids">
            <div class="sourcery-section__content">
                <p class="sourcery-section__text">Sourcery for Kids seeks to educate kids giving them opportunity to learn
                    and
                    apply technological product development skills. For the entire academic year, the children will study
                    key
                    aspects of programming, from logical concepts and functions, through to variables, sequences,
                    coordinates,
                    and movement. </p>
                <div class="sourcery-section__controls">
                  {{> button.html href="/kids" text="Learn more"}}
                </div>
            </div>
            <img class="sourcery-section__image sourcery-section__image--kids" src="../../images/kids.svg"
                 alt="Kids building robots">
            <div class="background background--kids">
              {{> academies/plus.html theme='background--kids__shape--developer-theme' styles='background--kids__shape background--kids__shape--position-1' }}
              {{> academies/little-circle.html theme='background--kids__shape--front-end-theme' styles='background--kids__shape background--kids__shape--position-2' }}
              {{> academies/cross.html theme='background--kids__shape--tester-theme' styles='background--kids__shape background--kids__shape--position-3' }}
              {{> academies/circle.html theme='background--kids__shape--front-end-theme' styles='background--kids__shape background--kids__shape--position-4' }}
              {{> academies/plus.html theme='background--kids__shape--developer-theme' styles='background--kids__shape background--kids__shape--position-5' }}
            </div>
        </div>
    </div>
</div>
