<script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
<div id="video-wrapper" class="wistia_responsive_wrapper wistia_responsive_wrapper--{{modifier}}"
    style="height:100%;left:0;position:absolute;top:0;width:100%;">
    <div id="{{id}}" class="wistia_embed wistia_embed--{{modifier}} wistia_async_{{video-id}}" data-id="{{video-id}}">
    </div>
    <button id="video-player-close-button" class="wistia_responsive_wrapper__button" aria-controls="{{id}}">
        <span class="visually-hidden">Close video</span>
        <svg class="wistia_responsive_wrapper__icon" xmlns="http://www.w3.org/2000/svg" width="18.562" height="18.562"
            viewBox="0 0 18.562 18.562">
            <g class="wistia_responsive_wrapper__icon-group" data-name="Group 779"
                transform="translate(-333.72 -37.844)">
                <rect width="24" height="2.25" class="wistia_responsive_wrapper__icon-rectangle"
                    data-name="Rectangle 832" rx="1.125" transform="rotate(45 121.973 423.677)" />
                <rect width="24" height="2.25" class="wistia_responsive_wrapper__icon-rectangle"
                    data-name="Rectangle 833" rx="1.125" transform="rotate(135 167.973 92.677)" />
            </g>
        </svg>
    </button>
</div>