<div class="file-input-section">
    <input type="file" id="file-upload" aria-label="Upload your resume" accept="application/pdf" class="file-input-section__default-input" {{#if disabled }}disabled{{/if}}>
    <label for="file-upload" class="file-input-section__input-wrapper">
        <span class="file-input-section__label">Resume</span>
        <span class="file-input-section__custom-input">
            <span class="file-input-section__placeholder">Upload your resume</span>
            <img alt="" src="../../../images/file-input/upload.svg" role="button" aria-label="upload resume" class="file-input-section__button">
        </span>
    </label>
</div>
