<div class="text-input {{#if inline }}text-input--inline{{/if}} {{#if error }}text-input--error{{/if}}">
    <label class="text-input__label 
    {{#if required }}text-input__label--required{{/if}} 
    {{#if disabled }}text-input__label--disabled{{/if}}"
     for="{{id}}">{{text}}</label>
    <input class="text-input__input {{#if required }}text-input__input--required{{/if}}"
        type="{{type}}" id="{{id}}" placeholder="{{placeholderText}}" {{#if disabled }}disabled{{/if}}>
    <span class="text-input__error-message">{{errorMessage}}</span>
</div>