@import './testimonials-carousel';
@import './testimonials-card';

.container-testimonials {
  background-color: $color-surface;
  position: relative;
  width: 100%;

  &--frontend {
    background-color: $color-frontend-shape;
  }

  &--developers {
    background-color: $color-developers-shape;
  }

  &--testers {
    background-color: $color-testers-shape;
  }
}

.testimonials {
  background-color: $color-white;
  margin: 0 auto;
  max-width: 1290px;
  padding: 0 80px 75px;
  position: relative;

  @include mq-until(md) {
    padding: 0 20px 20px;
  }

  @include mq-between(md, lg) {
    padding: 0 40px 40px;
  }

  &:not(&--home)::before {
    @include z-index('testimonials', 'before');

    background-color: $color-white;
    content: '';
    height: 120%;
    left: -17%;
    position: absolute;
    top: 0;
    width: 270px;
  }

  &--home::before {
    @include z-index('testimonials', 'before');

    background-color: $color-white;
    content: '';
    height: 120%;
    left: -15%;
    position: absolute;
    top: 0;
    width: 220px;
  }

  &::after {
    @include z-index('testimonials', 'after');

    background-color: $color-white;
    content: '';
    height: 110%;
    position: absolute;
    right: -15%;
    top: -10%;
    width: 290px;
  }

  &__title-wrapper {
    @include z-index('testimonials', 'title-wrapper');

    background-color: transparent;
    position: relative;
    text-align: right;

    @include mq-until(xl/1300) {
      text-align: center;
    }
  }

  &__title {
    margin: 0 0 65px;
    @include heading;

    @media (max-width: 490px) {
      margin: 0 0 25px;
    }
  }

  &__card-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    transition: transform 1s ease-in-out;
  }

  $shape-positions: (
    (
      default: (
        left: 11%,
        top: -4%
      ),
      untilLarge: (
        left: 20%,
        top: -1%
      ),
      untilMedium: (
        left: 16%,
        top: 13%
      )
    ),
    (
      default: (
        left: 21%,
        top: 5%
      ),
      untilLarge: (
        left: 27%,
        top: 7%
      ),
      untilMedium: (
        left: 37%,
        top: -2%
      )
    ),
    (
      default: (
        left: 42%,
        top: -7%
      ),
      untilLarge: (
        left: 50%,
        top: 7.5%
      ),
      untilMedium: (
        left: 78%,
        top: 2%
      )
    ),
    (
      default: (
        left: 13%,
        top: 78%
      ),
      untilLarge: (
        left: 10%,
        top: 82%
      ),
      untilMedium: (
        left: 12%,
        top: 80%
      )
    ),
    (
      default: (
        left: 29%,
        top: 81%
      ),
      untilLarge: (
        left: 28%,
        top: 93%
      ),
      untilMedium: (
        left: 28%,
        top: 90%
      )
    ),
    (
      default: (
        left: 48%,
        top: 85%
      ),
      untilLarge: (
        left: 48%,
        top: 96%
      ),
      untilMedium: (
        left: 48%,
        top: 98%
      )
    ),
    (
      default: (
        left: 60%,
        top: 90%
      ),
      untilLarge: (
        left: 80%,
        top: 98%
      ),
      untilMedium: (
        left: 75%,
        top: 90%
      )
    ),
    (
      default: (
        left: 68%,
        top: 73%
      ),
      untilLarge: (
        left: 65%,
        top: 95%
      ),
      untilMedium: (
        left: 79%,
        top: 75%
      )
    ),
    (
      default: (
        left: 86%,
        top: 89%
      ),
      untilLarge: (
        left: 86%,
        top: 87%
      ),
      untilMedium: (
        left: 86%,
        top: 88%
      )
    ),
    (
      default: (
        left: 93%,
        top: 72%
      ),
      untilLarge: (
        left: 93%,
        top: 81%
      ),
      untilMedium: (
        left: 73%,
        top: 84%
      )
    )
  );

  .shape {
    position: absolute;

    &--small {
      height: 6.4px;
      width: 6.4px;
    }

    @for $i from 1 through length($shape-positions) {
      $row: nth($shape-positions, $i);
      $displayMD: block;
      @if (($i >= 4) and ($i % 2 != 0)) {
        $displayMD: none;
      }

      &--position-#{$i} {
        $default: map-get($row, 'default');

        left: map-get($default, 'left');
        top: map-get($default, 'top');

        @include mq-until(md) {
          $untilMedium: map-get($row, 'untilMedium');

          display: $displayMD;
          left: map-get($untilMedium, 'left');
          top: map-get($untilMedium, 'top');
        }

        @include mq-between(md, xl/1300) {
          $untilLarge: map-get($row, 'untilLarge');

          left: map-get($untilLarge, 'left');
          top: map-get($untilLarge, 'top');
        }
      }
    }

    &--front-end-theme {
      fill: rgba(245, 95, 68, 0.5);
    }

    &--developer-theme {
      fill: rgba(77, 138, 240, 0.5);
    }

    &--tester-theme {
      fill: rgba(71, 230, 177, 0.5);
    }

    &--form-theme {
      fill: rgba(134, 134, 134, 0.5);
    }
  }
}
