.card {
  max-width: 410px;

  &__content {
    background-color: $color-white;
    border: 2px solid $color-main-dark;
    border-radius: 16px;
    box-shadow: -20px 20px $color-surface;
    margin: 0 57px;
    padding: 35px 30px;
    text-align: left;
    transition: 0.3s ease-in-out;
    width: 230px;

    &--testers {
      border: 2px solid $color-dark-turquoise;
    }

    &--developers {
      border: 2px solid $color-developers-dark;
    }

    &--frontend {
      border: 2px solid $color-frontend-dark;
    }

    &:hover {
      box-shadow: 0 0 8px 8px rgba(134, 134, 134, 0.4);
      transform: scale(1.1);

      @media (max-width: 490px) {
        transform: scale(1);
      }
    }

    @include mq-between(xl, xl/1300) {
      margin: 0 30px;
    }

    @include mq-between(md, lg) {
      margin: 0 25px;
      padding: 35px 25px;
      width: 210px;
    }

    @media (max-width: 490px) {
      box-shadow: -10px 10px $color-surface;
      padding: 25px 10px;
      width: 190px;
    }
  }

  &__image {
    border-radius: 50%;
    display: block;
    height: 78px;
    margin: 0 auto;
    width: 78px;

    @media (max-width: 490px) {
      height: 60px;
      width: 60px;
    }
  }

  blockquote {
    margin: 0;
  }

  blockquote p::before {
    content: '\201C';
    display: block;
    font-family: $Montserrat;
    font-size: 38px;
    font-weight: 600;
    height: 29px;
    margin-bottom: 10px;
  }

  blockquote p::after {
    content: '\201D';
    display: block;
    font-family: $Montserrat;
    font-size: 38px;
    font-weight: 600;
    height: 29px;
    margin-bottom: 14px;
    text-align: right;
  }

  &__text {
    margin: 0;
    @include small-text;
  }

  &__name {
    @include subheading;
  }

  &__name,
  &__academy-title {
    margin: 0;
    text-align: center;
  }
}
