.testimonials-carousel {
  display: flex;
  justify-content: center;
  padding: 40px 30px;

  &__container {
    @include z-index('testimonials', 'carousel-container');

    height: 486px;
    position: relative;

    @include mq-from(xl/1400) {
      height: 610px;
    }
  }

  &__button {
    $_this: &;
    @include z-index('testimonials', 'carousel-button');

    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 40%;

    @include mq-from(xl/1400) {
      top: 35%;
    }

    &__icon {
      background-color: white;
      border-radius: 50%;
      transition: background-color 0.1s ease-in;

      @media (max-width: 499px) {
        background-color: transparent;
      }
    }

    &:focus,
    &:hover {
      #{$_this}__icon {
        background-color: lighten($color-main-primary, $amount: 30%);
      }
    }

    &--developers {
      &:hover,
      &:focus {
        #{$_this}__icon {
          background-color: $color-developers-shape;
        }
      }
    }

    &--testers {
      &:hover,
      &:focus {
        #{$_this}__icon {
          background-color: $color-testers-shape;
        }
      }
    }

    &--frontend {
      &:hover,
      &:focus {
        #{$_this}__icon {
          background-color: $color-frontend-shape;
        }
      }
    }

    &__icon-fill {
      fill: transparent;
      stroke: $color-main-dark;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;

      &--developers {
        stroke: $color-developers-dark;
      }

      &--testers {
        stroke: $color-dark-turquoise;
      }

      &--frontend {
        stroke: $color-frontend-dark;
      }

      &-border {
        @media (max-width: 499px) {
          stroke: none;
        }
      }
    }

    &--back {
      @include z-index('testimonials', 'carousel-back');

      left: 20px;
      transform: rotate(90deg);

      @media (max-width: 499px) {
        left: 0;
        top: -1%;
      }
    }

    &--next {
      right: 20px;
      transform: rotate(-90deg);

      @media (max-width: 499px) {
        right: 0;
        top: -1%;
      }
    }
  }
}

.is-hidden {
  display: none;
}
