 <svg xmlns="http://www.w3.org/2000/svg" width="15.838" height="15.838" data-name="Group 400"
        viewBox="0 0 15.838 15.838" class="{{className}}">
    <path d="M0 0h2.795v15.838H0z" class="{{theme}}" data-name="Rectangle 676"
        transform="translate(6.522)" />
    <path d="M0 0h2.795v15.838H0z" class="{{theme}}" data-name="Rectangle 677"
        transform="rotate(90 4.658 11.18)" />
</svg>