<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px" width="653px" height="8852.6px" viewBox="0 0 653 8852.6"
	style="enable-background:new 0 0 653 8852.6;" xml:space="preserve"
	class="wave-section__left-wave wave-section__left-wave--{{modifier}}">
	<path class="wave-section__wave-fill--{{modifier}}" d="M180.7,0c-3.4,5.1-8,13.1-11,23.7c-9.8,35,6,71.6,38.5,118.3c52.7,75.7,160.1,193.3,168.4,211.5
	c6.2,13.5,10.7,27.5,10.7,27.5c0,0,0.4,1.1,0.7,2.2c34.5,109.4-42.8,267.5-42.8,267.5c-35.7,69.8-46.4,55.7-66.8,105.8
	c-26.5,65-26.6,133-12.6,208.2c33.1,177.8,108.2,200,167.8,374.2c26.7,78.1,70.6,265.4,13.8,423.7
	c-33.6,93.6-78.8,104.5-166.2,285.1c-68.9,142.5-67.7,186.6-64.9,210.2c10.5,88.8,68.7,104.1,137.6,231.1
	c38.3,70.6,85,156.7,80.9,258c-5.3,133.2-93,161.6-138.7,333.6c-26.5,99.7-20.9,179.9-16.5,242.1
	c20.3,291.3,177.6,359.4,197.2,609.9c9,114.5-16.4,196.6-60.5,339.4c-98,317.1-256.5,434.8-197.2,577.8
	c22.5,54.3,46.4,40.7,134.8,167.8c49.6,71.4,96.8,139.2,118,214.3c8.2,29,27.7,112.8-87.6,417.2c-95.2,251.4-139.4,275.8-146,403.1
	c-7.2,138.2,39.9,253.8,60.5,305.4c70.4,176,149.1,200.3,162.3,335.7c8.4,85.9-17.6,151.2-55,242.1c-19.9,48.3-40,84.8-60.2,114.7
	c-101.2,150.2-154.4,173.1-184.7,256.7c-25.7,70.8-8.9,132.3,25.7,252.2c21.1,73.3,43.7,129.1,66,174.9
	c132.8,271.4,144.1,257.2,154.1,333.3c24.7,187.1-102.1,352.1-113.7,366.9c-55.9,70.7-90,72.6-137.6,144.9
	c-62.6,95.1-74,199-73.4,273.3c-12.8,2.3-28.5,4-46.5,3.6c-13.9-0.3-26.1-1.9-36-3.6c0-1966.2,0-3932.3,0-5898.5
	C0,1969.4,0,984.7,0,0C60.2,0,120.4,0,180.7,0z" />
	<path class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M199.9,0c-1.4,20.1-1.4,51.3,8.3,87c30.9,114.1,123.8,136,173.4,235.3
	c47.4,95,23.7,197.5,17.9,220.1C366.1,671,267.1,698.5,242.1,851c-4,24.4-8.4,52.3-3.7,89c14.7,114.5,97.4,154.6,165.1,258.6
	c7.7,11.9,76.7,125.6,85.3,272.4c7.1,121.6-34.3,210.8-107.3,363.2c-11.2,23.5-56.2,91.3-100.5,176.6
	c-30.3,58.3-44.1,95.4-50.7,129.2c-34.8,178.3,217.2,253.6,228.2,470.2c4,78.1-30.4,164-99.1,335.7
	c-34.6,86.6-49.7,117.1-60.5,184.4c-19.6,121.6,4.2,221.1,16.5,270.6c23.5,94.2,46.1,111.1,104.6,255
	c52.2,128.5,78.4,192.8,86.2,249.5c30.1,217.1-94.6,428.4-142.6,509.7c-18.2,30.9-70.6,115.1-117.1,241.3
	c-13.5,36.5-20.4,54.7-21.9,64.4c-24.5,164.1,189.6,255.2,218.4,468c5.1,37.8-1.8,80.2-15.6,164.9c-35.8,219.1-99.7,266.8-145,445.8
	c-22.3,88.3-63.1,258.3-11,448.5c20,72.9,43.1,97.2,79.6,168.7c21.5,42.1,35.1,72.3,55.2,125.8c17.7,47.3,53.2,146.6,52.2,236.2
	c-1.1,97.8-46.2,167.7-131,299c-69.7,107.9-91.7,107.4-127.5,186.6c-22.1,48.9-61.7,136.6-49.5,238.5
	c11.4,95.3,57.1,110.5,166.9,308.2c63.2,113.8,94.8,170.7,100.9,223.8c13.9,121.6-44.6,223.1-119.2,352.2
	c-73.7,127.6-130.7,165.3-165.1,288c-20.5,73.1-21.9,136.9-20.2,177.9" />
	<path class="wave-section__wave-fill--{{modifier}}" d="M887.8,4214.3" />
</svg>