<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1004.7px" height="7798.8px" viewBox="0 0 1004.7 7798.8" style="enable-background:new 0 0 1004.7 7798.8;"
	 xml:space="preserve" class="wave-section__right-wave wave-section__right-wave--{{modifier}}">
<path id="Path_1960" class="wave-section__wave-fill--{{modifier}}" d="M818.6,3352.9c-2-10-4-20.1-6.1-30.1c-0.2,8.5-0.8,20.6-2.5,35.2c-1.2,9.9-1.9,18.8-3.5,22.8
	c-15.1,39-28.8,57.9-28.8,57.9c-35.2,43.9-100.8,102.3-105.4,106.5c-68,62.1-108.6,99.4-134.7,160c-6.5,17.1-16,44.7-22.5,79.6
	c-46.6,248.9,146.9,374.6,181.8,570.5c61.3,343.9-428.5,554.2-346.7,835.1c23.2,79.9,93.1,167,269.7,239.4
	c16.1,3,39.4,7.5,67.4,13.8c74.4,16.7,83,23.5,88.3,28.5c33,31.6,34.1,89.2,34.1,90.9c0,0.1,0,0.2,0,0.3c0.1,4.6,0,12.6,0,12.6
	c65,0.6,130,1.3,195.1,1.9c0-742.9,0-1485.9,0-2228.8c-49,3.5-100.2,5.2-153.5,4.6C840.3,3353.4,829.4,3353.2,818.6,3352.9z"/>
<path id="Path_1969" class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M837.2,3353.1c0,163.8-300.1,166.5-347.8,415c-11.6,60.2-2.6,130.6-2.6,130.6
	c0.9,6.6,2.7,17.3,6.4,30.1c9.7,32.9,25.5,55,30.3,61.9c27.6,39.7,102,174.1,130.7,260c41,123,17.9,235.1,11,268.3
	c-56.1,271.5-311,294.1-335.7,521.4c-10.3,95,19.1,230.1,107.3,294.4c99.8,72.8,253.6,39.3,336.6,114.3c15,13.5,58.5,53,63.4,110.6
	c0.6,7,0.5,12.7,0.3,16.3"/>
<path id="Path_1960_1_" class="wave-section__wave-fill--{{modifier}}" d="M809.7,5575.9v0.7c0,5.2,3.4,84.2-137.2,191.4c-91.5,69.7-142.4,142.9-157.2,239.6
	c-27.3,178.4,112.3,302.7,64.1,532.8c-48.2,230.1-192.8,335.5-190.7,556.3S521,7513,646.3,7597.4c53.6,36.1,103.9,64.3,129.5,97.4
	c34.1,44.1,34.1,88.6,34.1,91.2c0.1,4.6,0,12.6,0,12.6c65,0,130,0.1,195.1,0.1c0-740.3,0-1480.7,0-2221
	C939.7,5577.2,874.7,5576.5,809.7,5575.9z"/>
<path id="Path_1969_1_" class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M837.2,5575.9c0,163.8-300.1,166.5-347.8,415c-37,192.8,70.6,246.7,106.3,392.6
	c15,61.6,11.3,109.1,6,168.8c-22.4,251.9-155.6,288.9-178.4,483.9c-18,153.5,35.4,379.5,172.4,479.7
	c39.5,28.9,85.6,71.3,177.8,156.1c17.7,16.2,58.6,54.9,63.4,110.6c0.6,6.9,0.5,12.7,0.3,16.3"/>
<path class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M564.5,3314.1"/>
<g id="Shape_Video" transform="translate(1)">
	<path id="Path_1972" class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M187.4,349.4C166.1,409,141,472.2,111,537.9c-20,44-40.5,85.5-61.1,124.5
		c-16.2,45.9-38.2,127.4-27.3,227.9c11.9,108.9,56.3,184.5,66.1,200.6c101,166.5,249.1,159.7,498,395.6c8.9,8.5,16.1,15.5,20.5,19.8
		"/>
</g>
<g id="Shape_Admissions" transform="translate(1.016 .778)">
	<path id="Path_1962" class="wave-section__wave-fill--{{modifier}}" d="M607.5,1471.3c42.2,80,70.3,151.1,89.1,206c25.5,74.5,54.9,163.3,61.4,284.4
		c1.6,29.5,1.3,54.9,0.5,77c-7.8,231.8-39.9,335.3-178.7,518.7c-138.8,183.4-332.3,207.7-364.4,346.8s96.8,221.1,203.7,215.4
		c80.8-4.3,211.1-18,273.1,20.7c32.7,20.4,56.6,44.6,73.9,70c40,58.9,42,121.7,41.5,129.3c-0.3,4.7-0.1,7.1,0.3,11.9
		c0.7,9.1,1.1,13.6,3.4,14.8c4.6,2.4,10.8-9.7,22.7-12.8c13-3.5,25.7,5.6,29.6,8c14.7,9.1,50.1,13.1,140.1-8.9
		c-12-590-24-1180-36-1770c-36.6,1.9-81.8,0.7-132.3-9.1C728.8,1552.9,651.6,1504.5,607.5,1471.3z"/>
	<path id="Path_1971" class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M603.7,1502.8c3.1,2.5,42.1,33.8,68.8,66.8c16.9,21,31.6,43.7,43.8,67.8
		c112.2,227.8,86.3,499.7-1.4,687.5c-151.1,323.7-397.8,367.8-477.8,506.4s-7.9,256.4,101.1,285.6s497.3,42.5,497.3,233.2"/>
</g>
<path class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M837.2,3354.3c-0.2-2.3-0.4-4.6-0.7-6.9"/>
<path class="wave-section__wave-stroke wave-section__wave-stroke--{{modifier}}" d="M804.6,3356.8"/>
</svg>
