<div class="specific-seminar" tabindex="0" role="button" aria-expanded="false" aria-label="{{seminar-title}}">
    <div class="specific-seminar__wrapper specific-seminar__wrapper--{{theme}}  "> 
        <svg class="specific-seminar__arrow-icon " xmlns="http://www.w3.org/2000/svg" width="15.57"
            height="9.083" viewBox="0 0 15.57 9.083">
            <path 
                d="M7.788 6.345L13.675.333a1.093 1.093 0 0 1 1.571 0 1.161 1.161 0 0 1 0 1.608l-6.67 6.811a1.1 1.1 0 0 1-1.534.033L.324 1.946a1.158 1.158 0 0 1 0-1.608 1.093 1.093 0 0 1 1.576 0z" />
        </svg>

        <div class="specific-seminar__details specific-seminar__details--{{theme}}"> 
            <div class="specific-seminar__lecture-topic">
                {{seminar-title}}
            </div>
            <div class="specific-seminar__lecture-wrapper specific-seminar__lecture-wrapper--first" >
                <div class="specific-seminar__parallel">
                    <div>
                        <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" style="fill: white;">
                            <g>
                                <rect fill="transparent" height="16" width="16" y="-1" x="-1"/>
                                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%">
                                    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                                </g>
                            </g>
                            <g stroke="null" transform="matrix(0.05570873242754017,0,0,0.04394666511791943,0.7452974751407573,29.305460752377943) " >
                                <path stroke="null" d="m110.371746,-516.841643c41.355,0 75,-33.645 75,-75s-33.645,-75 -75,-75s-75,33.645 -75,75s33.645,75 75,75zm0,-120c24.813,0 45,20.187 45,45s-20.187,45 -45,45s-45,-20.187 -45,-45s20.187,-45 45,-45z"/>
                                <path stroke="null" d="m110.371746,-486.841643c-68.236,0 -123.75,55.514 -123.75,123.75l0,15l247.5,0l0,-15c0,-68.236 -55.514,-123.75 -123.75,-123.75zm-92.551,108.75c7.202,-44.588 45.962,-78.75 92.551,-78.75s85.35,34.162 92.551,78.75l-185.102,0z"/>
                            </g>
                        </svg>
                    </div>
                    <div class="specific-seminar__lecturer">
                        {{lecturer}}
                    </div>
                </div>
            </div>
            <div class="specific-seminar__lecture-wrapper" >
                <div class="specific-seminar__parallel">
                    <div >
                        <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMaxYMax">
                            <g>
                            <rect fill="transparent" height="14" width="14" y="0" x="0"/>
                            </g>
                            <g stroke="null" class="specific-seminar__clock">
                            <path stroke="null" d="m7,0.275699c-3.793183,0 -6.879075,3.016461 -6.879075,6.724301c0,3.707864 3.085891,6.724301 6.879075,6.724301c3.793208,0 6.879075,-3.016461 6.879075,-6.724301c0,-3.70784 -3.085866,-6.724301 -6.879075,-6.724301zm0,11.97881c-2.964103,0 -5.375452,-2.357096 -5.375452,-5.254509c0,-2.897269 2.411349,-5.254509 5.375452,-5.254509s5.375452,2.35724 5.375452,5.254509c0,2.897413 -2.411349,5.254509 -5.375452,5.254509z"/>
                            <path stroke="null" d="m7.595454,7.008069l0,-2.818303c0,-0.314685 -0.260874,-0.569689 -0.582678,-0.569689c-0.321903,0 -0.582801,0.255004 -0.582801,0.569689l0,3.000298c0,0.008958 0.00226,0.017364 0.002703,0.026322c-0.007666,0.154905 0.046927,0.312187 0.167954,0.430515l2.170499,2.121497c0.227656,0.222534 0.596634,0.222534 0.824118,0c0.227509,-0.222534 0.227656,-0.58321 0,-0.8056l-1.999794,-1.954728z"/>
                            </g>
                        </svg>
                    </div>
                    <div class="specific-seminar__parallel specific-seminar__parallel--collumn">
                        <div class="specific-seminar__time specific-seminar__time--first">
                            {{time}} 
                        </div>
                        <div class="specific-seminar__time">
                            {{duration}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="specific-seminar__dates specific-seminar__dates--{{theme}}">

            <div class="specific-seminar__date-wrapper specific-seminar__date-wrapper--{{theme}}">
                <div class="specific-seminar__specific-date">
                        <span class="specific-seminar__month  specific-seminar__month--{{theme}}">{{vilnius-month}} </span> 
                        <br />
                        <span class="specific-seminar__day specific-seminar__day--{{theme}}">{{vilnius-day}} </span>
                </div>
                <div class="specific-seminar__divider specific-seminar__divider--{{theme}}"></div>
                <div class="specific-seminar__gps-wrapper">
                    <svg width="18" height="25" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect fill="none" height="27" width="20" y="-1" x="-1"/>
                        </g>
                        <g stroke="null" class="specific-seminar__gps-icon specific-seminar__gps-icon--{{theme}}" >
                            <path stroke="null"d="m8.999614,0.145004c-4.865398,0 -8.823619,3.847156 -8.823619,8.575468c0,4.551407 8.005822,15.185115 8.346704,15.635403l0.318136,0.420752c0.037205,0.049456 0.096449,0.078368 0.158779,0.078368c0.063293,0 0.122152,-0.028912 0.159742,-0.078368l0.317943,-0.420752c0.341075,-0.450289 8.346704,-11.083997 8.346704,-15.635403c0,-4.728313 -3.958863,-8.575468 -8.82439,-8.575468zm0,5.503751c1.743288,0 3.160857,1.377655 3.160857,3.071717c0,1.693188 -1.417634,3.071717 -3.160857,3.071717c-1.74226,0 -3.160857,-1.378529 -3.160857,-3.071717c0,-1.694062 1.418534,-3.071717 3.160857,-3.071717z"/>
                        </g>
                    </svg>
                </div>
                <div class="specific-seminar__city specific-seminar__city--{{theme}}">
                    Vilnius
                </div>
            </div>
            <div class="specific-seminar__date-wrapper specific-seminar__date-wrapper--{{theme}}">
                <div class="specific-seminar__specific-date">
                        <span class="specific-seminar__month  specific-seminar__month--{{theme}}">{{kaunas-month}} </span> 
                        <br />
                        <span class="specific-seminar__day specific-seminar__day--{{theme}}">{{kaunas-day}} </span>
                </div>
                <div class="specific-seminar__divider specific-seminar__divider--{{theme}}"></div>
                <div class="specific-seminar__gps-wrapper">
                    <svg width="18" height="25" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect fill="none" height="27" width="20" y="-1" x="-1"/>
                        </g>
                        <g stroke="null" class="specific-seminar__gps-icon specific-seminar__gps-icon--{{theme}}" >
                            <path stroke="null"d="m8.999614,0.145004c-4.865398,0 -8.823619,3.847156 -8.823619,8.575468c0,4.551407 8.005822,15.185115 8.346704,15.635403l0.318136,0.420752c0.037205,0.049456 0.096449,0.078368 0.158779,0.078368c0.063293,0 0.122152,-0.028912 0.159742,-0.078368l0.317943,-0.420752c0.341075,-0.450289 8.346704,-11.083997 8.346704,-15.635403c0,-4.728313 -3.958863,-8.575468 -8.82439,-8.575468zm0,5.503751c1.743288,0 3.160857,1.377655 3.160857,3.071717c0,1.693188 -1.417634,3.071717 -3.160857,3.071717c-1.74226,0 -3.160857,-1.378529 -3.160857,-3.071717c0,-1.694062 1.418534,-3.071717 3.160857,-3.071717z"/>
                        </g>
                    </svg>
                </div>
                <div class="specific-seminar__city specific-seminar__city--{{theme}}">
                    Kaunas
                </div>
            </div>
        </div>
    </div>
</div>
