<div class="gallery gallery{{ colorTheme }}">
    <div class="gallery__item" tabindex="0">
        <img class="gallery__image gallery__image{{ colorTheme }}" src="{{ mediaImage1 }}" alt="">
    </div>
    <div class="gallery__item gallery__item--wide" tabindex="0">
        <img class="gallery__image gallery__image{{ colorTheme }} gallery__image--modified" src="{{ mediaImage2 }}"
            alt="">
    </div>
    <div class="gallery__item" tabindex="0">
        <img class="gallery__image gallery__image{{ colorTheme }}" src="{{ mediaImage3 }}" alt="">
    </div>
    <div class="gallery__item" tabindex="0">
        <img class="gallery__image gallery__image{{ colorTheme }} gallery__image--modified" src="{{ mediaImage4 }}"
            alt="">
    </div>
    <div class="gallery__item" tabindex="0">
        <img class="gallery__image gallery__image{{ colorTheme }} gallery__image--modified" src="{{ mediaImage5 }}"
            alt="">
    </div>
    <div class="gallery__item gallery__item--wide" tabindex="0">
        <img class="gallery__image gallery__image{{ colorTheme }} gallery__image--modified" src="{{ mediaImage6 }}"
            alt="">
        <button id="media-video-controls" class="gallery__video-button gallery__video-button{{ colorTheme }}"
            type="button" aria-controls="promo-video" aria-expanded="false" aria-haspopup="dialog"
            aria-label="Start video">
            <svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="0 0 92 92">
                <path id="Play"
                    d="M45 90A45.012 45.012 0 0 1 27.484 3.536a45.012 45.012 0 0 1 35.032 82.928A44.72 44.72 0 0 1 45 90zm-8.963-62.956v35.912L62.971 45z"
                    transform="translate(1 1)" />
            </svg>
        </button>
    </div>
</div>