    {{> media-section-grid.html
        colorTheme="--home"
        mediaImage1= "../../../images/media_home/media_home_1.jpg" alt="students sitting in an auditorium"
        mediaImage2="../../../images/media_home/media_home_2.jpg" alt="academy students are being welcomed by a mentor"
        mediaImage3="../../../images/media_home/media_home_3.jpg" alt="two students standing close to the table and laughing"
        mediaImage4="../../../images/media_home/media_home_4.jpg" alt="kids sitting at the table and doing a project"
        mediaImage5="../../../images/media_home/media_home_5.jpg" alt="girl wearing virtual reality glasses"
        mediaImage6="../../../images/media_home/media_home_6.jpg" alt="team of students building a paper website at the table"
    }}