<div class="media-background">
    {{> ../shapes/circle.html theme='media-background__shape media-background__shape--front-end-theme' className='media-background__shape media-background__shape--position-1'}}
    {{> ../shapes/cross.html theme='media-background__shape media-background__shape--tester-theme' className='media-background__shape media-background__shape--position-2'}}
    {{> ../shapes/plus.html theme='media-background__shape media-background__shape--developer-theme' className='media-background__shape media-background__shape--position-3'}}
    {{> ../shapes/cross.html theme='media-background__shape media-background__shape--tester-theme' className='media-background__shape media-background__shape--position-4'}}
    {{> ../shapes/circle.html theme='media-background__shape media-background__shape--front-end-theme' className='media-background__shape media-background__shape--position-5'}}
</div>