<div class="media-wrapper media-wrapper{{ colorTheme }}">
    <section class="media media{{ colorTheme }}">
        <h3 class="media__heading heading heading{{ colorTheme }}">Media</h3>
        {{> media-section-gallery.html}}
        {{> media-section-background.html}}
    </section>
</div>