@charset "utf-8";

@import 'vendors/normalize';
@import 'vendors/content';
@import 'base/colors';
@import 'base/customFonts';
@import 'base/z-indexes';
@import 'base/mixins/helpers';
@import 'base/mixins/typography-mixins';
@import 'base/variables';
@import 'base/radio-button';
@import 'base/mixins/radio-button-mixin';
@import 'base/mixins/media-queries';
@import 'vendors/wistia_player';
@import 'modules/header';
@import 'modules/academies-intro-section/academies-intro-section';
@import 'modules/academies-intro-section/video-view';
@import 'modules/academies-section';
@import 'modules/admission-section/admission-date';
@import 'modules/admission-section/admission-dates-section';
@import 'modules/step-section/themes';
@import 'modules/step-section/step-section';
@import 'modules/step-section/step-iliustration';
@import 'modules/step-section/shapes';
@import 'modules/accordion/accordion';
@import 'modules/navigation/close-button';
@import 'modules/navigation/dropdown';
@import 'modules/navigation/hamburger';
@import 'modules/navigation/navigation';
@import 'modules/logo';
@import 'base/button';
@import 'modules/footer';
@import 'modules/intro';
@import 'base/typography';
@import 'modules/sourceries';
@import 'modules/testimonials/testimonials';
@import 'modules/media-section/media-section';
@import 'modules/waves/_waves.scss';
@import 'base/checkbox';
@import 'base/mixins/checkbox-mixin';
@import 'modules/apply-section/_apply-section.scss';
@import 'modules/admission-section/admissions-section';
@import 'modules/schedule/schedule';
@import 'modules/academy-type-selection/academy-type-selection';
@import 'modules/academy-type-selection/registration-illiustration.scss';
@import 'modules/waves/wave-academies';
@import 'modules/waves/wave-home';
@import 'base/inputs/file-input';
@import 'base/inputs/text-input';
@import 'modules/not-found';
@import 'modules/aplication-form';

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;

  // Prevents body or html element (depends on the browser) from scrolling when modal is open
  &.has-modal-open {
    overflow: hidden;
  }
}

body {
  color: $base-text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
