<a href="/" class="logo__link">
    <div class="logo__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="logo">
            <defs>
                <clipPath id="clip-path">
                    <circle id="Ellipse_1" cx="20" cy="20" r="20" class="logo__icon-background" data-name="Ellipse 1"
                        transform="translate(40 28)" />
                </clipPath>
            </defs>
            <g id="Mask_Group_1" class="logo__icon-path" data-name="Mask Group 1" transform="translate(-40 -28)">
                <g id="Page-1" transform="translate(39.808 27.808)">
                    <g id="Group" transform="translate(.962 .962)">
                        <g id="coding" transform="translate(7.212 5.409)">
                            <path id="Path" d="M16.5 8.106v2.121l5.379 5.379-5.379 5.379v2.121l7.5-7.5z"
                                class="logo__icon-items" />
                            <path id="Path-2" d="M7.5 23.106v-2.121l-5.379-5.379L7.5 10.227V8.106l-7.5 7.5z"
                                class="logo__icon-items" data-name="Path" />
                            <path id="Path-3" d="M-.336 14.856h24.674v1.5H-.336z" 
                                class="logo__icon-items" data-name="Path"
                                transform="rotate(-72.6 12 15.61)" />
                            <path id="Path-4"
                                d="M9.75 8.106A4.392 4.392 0 0 1 12 5.856a4.392 4.392 0 0 1-2.25-2.25 4.392 4.392 0 0 1-2.25 2.25 4.392 4.392 0 0 1 2.25 2.25z"
                                class="logo__icon-items" data-name="Path" />
                            <path id="Path-Copy"
                                d="M13.668 2.4a2.346 2.346 0 0 1 1.2-1.2 2.346 2.346 0 0 1-1.2-1.2 2.346 2.346 0 0 1-1.2 1.2 2.346 2.346 0 0 1 1.2 1.2z"
                                class="logo__icon-items" />
                            <path id="Path-5"
                                d="M21 8.106a2.928 2.928 0 0 1 1.5-1.5 2.928 2.928 0 0 1-1.5-1.5 2.928 2.928 0 0 1-1.5 1.5 2.928 2.928 0 0 1 1.5 1.5z"
                                class="logo__icon-items" data-name="Path" />
                        </g>
                        <circle id="Oval" cx="19.231" cy="19.231" r="19.231" class="logo__icon-circle" />
                    </g>
                </g>
            </g>
        </svg>
        <div class="logo__name">
            <span>
                Sourcery Academy
            </span>
        </div>
    </div>
</a>