@mixin slider-position($side) {
  @media (max-width: 499px) {
    top: 12.5%;
    #{$side}: 2%;
  }
  @media (min-width: 500px) and (max-width: 649px) {
    top: 35%;
    #{$side}: 10%;
  }
  @media (min-width: 650px) and (max-width: 767px) {
    top: 40%;
    #{$side}: 15%;
  }
  @media (min-width: 768px) and (max-width: 844px) {
    top: 45%;
    #{$side}: 3%;
  }
  @media (min-width: 845px) and (max-width: 999px) {
    top: 45%;
    #{$side}: 7%;
  }
  @media (min-width: 1000px) and (max-width: 1199px) {
    top: 45%;
    #{$side}: 15%;
  }
  @include mq-between(lg, xl) {
    top: 45%;
    #{$side}: 6%;
  }
  @media (min-width: 1400px) and (max-width: 1464px) {
    #{$side}: 7%;
  }
}

.schedule-container {
  width: 100%;

  &--developers {
    background-color: $color-developers-shape;
  }

  &--testers {
    background-color: $color-testers-shape;
  }

  &--frontend {
    background-color: $color-frontend-shape;
  }
}

.schedule-section {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 1144px;
  margin: auto;
  max-width: 1224px;
  padding: 200px 128px 0;
  position: relative;

  &::before {
    @include z-index('schedule', 'before');

    background-color: $color-white;
    content: '';
    height: 100%;
    left: -17%;
    position: absolute;
    top: 0;
    width: 300px;

    @include mq-until(lg) {
      display: none;
    }
  }

  &::after {
    @include z-index('schedule', 'after');

    background-color: $color-white;
    content: '';
    height: 100%;
    position: absolute;
    right: -13%;
    top: 0;
    width: 300px;

    @include mq-until(lg) {
      display: none;
    }
  }

  @include mq-until(md) {
    padding: 60px 20px 0;
  }
  @include mq-between(md, lg) {
    padding: 100px 40px 0;
  }

  &__title {
    @include heading;

    text-align: center;
  }

  &__dates {
    @include z-index('schedule', 'dates');

    overflow: hidden;
    position: relative;
    width: 100%;

    @include mq-until(sm) {
      margin: 0 auto;
      max-width: 240px;
    }
    @include mq-between(sm, md) {
      margin: 0 auto;
      max-width: 306px;
    }
    @include mq-between(md, xl) {
      margin: 0 auto;
      max-width: 612px;
    }
    @include mq-between(xl, xl/1300) {
      margin: 0 auto;
      max-width: 880px;
      min-width: 720px;
    }
    @media (min-width: 1300px) and (max-width: 1465px) {
      margin: 0 auto;
      max-width: 1025px;
      min-width: 880px;
    }
  }

  &__month-headings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__dates-title {
    @include section-heading;

    text-align: center;

    @include mq-until(xl) {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__accordions {
    display: flex;
    flex-direction: row;
    position: relative;

    @include mq-until(xl) {
      justify-content: center;
      width: auto;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0 20px;

    @include mq-until(md) {
      &:nth-child(n + 2) {
        display: none;
      }
    }
    @include mq-until(xl) {
      &:nth-child(n + 3) {
        display: none;
      }
    }
  }

  @include mq-until(sm) {
    height: auto;
    margin-bottom: 150px;
  }
}

.background-schedule {
  &__shape {
    @include z-index('schedule', 'shape');

    position: absolute;

    $shape-positions: (
      (
        default: (
          left: 9%,
          top: 21%
        ),
        untilLarge: (
          left: 9%,
          top: 21%
        ),
        untilSmall: (
          left: 5%,
          top: 21%
        )
      ),
      (
        default: (
          left: 17%,
          top: 14%
        ),
        untilLarge: (
          left: 17%,
          top: 14%
        ),
        untilSmall: (
          left: 17%,
          top: 12%
        )
      ),
      (
        default: (
          left: 25%,
          top: 17%
        ),
        untilLarge: (
          left: 25%,
          top: 17%
        ),
        untilSmall: (
          left: 25%,
          top: 15%
        )
      ),
      (
        default: (
          left: 39%,
          top: 14%
        ),
        untilLarge: (
          left: 39%,
          top: 14%
        ),
        untilSmall: (
          left: 39%,
          top: 10%
        )
      ),
      (
        default: (
          left: 58%,
          top: 17%
        ),
        untilLarge: (
          left: 58%,
          top: 17%
        ),
        untilSmall: (
          left: 70%,
          top: 17%
        )
      ),
      (
        default: (
          left: 28%,
          top: 75%
        ),
        untilLarge: (
          left: 28%,
          top: 75%
        ),
        untilSmall: (
          left: 28%,
          top: 75%
        )
      ),
      (
        default: (
          left: 60%,
          top: 75%
        ),
        untilLarge: (
          left: 60%,
          top: 75%
        ),
        untilSmall: (
          left: 60%,
          top: 75%
        )
      ),
      (
        default: (
          left: 70%,
          top: 80%
        ),
        untilLarge: (
          left: 70%,
          top: 80%
        ),
        untilSmall: (
          left: 70%,
          top: 80%
        )
      ),
      (
        default: (
          left: 77%,
          top: 72%
        ),
        untilLarge: (
          left: 77%,
          top: 72%
        ),
        untilSmall: (
          left: 77%,
          top: 72%
        )
      )
    );

    @include star-positions($shape-positions, lg, xl);
  }
}

.slider-button {
  $_this: &;
  @include z-index('schedule', 'slider-button-wrapper');

  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  position: absolute;

  &--left {
    display: none;
    left: 3%;
    top: 50%;
    transform: rotate(90deg);
    @include slider-position(left);
  }

  &--right {
    right: 3%;
    top: 50%;
    transform: rotate(-90deg);
    @include slider-position(right);
  }

  &__icon {
    border-radius: 50%;
    transition: background-color 0.3s ease-in;
  }

  &__icon-fill {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;

    &--developers {
      stroke: $color-developers-dark;
    }

    &--testers {
      stroke: $color-dark-turquoise;
    }

    &--frontend {
      stroke: $color-frontend-dark;
    }

    &__border {
      @media (max-width: 499px) {
        stroke: none;
      }
    }
  }

  &--developers {
    &:hover,
    &:focus {
      #{$_this}__icon {
        background-color: $color-developers-shape;
      }
    }
  }

  &--testers {
    &:hover,
    &:focus {
      #{$_this}__icon {
        background-color: $color-testers-shape;
      }
    }
  }

  &--frontend {
    &:hover,
    &:focus {
      #{$_this}__icon {
        background-color: $color-frontend-shape;
      }
    }
  }
}

.hide {
  display: none;
}

.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  width: 266px;
}
