$_animation-duration: 0.3s;

.specific-seminar {
  $_this: &;

  border: none;
  border-radius: 13px;
  box-shadow: -20px 20px $color-surface;
  margin: 20px auto;
  padding: 0;
  text-align: left;
  width: 266px;

  &__parallel {
    display: flex;

    &--collumn {
      @include mq-between(xl, xl/1400) {
        display: block;
      }

      @include mq-until(sm) {
        display: block;
      }
    }
  }

  &__details {
    @include z-index('accordion-details');

    border-radius: 10px;
    color: $color-white;
    padding: 15px;
    transition: background-color $_animation-duration,
      border-radius $_animation-duration linear 0.35s;

    &--developers {
      background-color: $color-developers-dark;
    }

    &--testers {
      background-color: $color-dark-turquoise;
    }

    &--frontend {
      background-color: $color-frontend-dark;
    }
  }

  &__lecture-topic {
    @include semibold;

    width: 90%;
  }

  &__lecturer {
    @include small-text;

    color: $color-white;
    margin-left: 16px;
  }

  &__time {
    @include small-text;

    color: $color-white;
    margin: auto 0 auto 16px;

    &--first {
      border-right: 2px solid $color-white;
      padding-right: 16px;

      @include mq-between(xl, xl/1400) {
        border-right: none;
      }

      @include mq-until(sm) {
        border-right: none;
      }
    }
  }

  &__arrow-icon {
    fill: $color-white;
    left: 85%;
    position: absolute;
    top: 20px;
    transition: transform $_animation-duration;

    &.is-active {
      transform: rotate(180deg);
    }
  }

  &__gps-wrapper {
    margin: auto 10px;

    @include mq-between(xl, xl/1400) {
      display: none;
    }

    @include mq-until(sm) {
      display: none;
    }
  }

  &__clock {
    fill: $color-white;
  }

  &__gps-icon {
    &--developers {
      fill: $color-developers-dark;
    }

    &--testers {
      fill: $color-dark-turquoise;
    }

    &--frontend {
      fill: $color-frontend-dark;
    }
  }

  &__wrapper {
    background-color: $color-white;
    border-radius: 13px;
    position: relative;

    &--developers {
      box-shadow: 0 0 0 2px $color-developers-dark, -20px 20px 0 0 #f6f5f7;
    }

    &--testers {
      box-shadow: 0 0 0 2px $color-dark-turquoise, -20px 20px 0 0 #f6f5f7;
    }

    &--frontend {
      box-shadow: 0 0 0 2px $color-frontend-dark, -20px 20px 0 0 #f6f5f7;
    }
  }

  &__dates {
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: max-height $_animation-duration ease-in-out;
    width: 100%;
  }

  &__date-wrapper {
    border-radius: 5px;
    display: flex;
    height: 45px;
    margin: 16px auto;
    width: 80%;

    &--developers {
      border: 2px solid $color-developers-dark;
    }

    &--testers {
      border: 2px solid $color-dark-turquoise;
    }

    &--frontend {
      border: 2px solid $color-frontend-dark;
    }
  }

  &__lecture-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height $_animation-duration ease-in-out;

    &--first {
      margin-top: 20px;
    }
  }

  &__specific-date {
    line-height: 13px;
    margin: 8px 10px 0 10px;
    text-align: center;
    width: 30px;
  }

  &__divider {
    border-radius: 2px;
    height: 33px;
    margin: auto 0;

    &--developers {
      border-left: 2px solid $color-developers-dark;
    }

    &--testers {
      border-left: 2px solid $color-dark-turquoise;
    }

    &--frontend {
      border-left: 2px solid $color-frontend-dark;
    }
  }

  &__month {
    @include small-text;

    line-height: 16px;

    &--developers {
      color: $color-developers-dark;
    }

    &--testers {
      color: $color-dark-turquoise;
    }

    &--frontend {
      color: $color-frontend-dark;
    }
  }

  &__day {
    @include semibold;

    line-height: 13px;

    &--developers {
      color: $color-developers-dark;
    }

    &--testers {
      color: $color-dark-turquoise;
    }

    &--frontend {
      color: $color-frontend-dark;
    }
  }

  &__city {
    @include paragraph;

    margin: auto 0;

    &--developers {
      color: $color-developers-dark;
    }

    &--testers {
      color: $color-dark-turquoise;
    }

    &--frontend {
      color: $color-frontend-dark;
    }

    @include mq-between(xl, xl/1400) {
      margin: auto;
    }

    @include mq-until(sm) {
      margin: auto;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    #{$_this}__wrapper {
      &--developers {
        box-shadow: 0 0 0 2px $color-developers-focused, -20px 20px 0 0 #f6f5f7;
      }

      &--testers {
        box-shadow: 0 0 0 2px $color-testers-focused, -20px 20px 0 0 #f6f5f7;
      }

      &--frontend {
        box-shadow: 0 0 0 2px $color-frontend-focused, -20px 20px 0 0 #f6f5f7;
      }
    }

    #{$_this}__divider {
      &--developers {
        border-left: 2px solid $color-developers-focused;
      }

      &--testers {
        border-left: 2px solid $color-testers-focused;
      }

      &--frontend {
        border-left: 2px solid $color-frontend-focused;
      }
    }

    #{$_this}__month {
      &--developers {
        color: $color-developers-focused;
      }

      &--testers {
        color: $color-testers-focused;
      }

      &--frontend {
        color: $color-frontend-focused;
      }
    }

    #{$_this}__day {
      &--developers {
        color: $color-developers-focused;
      }

      &--testers {
        color: $color-testers-focused;
      }

      &--frontend {
        color: $color-frontend-focused;
      }
    }

    #{$_this}__details {
      &--developers {
        background-color: $color-developers-focused;
      }

      &--testers {
        background-color: $color-testers-focused;
      }

      &--frontend {
        background-color: $color-frontend-focused;
      }
    }

    #{$_this}__gps-icon {
      &--developers {
        fill: $color-developers-focused;
      }

      &--testers {
        fill: $color-testers-focused;
      }

      &--frontend {
        fill: $color-frontend-focused;
      }
    }

    #{$_this}__date-wrapper {
      &--developers {
        border: 2px solid $color-developers-focused;
      }

      &--testers {
        border: 2px solid $color-testers-focused;
      }

      &--frontend {
        border: 2px solid $color-frontend-focused;
      }
    }

    #{$_this}__city {
      &--developers {
        color: $color-developers-focused;
      }

      &--testers {
        color: $color-testers-focused;
      }

      &--frontend {
        color: $color-frontend-focused;
      }
    }
  }

  #{$_this}__dates--expanded {
    max-height: 150px;
  }

  #{$_this}__details--expanded {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
  }

  #{$_this}__lecture-wrapper--expanded {
    max-height: 100px;
  }

  @media (min-width: 1300px) and (max-width: 1465px) {
    max-width: 250px;
    min-width: 220px;
    width: 100%;
  }
  @include mq-between(xl, xl/1300) {
    max-width: 220px;
    min-width: 180px;
    width: 100%;
  }
  @include mq-until(sm) {
    max-width: 220px;
    min-width: 200px;
    width: 100%;
  }
}
