<div class="apply-academies apply-academies--{{modifier}}">
    <section class="apply-section">
        <div class="apply-section__wrapper">
            <h2 class="apply-section__title heading heading--{{modifier}}">Apply to academy</h2>
            <div class="apply-section__content">
                <p class="apply-section__text">{{paragraphContent}}</p>
                <div class="apply-section__controls">
                    {{#eq modifier "developers"}}  
                       {{> ../button.html text='Apply now' id='{{buttonId}}' class=modifier href="/register?academy=developers"}}
                    {{/eq}}
                    {{#eq modifier "frontend"}}  
                        {{> ../button.html text='Apply now' id='{{buttonId}}' class=modifier href="/register?academy=frontend"}}
                    {{/eq}}
                    {{#eq modifier "testers"}}  
                        {{> ../button.html text='Apply now' id='{{buttonId}}' class=modifier href="/register?academy=testers"}}
                    {{/eq}}
                </div>
            </div>
        </div>
        <img class="apply-section__image" src="{{imageSource}}" alt="{{imageAlt}}">
        {{> apply-section-background.html}}
    </section>
</div>