<div class="apply-section-background">
    {{> ../shapes/circle.html theme='apply-section-background__shape apply-section-background__shape--front-end-theme' className='apply-section-background__shape apply-section-background__shape--position-1'}}
    {{> ../shapes/plus.html theme='apply-section-background__shape apply-section-background__shape--developer-theme' className='apply-section-background__shape apply-section-background__shape--position-2'}}
    {{> ../shapes/cross.html theme='apply-section-background__shape apply-section-background__shape--tester-theme' className='apply-section-background__shape apply-section-background__shape--position-3'}}
    {{> ../shapes/plus.html theme='apply-section-background__shape apply-section-background__shape--developer-theme' className='apply-section-background__shape apply-section-background__shape--position-4'}}
    {{> ../shapes/cross.html theme='apply-section-background__shape apply-section-background__shape--tester-theme' className='apply-section-background__shape apply-section-background__shape--position-5'}}
    {{> ../shapes/circle.html theme='apply-section-background__shape apply-section-background__shape--front-end-theme' className='apply-section-background__shape apply-section-background__shape--position-6'}}
    {{> ../shapes/plus.html theme='apply-section-background__shape apply-section-background__shape--developer-theme' className='apply-section-background__shape apply-section-background__shape--position-7'}}
    {{> ../shapes/circle.html theme='apply-section-background__shape apply-section-background__shape--developer-theme' className='apply-section-background__shape apply-section-background__shape--position-8'}}
</div>