<div class="admission-date admission-date--{{modifier}}">
    {{#eq type "exact"}}
    <div class="admission-date__date">
        <span class="admission-date__month">{{month}}</span>
        <span class="admission-date__day">{{day}}</span>
    </div>
    {{/eq}}
    {{#eq type "range"}}
    <div class="admission-date__date admission-date__date--range">
        <span class="admission-date__date-item">
            <span class="admission-date__month">{{month-from}}</span>
            <span class="admission-date__day">{{day-from}}</span>
        </span>
        <span class="admission-date__hyphen">-</span>
        <span class="admission-date__date-item">
            <span class="admission-date__month">{{month-to}}</span>
            <span class="admission-date__day">{{day-to}}</span>
        </span>
    </div>
    {{/eq}}
    <p class="admission-date__event admission-date__event--{{modifier}}">{{event}}</p>
</div>