<section class="container-admission-section container-admission-section--{{modifier}}">
    <div class="admission-section">
        <div class="admission-section__wrapper">
            <div>
                <h2 class="admission-section__main-title admission-section__main-title--{{modifier}}">{{first-heading}}</h2>
                {{> section.html modifier=modifier heading=second-heading text=first-text }}
            </div>
            <div class="admission-section__dates">
                {{>admission-dates-section.html modifier=modifier }}
            </div>
        </div>
        <div class="admission-section__wrapper">
            <section class="admission-section__content admission-section__content--two-texts">
                {{> list-section.html modifier=modifier heading=third-heading list=list}}
              {{> section.html modifier=modifier heading=fourth-heading text=second-text}}
            </section>
            {{> image-admissions.html modifier=modifier }}
        </div>
        <div class="background background--admission">
          {{> ../academies/circle.html theme='background--admission__shape--tester-theme' styles='background--admission__shape background--admission__shape--position-1' }}
          {{> ../academies/plus.html theme='background--admission__shape--developer-theme' styles='background--admission__shape background--admission__shape--position-2' }}
          {{> ../academies/circle.html theme='background--admission__shape--front-end-theme' styles='background--admission__shape background--admission__shape--position-3' }}
          {{> ../academies/cross.html theme='background--admission__shape--tester-theme' styles='background--admission__shape background--admission__shape--position-4' }}
          {{> ../academies/plus.html theme='background--admission__shape--developer-theme' styles='background--admission__shape background--admission__shape--position-5' }}
          {{> ../academies/circle.html theme='background--admission__shape--front-end-theme' styles='background--admission__shape background--admission__shape--position-6' }}
        </div>
    </div>
</section>
