<aside class="admission-dates-section">
    <h3 class="admission-dates-section__heading admission-dates-section__heading--{{modifier}}">Dates</h3>
    <div class="admission-dates-section__dates">
        {{#eq modifier "frontend"}}
        {{> admission-date.html.hbs day-from="26" day-to="28" event="Entrance exam" month-from="Sep" month-to="Sep" type="range"}}
        {{> admission-date.html.hbs day-from="30" day-to="18" event="Academy duration" month-from="Oct" month-to="Dec" type="range"}}
        {{> admission-date.html.hbs day="8" event="Final exam" month="Jan" type="exact"}}
        {{/eq}}
        {{#eq modifier "developers"}}
        {{> admission-date.html.hbs day="2" event="Entrance exam" month="Oct" type="exact"}}
        {{> admission-date.html.hbs day-from="9" day-to="12" event="Academy duration" month-from="Oct" month-to="Dec" type="range"}}
        {{> admission-date.html.hbs day="16" event="Final exam" month="Dec" type="exact"}}
        {{/eq}}
        {{#eq modifier "testers"}}
        {{> admission-date.html.hbs day="17" event="Application deadline" month="May" type="exact"}}
        {{> admission-date.html.hbs day-from="28" day-to="29" event="Admission" month-from="May" month-to="May" type="range"}}
        {{> admission-date.html.hbs day-from="26" day-to="30" event="Academy duration" month-from="Jun" month-to="Aug" type="range"}}
        {{/eq}}
    </div>
</aside>