<section class="admission-section__content">
    <h3 class="admission-section__section-title admission-section__section-title--{{modifier}}">{{ heading }}</h3>
  <div class="admission-section__list-wrapper">
    <ul class="admission-section__list admission-section__list--{{modifier}} paragraph">
      {{#eq modifier "developers" }}
            <li>React</li>
            <li>JPA</li>
            <li>Spring Boot</li>
        {{/eq}}
      {{#eq modifier "testers" }}
          <li>The foundations of testing</li>
          <li>Functional testing for web applications and API</li>
          <li>Foundations of non-functional testing</li>
          <li>Foundations for test automation</li>
      {{/eq}}
      {{#eq modifier "frontend" }}
          <li>Semantic HTML code</li>
          <li>Advanced CSS (Scss)</li>
          <li>BEM methodology</li>
          <li>Accessibility standards</li>
          <li>Agile methodology, build tools and task runners</li>
      {{/eq}}
    </ul>
  </div>
</section>
