<section class="admission-section__content">
    <h3 class="admission-section__section-title admission-section__section-title--{{modifier}}">{{ heading }}</h3>
    <p class="admission-section__text">{{ text }}</p>
</section>
