<button class="close-button js-close-button" aria-controls="navigation" aria-expanded="false" type="button">
    <span class="close-button__text visually-hidden">Close mobile navigation menu</span>
    <svg class="close-button__icon" xmlns="http://www.w3.org/2000/svg" width="18.562" height="18.562"
        viewBox="0 0 18.562 18.562">
        <g class="close-button__icon-group" data-name="Group 779" transform="translate(-333.72 -37.844)">
            <rect width="24" height="2.25" class="close-button__icon-rectangle" data-name="Rectangle 832" rx="1.125"
                transform="rotate(45 121.973 423.677)" />
            <rect width="24" height="2.25" class="close-button__icon-rectangle" data-name="Rectangle 833" rx="1.125"
                transform="rotate(135 167.973 92.677)" />
        </g>
    </svg>
</button>