<div class="dropdown js-dropdown" id="dropdown">
    <ul class="dropdown__results" aria-label="Dropdown menu">
        <li class="dropdown__results-item">
            <a href="/developers" class="dropdown__link js-dropdown-link">Sourcery for Developers</a>
        </li>
        <li class="dropdown__results-item">
            <a href="/testers" class="dropdown__link js-dropdown-link">Sourcery for Testers</a>
        </li>
        <li class="dropdown__results-item">
            <a href="/frontend" class="dropdown__link js-dropdown-link">Sourcery for Front-End</a>
        </li>
        <li class="dropdown__results-item">
            <a href="/kids" class="dropdown__link js-dropdown-link">Sourcery for Kids</a>
        </li>
    </ul>
</div>