<button class="hamburger js-hamburger-controls" aria-controls="navigation" aria-expanded="false" aria-haspopup="true"
    name="hamburger-button" type="button">
    <span class="navigation__text visually-hidden">Open mobile navigation menu</span>
    <svg class="hamburger__icon" xmlns="http://www.w3.org/2000/svg" width="27" height="15.75" viewBox="0 0 27 15.75">
        <g class="hamburger__icon-group" transform="translate(-4.5 -10.125)">
            <path class="hamburger__icon-path"
                d="M30.375 12.375H5.625A1.128 1.128 0 0 1 4.5 11.25a1.128 1.128 0 0 1 1.125-1.125h24.75A1.128 1.128 0 0 1 31.5 11.25a1.128 1.128 0 0 1-1.125 1.125z" />
            <path class="hamburger__icon-path"
                d="M30.375 19.125H5.625A1.128 1.128 0 0 1 4.5 18a1.128 1.128 0 0 1 1.125-1.125h24.75A1.128 1.128 0 0 1 31.5 18a1.128 1.128 0 0 1-1.125 1.125z" />
            <rect class="hamburger__icon-rectangle" width="20" height="2.25" rx="1.125"
                transform="translate(11.5 23.625)" />
        </g>
    </svg>
</button>