<ul class="navigation js-navigation" id="navigation">
    <li class="navigation__item"><a href="/about" class="navigation__link">About us</a></li>
    <li class="navigation__item navigation__item--has-dropdown">
        <button aria-controls="dropdown" aria-haspopup="true" aria-expanded="false"
            class="navigation__controls js-dropdown-button" name="dropdown" type="button">
            Academies
            <svg class="navigation__arrow-icon js-arrow-icon" xmlns="http://www.w3.org/2000/svg" width="15.57"
                height="9.083" viewBox="0 0 15.57 9.083">
                <path class="navigation__arrow-icon-path"
                    d="M7.788 6.345L13.675.333a1.093 1.093 0 0 1 1.571 0 1.161 1.161 0 0 1 0 1.608l-6.67 6.811a1.1 1.1 0 0 1-1.534.033L.324 1.946a1.158 1.158 0 0 1 0-1.608 1.093 1.093 0 0 1 1.576 0z" />
            </svg>
        </button>
        {{> dropdown.html}}
    </li>
    <li class="navigation__item"><a href="/media" class="navigation__link">Media</a></li>
    <li class="navigation__item"><a href="/register" class="navigation__link">Register</a></li>
    <li class="navigation__item"><a href="/questions" class="navigation__link">Questions</a></li>
</ul>
