<li class="card {{ JsClass }}" aria-roledescription="slide" tabindex="0">
    <div class="card__content card__content--{{ borderClass }}">
        <img class="card__image" src="{{ avatarImg }}" alt="" />
        <blockquote>
            <p class="card__text {{ smallTextClass }}">{{ text }}</p>
        </blockquote>
        <h3 class="card__name {{ subheadingClass }}">{{ name }}</h3>
        <p class="card__academy-title {{ smallTextClass }}">{{ academyTitle }}</p>
    </div>
</li>