<div class="testimonials-carousel" role="region" aria-roledescription="carousel" aria-label="Testomonials of academy graduates">
    <button type="button" class="testimonials-carousel__button testimonials-carousel__button--{{modifier}} testimonials-carousel__button--back is-hidden"
    aria-label="Previous testimonial card" aria-controls="carousel-items">
        {{> carousel-arrow.html}}
    </button>
    <div class="testimonials-carousel__container">
        <ul id="carousel-items" class="testimonials__card-wrapper" aria-live="polite" aria-relevant="additions">
            {{#eq modifier "home" }}
                {{> card.html
                borderClass="card" 
                JsClass = "current-card"
                avatarImg="../../../images/avatar/home-testers/Avatar1@2x.png" alt="Lucas Celab"
                text="Sourcery seeks to inspire and educate the students giving them the opportunity
                to learn and apply technological product development skills."
                name="Lucas Celab"
                academyTitle="Sourcery for Testers Graduate"    
                smallTextClass=" small-text" 
                subheadingClass="subheading"
            }}
                {{> card.html
                border="card" 
                avatarImg="../../../images/avatar/home-testers/Avatar2@2x.png" alt="Laura Hales"
                text="During the 3 month academy we managed to learn not only the basics, but also to
                create advanced web pages. I am glad that I chose to apply and challenge myself. I would definitely
                recommend to
                apply for anyone who’s interested in front-end."
                name="Laura Hales"
                academyTitle="Sourcery for Front-End Graduate"       
                smallTextClass="small-text"
                subheadingClass="subheading"
            }}
                {{> card.html
                borderClass="card" 
                avatarImg="../../../images/avatar/home-testers/Avatar3@2x.png" alt="Matt Williams"
                text="I really enjoyed working with the team using agile principles."
                name="Matt Williams"
                academyTitle="Sourcery for Developers Graduate" 
                smallTextClass="small-text"
                subheadingClass="subheading"      
            }}
            {{> card.html
                borderClass="card" 
                avatarImg="../../../images/avatar/home-testers/Avatar4@2x.png" alt="David Brown"
                text="I strongly recommend sourcery academy to everyone interested in IT and development! 
                I would be lost without this academy."
                name="David Brown"
                academyTitle="Sourcery for Front-End Graduate" 
                smallTextClass="small-text"
                subheadingClass="subheading"      
            }}
            {{> card.html
                borderClass="card" 
                avatarImg="../../../images/avatar/home-testers/Avatar5@2x.png" alt="Neville Miller"
                text="I found the lectures very useful especially when developing an actual project alongside. 
                Just after 3 months I’ve broadened my JAVA skills and shipped the first version of our product. 
                I am glad that I’ve challenged myself by applying to SFD."
                name="Neville Miller"
                academyTitle="Sourcery for Developers Graduate" 
                smallTextClass="small-text"
                subheadingClass="subheading"      
            }}
            {{> card.html
                borderClass="card" 
                avatarImg="../../../images/avatar/home-testers/Avatar6@2x.png" alt="Celine Davis"
                text="Sourcery for Testers seeks to inspire and educate the students giving them the opportunity to learn and apply technological product development skills."
                name="Celine Davis"
                academyTitle="Sourcery for Testers Graduate" 
                smallTextClass="small-text"
                subheadingClass="subheading"      
            }}
            {{> card.html
                borderClass="card" 
                avatarImg="../../../images/avatar/home-testers/Avatar7@2x.png" alt="Laura Taylor"
                text="I wish I would have known of this academy before. During these three months 
                I've learned more than I expected. And the organizational team is amazing! Thanks for such opportunity."
                name="Laura Taylor"
                academyTitle="Sourcery for Developers Graduate" 
                smallTextClass="small-text"
                subheadingClass="subheading"      
            }}
            {{> card.html
                borderClass="card" 
                avatarImg="../../../images/avatar/home-testers/Avatar8@2x.png" alt="Sandra Moore"
                text="It wasn't my first experience at such type of academy, but definitely the best. 
                I became more skilled, confident and ready to dive into the market on my own."
                name="Sandra Moore"
                academyTitle="Sourcery for Developers Graduate" 
                smallTextClass="small-text"
                subheadingClass="subheading"      
            }}
        {{/eq}}
        {{#eq modifier "developers" }}
            {{> card.html
            borderClass=modifier 
            JsClass = "current-card"
            avatarImg="../../../images/avatar/developers/avatar-developer1@2x.png" alt="Sara O’Neal"
            text="Sourcery for Developers improved my ASP.NET and React.js skills and taught me how to build 
            a successful project working with a team."
            name="Sara O’Neal"
            academyTitle="Sourcery for Developers Graduate"    
            smallTextClass="card__text card__text--developers" 
            subheadingClass="card__name card__name--developers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/developers/avatar-developer2@2x.png" alt="Victor Juric"
            text="I found the lectures very useful especially when developing an actual project alongside. 
            Just after 3 months I’ve broadened my JAVA skills and shipped the first version of our product. 
            I am glad that I’ve challenged myself by applying to SFD."
            name="Victor Juric"
            academyTitle="Sourcery for Developers Graduate"       
            smallTextClass="card__text card__text--developers"
            subheadingClass="card__name card__name--developers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/developers/avatar-developer3@2x.png" alt="Giuliano Sevele"
            text="Sourcery for Developers helped me to become a better JAVA developer."
            name="Giuliano Sevele"
            academyTitle="Sourcery for Developers Graduate" 
            smallTextClass="card__text card__text--developers"
            subheadingClass="card__name card__name--developers"      
         }}
         {{> card.html
            borderClass=modifier 
            JsClass = "current-card"
            avatarImg="../../../images/avatar/developers/avatar-developer4@2x.png" alt="Thomas Lemiale"
            text="Sourcery academy has really helped me to start my carrer right after the studies. I enjoyed it very much!"
            name="Thomas Lemiale"
            academyTitle="Sourcery for Developers Graduate"    
            smallTextClass="card__text card__text--developers" 
            subheadingClass="card__name card__name--developers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/developers/avatar-developer5@2x.png" alt="Victoria Green"
            text="The academy was excellent. I am completely blown away. Thank you so much for your effort. Thank You!"
            name="Victoria Green"
            academyTitle="Sourcery for Developers Graduate"       
            smallTextClass="card__text card__text--developers"
            subheadingClass="card__name card__name--developers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/developers/avatar-developer6@2x.png" alt="Gianluca Sabinni"
            text="Sourcery seeks to inspire and educate the students giving them the opportunity
                to learn and apply technological product development skills."
            name="Gianluca Sabinni"
            academyTitle="Sourcery for Developers Graduate" 
            smallTextClass="card__text card__text--developers"
            subheadingClass="card__name card__name--developers"      
         }}
        {{/eq}}
        {{#eq modifier "testers" }}
            {{> card.html
            borderClass=modifier 
            JsClass = "current-card"
            avatarImg="../../../images/avatar/home-testers/Avatar1@2x.png" alt="Lucas Celab"
            text="Sourcery for Testers seeks to inspire and educate the students giving them the opportunity 
            to learn and apply technological product development skills."
            name="Lucas Celab"
            academyTitle="Sourcery for Testers Graduate"    
            smallTextClass="card__text card__text--testers" 
            subheadingClass="card__name card__name--testers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/home-testers/Avatar2@2x.png" alt="Laura Hales"
            text="During the 3 month academy we managed to learn not only the basics, but also to solve more serious issues. 
            I am glad that I chose to apply and challenge myself. I would definitely recommend to apply for anyone who’s 
            interested in testing."
            name="Laura Hales"
            academyTitle="Sourcery for Testers Graduate"       
            smallTextClass="card__text card__text--testers"
            subheadingClass="card__name card__name--testers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/home-testers/Avatar3@2x.png" alt="Matt Williams"
            text="I really enjoyed working with the team using agile principles."
            name="Matt Williams"
            academyTitle="Sourcery for Testers Graduate" 
            smallTextClass="card__text card__text--testers"
            subheadingClass="card__name card__name--testers"      
         }}
         {{> card.html
            borderClass=modifier 
            JsClass = "current-card"
            avatarImg="../../../images/avatar/home-testers/Avatar4@2x.png" alt="Julian Matter"
            text="Sourcery academy has really helped me to start my carrer right after the studies. I enjoyed it very much!"
            name="Julian Matter"
            academyTitle="Sourcery for Testers Graduate"    
            smallTextClass="card__text card__text--testers" 
            subheadingClass="card__name card__name--testers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/home-testers/Avatar5@2x.png" alt="Andreas Gardner"
            text="I found the lectures very useful especially when developing an actual project alongside. 
            Just after 3 months I’ve broadened my testing and machine learning skills and shipped our product. 
            I am glad that I’ve challenged myself by applying to SFT."
            name="Andreas Gardner"
            academyTitle="Sourcery for Testers Graduate"       
            smallTextClass="card__text card__text--testers"
            subheadingClass="card__name card__name--testers"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/home-testers/Avatar6@2x.png" alt="Agness Delacour"
            text="Sourcery seeks to inspire and educate the students giving them the opportunity
                to learn and apply technological product development skills."
            name="Agness Delacour"
            academyTitle="Sourcery for Testers Graduate" 
            smallTextClass="card__text card__text--testers"
            subheadingClass="card__name card__name--testers"      
         }}
        {{/eq}}
        {{#eq modifier "frontend" }}
            {{> card.html
            borderClass=modifier 
            JsClass = "current-card"
            avatarImg="../../../images/avatar/front-end/avatar-front-end1@2x.png" alt="Juri Gian"
            text="Sourcery for Front-End improved my HTML/CSS and JS skills and taught me how to build a successful project working with a team."
            name="Juri Gian"
            academyTitle="Sourcery for Front-End Graduate"    
            smallTextClass="card__text card__text--frontend" 
            subheadingClass="card__name card__name--frontend"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/front-end/avatar-front-end2@2x.png" alt="Kinga Cichewicz"
            text="I found the lectures very useful especially when developing an actual project alongside. Just after 3 months I’ve broadened my JS and Accessibility skills and shipped our product. I am glad that I’ve challenged myself by applying to SFE."
            name="Kinga Cichewicz"
            academyTitle="Sourcery for Front-End Graduate"       
            smallTextClass="card__text card__text--frontend"
            subheadingClass="card__name card__name--frontend"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/front-end/avatar-front-end3@2x.png" alt="Sofia Oliveira"
            text="Sourcery for Front-End helped me to become a better developer."
            name="Sofia Oliveira"
            academyTitle="Sourcery for Front-End Graduate" 
            smallTextClass="card__text card__text--frontend"
            subheadingClass="card__name card__name--frontend"      
         }}
         {{> card.html
            borderClass=modifier 
            JsClass = "current-card"
            avatarImg="../../../images/avatar/front-end/avatar-front-end4@2x.png" alt="Emma Melurea"
            text="During the 3 month academy we managed to learn not only the basics, but also to
                create advanced web pages. I am glad that I chose to apply and challenge myself. I would definitely
                recommend to
                apply for anyone who’s interested in front-end."
            name="Emma Melurea"
            academyTitle="Sourcery for Front-End Graduate"    
            smallTextClass="card__text card__text--frontend" 
            subheadingClass="card__name card__name--frontend"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/front-end/avatar-front-end5@2x.png" alt="Patric Fritz"
            text="I strongly recommend sourcery academy to everyone interested in front-end development! 
                I would be lost without this academy."
            name="Patric Fritz"
            academyTitle="Sourcery for Front-End Graduate"       
            smallTextClass="card__text card__text--frontend"
            subheadingClass="card__name card__name--frontend"
         }}
            {{> card.html
            borderClass=modifier 
            avatarImg="../../../images/avatar/front-end/avatar-front-end6@2x.png" alt="Guido Moreno"
            text="I really enjoyed working with the team using agile principles."
            name="Guido Moreno"
            academyTitle="Sourcery for Front-End Graduate" 
            smallTextClass="card__text card__text--frontend"
            subheadingClass="card__name card__name--frontend"      
         }}
        {{/eq}}
        </ul>
    </div>
    <button type="button" class="testimonials-carousel__button testimonials-carousel__button--{{modifier}} testimonials-carousel__button--next"
    aria-label="Next testimonial card" aria-controls="carousel-items">
        {{> carousel-arrow.html}}
    </button>
</div>