<section class="container-testimonials container-testimonials--testers">
    <div class="testimonials">
        <div class="testimonials__title-wrapper">
            <h2 class="testimonials__title testimonials__title--testers">Testimonials</h2>
        </div>
        {{> testimonials-carousel.html
            modifier= "testers"
        }}

        {{> testimonials-background.html }}

    </div>
</section>