<section class="container-testimonials container-testimonials--developers">
    <div class="testimonials">
        <div class="testimonials__title-wrapper">
            <h2 class="testimonials__title testimonials__title--developers">Testimonials</h2>
        </div>
        
        {{> testimonials-carousel.html
            modifier= "developers"
        }}

        {{> testimonials-background.html }}

    </div>
</section>