<section class="container-testimonials">
    <div class="testimonials testimonials--home">
        <div class="testimonials__title-wrapper">
            <h2 class="testimonials__title heading">Testimonials</h2>
        </div>
        
        {{> testimonials-carousel.html
            modifier= "home"
        }}

        {{> testimonials-background.html }}

    </div>
</section>