<div class="testimonials__background">
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-1'}}
    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-2'}}
    {{> ../shapes/circle.html theme='shape shape--front-end-theme' className='shape shape--position-3'}}

    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-4'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-5'}}
    {{> ../shapes/circle.html theme='shape shape--front-end-theme' className='shape shape--position-6'}}
    {{> ../shapes/circle.html theme='shape shape--form-theme' className='shape shape--small shape--position-7'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-8'}}
    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-9'}}
    {{> ../shapes/circle.html theme='shape shape--front-end-theme' className='shape shape--position-10'}}
</div>