<section class="container-testimonials container-testimonials--frontend">
    <div class="testimonials">
        <div class="testimonials__title-wrapper">
            <h2 class="testimonials__title testimonials__title--frontend">Testimonials</h2>
        </div>
        
        {{> testimonials-carousel.html
            modifier= "frontend"
        }}

        {{> testimonials-background.html }}

    </div>
</section>