.academies-intro-section {
  width: 100%;

  &--developers {
    background-color: $color-developers-shape;
  }

  &--testers {
    background-color: $color-testers-shape;
  }

  &--frontend {
    background-color: $color-frontend-shape;
  }
}

.intro-section {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1440px;
  padding: 194px 80px 0;
  position: relative;

  &::before {
    @include z-index('academies-intro', 'before');

    background-color: $color-white;
    content: '';
    height: 100%;
    left: -15%;
    position: absolute;
    top: 0;
    width: 250px;
  }

  @include mq-until(md) {
    padding: 100px 0;
  }

  @include mq-between(md, lg) {
    padding: 128px 0;
  }

  @include mq-until(lg) {
    text-align: center;
  }

  &__content {
    @include z-index('academies-intro', 'content');

    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;

    @include mq-until(md) {
      padding: 0 20px;
    }

    @include mq-between(md, lg) {
      padding: 0 40px;
    }

    @include mq-until(lg) {
      margin: 0 auto;
      position: relative;
    }
  }

  &__title {
    @include z-index('academies-intro', 'title');

    letter-spacing: 1px;
    line-height: 1;
    margin: 34px 0 35px;
    position: relative;

    &--developers {
      width: 500px;
    }

    &--testers {
      width: 631px;
    }

    &--frontend {
      width: 572px;
    }

    @include mq-until(lg) {
      margin: 34px auto 35px;
      text-align: center;
      width: 100%;
    }

    @media all and (min-width: 992px) and (max-width: 1200px) {
      max-width: 570px;
    }
  }

  &__text {
    max-width: 460px;
    padding-bottom: 32px;

    @include mq-until(lg) {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__controls {
    @include z-index('academies-intro', 'controls');

    position: relative;
  }

  @include mq-until(lg) {
    flex-direction: column;
  }
}
