.video-view {
  $_this: &;

  margin-left: auto;
  position: relative;
  top: -197px;

  &__controls {
    @include z-index('video-view', 'controls');

    background-color: transparent;
    border: 0;
    fill: $color-white;
    height: 92px;
    padding: 0;
    position: absolute;
    right: 129px;
    stroke-width: 2px;
    top: 225px;
    transition: fill 0.3s ease, opacity 0.3s ease;
    width: 92px;

    &.has-player-loading {
      opacity: 0;
    }

    &.has-player-running {
      display: none;
    }

    @include mq-until(lg) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: 991px) and (max-width: 1100px) {
      right: 109px;
    }

    @media (min-width: 1101px) and (max-width: 1350px) {
      right: 69px;
    }
  }

  &__mobile-image {
    display: none;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
    transition: opacity 2s ease;
    width: 100%;

    &.is-active {
      cursor: pointer;
      opacity: 1;
    }

    @include mq-until(lg) {
      display: block;
    }
  }

  &__shapes {
    @include z-index('video-view', 'shapes');

    position: relative;
    transform: translateX(320px);

    @include mq-until(lg) {
      display: none;
    }

    @media (min-width: 991px) and (max-width: 1350px) {
      transform: translateX(530px);
    }
  }

  &__shapes-fill {
    opacity: 0.65;
    transition: opacity 0.3s ease;

    &.is-active {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  &__shapes-outline {
    stroke-width: 2px;
  }

  &--frontend {
    #{$_this}__controls {
      stroke: $color-frontend-dark;

      &.is-active {
        cursor: pointer;
        fill: $color-frontend-accent-fill-darker;
      }
    }

    #{$_this}__shapes-fill {
      fill: url('#video-image-frontend');
    }

    #{$_this}__shapes-outline {
      fill: none;
      stroke: $color-frontend-dark;
    }

    @include mq-until(lg) {
      border: 2px solid $color-frontend-dark;
    }
  }

  &--developers {
    #{$_this}__controls {
      stroke: $color-developers-dark;

      &.is-active {
        cursor: pointer;
        fill: $color-developers-accent-fill-darker;
      }
    }

    #{$_this}__shapes-fill {
      fill: url('#video-image-developers');
    }

    #{$_this}__shapes-outline {
      fill: none;
      stroke: $color-developers-dark;
    }

    @include mq-until(lg) {
      border: 2px solid $color-developers-dark;
    }
  }

  &--testers {
    #{$_this}__controls {
      stroke: $color-dark-turquoise;

      &.is-active {
        cursor: pointer;
        fill: $color-testers-accent-fill-darker;
      }
    }

    #{$_this}__shapes-fill {
      fill: url('#video-image-testers');
    }

    #{$_this}__shapes-outline {
      fill: none;
      stroke: $color-dark-turquoise;
    }

    @include mq-until(lg) {
      border: 2px solid $color-dark-turquoise;
    }
  }

  @include mq-until(lg) {
    @include z-index('video-view', 'mobile-view');

    border-radius: 16px;
    box-shadow: -20px 20px $color-surface;
    box-sizing: border-box;
    height: 50.625vw;
    margin: 40px auto 25px;
    overflow: hidden;
    top: 0;
    width: 90vw;
  }
}
