.close-button {
  background-color: transparent;
  border: 0;
  display: none;
  fill: $color-main-dark;
  margin: 17px 35px 0 auto;
  padding: 20px;

  @include mq-until(sm) {
    margin: 7px 17px 0 auto;
  }

  &:focus,
  &:hover {
    cursor: pointer;
    fill: $color-main-primary;
  }

  @include mq-until(lg) {
    &.is-visible {
      display: flex;
    }
  }
}
