.dropdown {
  @include z-index('dropdown');
  $_this: &;

  align-items: center;
  display: none;
  flex-direction: column;
  font-size: 14px;
  left: 50%;
  padding-top: 28.5px;
  position: absolute;
  transform: translateX(-50%);
  width: 200px;

  &__link {
    display: block;
    padding: 15px 17px;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: $color-surface;
      color: $color-main-primary;
    }

    @include mq-until(lg) {
      padding: 16px;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__results {
    background-color: $color-white;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 $color-shadow-primary;
    list-style: none;
    padding: 8px 0;
    position: relative;
    width: 100%;

    @include mq-from(lg) {
      &::before {
        border-bottom: 15px solid $color-white;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        content: '';
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%, -14px);
        z-index: 2;
      }

      &::after {
        border-bottom: 17px solid $color-shadow-secondary;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        content: '';
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%, -100%);
        z-index: 1;
      }
    }

    @include mq-until(lg) {
      box-shadow: none;
      font-weight: 400;
      padding: 0;
    }
  }

  &.is-visible {
    display: flex;
  }

  @include mq-until(lg) {
    border-left: 3px solid $color-main-dark;
    margin-left: 20px;
    padding-top: 0;
    position: static;
    transform: translateX(0);
  }
}
