.hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  fill: $color-main-dark;
  padding: 0;

  &:focus,
  &:hover {
    cursor: pointer;
    fill: $color-main-primary;
  }

  &.is-hidden {
    display: none;
  }

  @include mq-until(lg) {
    display: block;
  }
}
