.navigation {
  $_this: &;

  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: $Raleway, sans-serif;
  font-size: 18px;
  list-style: none;
  margin: 0;

  &__arrow-icon {
    fill: $color-main-dark;
    height: 8px;
    margin-left: 8px;
    transition: transform 0.2s;
    width: 14px;

    &.is-active {
      transform: rotate(180deg);
    }

    @include mq-until(lg) {
      margin-left: 16px;
    }
  }

  &__controls {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: $color-main-dark;
    display: flex;
    font-family: $Raleway, sans-serif;
    font-size: 18px;

    &:focus,
    &:hover {
      color: $color-main-primary;
      cursor: pointer;

      #{$_this}__arrow-icon {
        fill: $color-main-primary;
      }
    }

    @include mq-until(lg) {
      font-size: 18px;
      font-weight: 600;
      padding: 14px 0 13px 0;
    }
  }

  &__item {
    padding: 0 12px;

    &:last-of-type {
      padding-right: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &--has-dropdown {
      position: relative;
    }

    @include mq-until(lg) {
      padding: 0;
    }
  }

  &__link {
    color: $color-main-dark;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $color-main-primary;
    }

    @include mq-until(lg) {
      display: block;
      padding: 14px 0 13px 0;
    }
  }

  @include mq-until(lg) {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    font-weight: 600;
    margin-top: 48px;
    padding-left: 40px;

    &.is-visible {
      display: flex;
    }
  }
}
