@mixin background-circle {
  @include z-index('checkbox-background-circle');

  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 48px;
  left: -12px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 48px;
}
