//Todo: Remove when not used

@mixin breakpoint-until($px) {
  @media (max-width: $px) {
    @content;
  }
}

@mixin breakpoint-from($px) {
  @media (min-width: $px) {
    @content;
  }
}

// Class for accessibility purposes - use it in cases where a text label is not visible on the screen
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

@mixin star-positions($shape-positions, $first-resolution, $second-resolution) {
  @for $i from 1 through length($shape-positions) {
    $row: nth($shape-positions, $i);

    &--position-#{$i} {
      $default: map-get($row, 'default');

      left: map-get($default, 'left');
      top: map-get($default, 'top');
      @include mq-until($second-resolution) {
        $untilLarge: map-get($row, 'untilLarge');

        left: map-get($untilLarge, 'left');
        top: map-get($untilLarge, 'top');
      }
      @include mq-until($first-resolution) {
        $untilSmall: map-get($row, 'untilSmall');

        left: map-get($untilSmall, 'left');
        top: map-get($untilSmall, 'top');
      }
    }
  }

  &--front-end-theme {
    fill: rgba(245, 95, 68, 0.5);
  }

  &--developer-theme {
    fill: rgba(77, 138, 240, 0.5);
  }

  &--tester-theme {
    fill: rgba(71, 230, 177, 0.5);
  }

  &--form-theme {
    fill: rgba(219, 219, 219, 0.5);
  }
}
