@mixin media-grid() {
  @include z-index('media-grid');

  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 39px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;

  &__item {
    height: 220px;

    &:nth-child(2) {
      grid-column: span 2;

      @include mq-until(lg) {
        grid-column: span 1;
      }
    }

    &:nth-child(6) {
      grid-column: span 2;
      position: relative;

      @include mq-until(lg) {
        grid-column: span 1;
      }
    }
  }

  @include mq-until(lg) {
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  }
}

@mixin media-grid-images {
  &__image {
    border-radius: 16px;
    height: 100%;
    object-fit: cover;
    width: 100%;

    &--modified {
      object-position: 0% 40%;
    }

    &--home {
      background-color: $color-surface;
      border: 2px solid $color-main-dark;
      box-shadow: -20px 20px 0 0 $color-surface;
    }

    &--developers {
      background-color: $color-developers-shape;
      border: 2px solid $color-developers-dark;
      box-shadow: -20px 20px 0 0 $color-surface;
    }

    &--testers {
      background-color: $color-testers-shape;
      border: 2px solid $color-dark-turquoise;
      box-shadow: -20px 20px 0 0 $color-surface;
    }

    &--frontend {
      background-color: $color-frontend-shape;
      border: 2px solid $color-frontend-dark;
      box-shadow: -20px 20px 0 0 $color-surface;
    }

    @include mq-until(md) {
      border: 1px solid $color-main-dark;
    }
  }
}

@mixin add-fill($fill-color: $color-main-primary) {
  fill: lighten($fill-color, $amount: 30%);
}

//Centered from parent with relative positioning
@mixin play-button-centered() {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  fill: $color-white;
  filter: blur(0);
  left: 50%;
  position: absolute;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 50%;
  transform: translate(-50%, -50%);

  &--home {
    stroke: $color-main-dark;

    &:focus,
    &:hover {
      @include add-fill();
    }
  }

  &--developers {
    stroke: $color-developers-dark;

    &:focus,
    &:hover {
      @include add-fill($color-developers-primary);
    }
  }

  &--testers {
    stroke: $color-dark-turquoise;

    &:focus,
    &:hover {
      @include add-fill($color-testers-primary);
    }
  }

  &--frontend {
    stroke: $color-frontend-dark;

    &:focus,
    &:hover {
      @include add-fill($color-frontend-primary);
    }
  }

  &:focus,
  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
    transition: 0.3s ease-in-out;
  }
}
