@mixin heading {
  color: $color-main-dark;
  font-family: $Montserrat;
  font-size: rem-calc(48px);
  font-weight: 700;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(32px);
  }

  @include mq-until(sm) {
    font-size: rem-calc(24px);
  }
}

@mixin section-heading($space-on-bottom: 35px) {
  color: $color-main-dark;
  font-family: $Montserrat;
  font-size: rem-calc(32px);
  font-weight: 600;
  margin-bottom: $space-on-bottom;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(24px);
  }

  @include mq-until(sm) {
    font-size: rem-calc(20px);
  }
}

@mixin subheading {
  color: $color-main-dark;
  font-family: $Raleway;
  font-size: rem-calc(20px);
  font-weight: bold;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(18px);
  }
}

@mixin semibold($font-size: 18px, $font-color: $color-white) {
  color: $font-color;
  font-family: $Raleway;
  font-size: rem-calc($font-size);
  font-weight: 600;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(16px);
  }
}

@mixin paragraph {
  color: $grey-text-color;
  font-family: $Raleway;
  font-size: rem-calc(18px);
  font-weight: 200;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(16px);
  }
}

@mixin small-text {
  color: $color-main-dark;
  font-family: $Raleway;
  font-size: rem-calc(14px);
  font-weight: 200;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  &--highlight {
    color: $color-main-dark;
    font-weight: 600;
  }
}

@mixin form-error-message {
  color: $color-frontend-dark;
  font-family: $Raleway;
  font-size: rem-calc(12px);
  font-weight: 200;
}

@mixin input-placeholder {
  color: $color-form-placeholder;
  font-family: $Raleway;
  font-size: rem-calc(18px);
  font-weight: 200;

  &--active {
    color: $color-text;
  }
}

@mixin input-label($this) {
  color: $color-form-main;
  font-family: $Raleway;
  font-size: rem-calc(14px);
  font-weight: 200;

  &--active {
    color: $color-main-primary;
  }

  &--error {
    color: $color-frontend-dark;
  }
}

@mixin input-required {
  color: $color-error;
  font-family: $Raleway;
  font-size: rem-calc(18px);
  font-weight: bold;
}
