<div class="aplication">
    <div class="aplication-wrapper">
        <form class="aplication-wrapper__form js-application-form" novalidate>
            <h2 class="aplication-wrapper__title">Sourcery Academy Application</h2>
            <h3 class="aplication-wrapper__subtitle">Academy information</h3>
            <div class="aplication-wrapper__fieldset-container">
                <fieldset class="aplication-wrapper__fieldset">
                    <legend class="aplication-wrapper__required-heading">Academy type</legend>
                    {{> ../academy-type-selection/academy-type-selection.html }}
                    <legend class="aplication-wrapper__required-heading">Academy city</legend>
                    <div class="aplication-wrapper__city">
                        {{> ../radio-button.html text="Kaunas" group="city-group" id="kaunas" checked=true }}
                        {{> ../radio-button.html text="Vilnius" group="city-group" id="vilnius" }}
                    </div>
                </fieldset>
            </div>
            <h3 class="aplication-wrapper__subtitle">Personal information</h3>
            <div class="aplication-wrapper__information">
                <div class="aplication-wrapper__personal-information">
                    {{> ../inputs/text-input.html text="First name" id="first-name" type="text" placeholderText="Enter your first name" required=true errorMessage="First name is missing"}}
                    {{> ../inputs/text-input.html text="Last name" id="last-name" type="text" placeholderText="Enter your last name" required=true errorMessage="Last name is missing"}}
                    {{> ../inputs/text-input.html text="Email" id="email" type="email" placeholderText="Enter your email" required=true errorMessage="Invalid email address"}}
                    {{> ../inputs/text-input.html text="Skype ID" type="text" id="skypeid" placeholderText="Enter your Skype ID"}}
                    {{> ../inputs/file-input.html}}
                    {{> ../checkbox.html text="I have read, understand and accept the content of the Privacy Notice and consent to the processing of my data as part of this application." id="agreement"}}
                </div>
                {{> ../academy-type-selection/apply-illiustration.html}}
            </div>
            <div class="aplication-wrapper__controler">
                {{> ../button.html text='Register'}}
            </div>
        </form>
        <div class="aplication-wrapper__success">
            <h2 class="aplication-wrapper__title aplication-wrapper__title--success">Sourcery Academy Application</h2>
            <div class="aplication-wrapper__success-container">
                <div class="aplication-wrapper__content">
                    <h3 class="aplication-wrapper__success-title">Thank you!</h3>
                    <p class="aplication-wrapper__success-text">Your form was submitted</p>
                </div>
                {{> ../academy-type-selection/apply-illiustration.html className="developers"}}
            </div>
        </div>
        {{> aplication-background.html}}
    </div>
</div>