<div class="aplication-wrapper__background">
    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-1'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-2'}}
    {{> ../shapes/circle.html theme='shape shape--developer-theme' className='shape shape--position-3'}}
    {{> ../shapes/circle.html theme='shape shape--front-end-theme' className='shape shape--position-4'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-5'}}
    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-6'}}
    {{> ../shapes/circle.html theme='shape shape--front-end-theme' className='shape shape--position-7'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-8'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-9'}}
    {{> ../shapes/circle.html theme='shape shape--developer-theme' className='shape shape--position-10'}}
    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-11'}} 

    {{> ../shapes/circle.html theme='shape shape--developer-theme' className='shape shape--position-12'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-13'}}
    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-14'}}
    {{> ../shapes/circle.html theme='shape shape--front-end-theme' className='shape shape--position-15'}}
    {{> ../shapes/cross.html theme='shape shape--tester-theme' className='shape shape--position-16'}}
    {{> ../shapes/plus.html theme='shape shape--developer-theme' className='shape shape--position-17'}}
</div>