<div class="schedule-container schedule-container--{{modifier}}" id="schedule">
    <section class="schedule-section" aria-labelledby="schedule-label">
        <button id="left-btn" aria-label="Previous" class="slider-button slider-button--{{modifier}} slider-button--left">
          {{>slider-arrow.html modifier=modifier}}
        </button>
        <h2 id="schedule-label" class="schedule-section__title schedule-section__title--{{modifier}}">Schedule</h2>
            <section class="schedule-section__dates">
                <div class="schedule-section__month-headings">
                    <h3 id="heading-one" class="schedule-section__dates-title schedule-section__dates-title--{{modifier}}">{{months1}}</h3>
                    <h3 id="heading-two" class="schedule-section__dates-title schedule-section__dates-title--{{modifier}}">{{months2}}</h3>
                </div>
                <div class="schedule-section__accordions">
                  {{#eq modifier "developers" }}
                      <div class="schedule-section__column">
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Git & JS Fundamentals"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="10"
                                vilnius-day="9"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Web basics"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="17"
                                vilnius-day="16"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="React fundamentals"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="24"
                                vilnius-day="23"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="React router & Redux"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="31"
                                vilnius-day="30"
                            }}
                      </div>
                      <div class="schedule-section__column">
                          {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Async & Testing for Developers"
                                lecturer="Paulius Sabeckis, Paulius Beneta, Gerda Morkeviciute, Svetlana Bielskaja"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="7"
                                vilnius-day="6"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Spring Boot Indtroduction, Spring REST MVC, Hibernate"
                                lecturer="Audrius Maciulis, Zygimantas Skuolis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="14"
                                vilnius-day="13"
                            }}
                      </div>

                      <div class="schedule-section__column">
                          {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="DI, Scopes, Configuration. REST API validation"
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="21"
                                vilnius-day="20"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Databases in depth, transactions "
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="28"
                                vilnius-day="27"
                            }}

                      </div>
                      <div class="schedule-section__column">
                          {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Authentication, Authorization"
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Dec"
                                vilnius-month="Dec"
                                kaunas-day="5"
                                vilnius-day="4"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="DevOps, best development practices"
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Dec"
                                vilnius-month="Dec"
                                kaunas-day="12"
                                vilnius-day="11"
                            }}
                      </div>
                      <div class="schedule-section__column">
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Git & JS Fundamentals"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="10"
                                vilnius-day="9"
                        }}
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Web basics"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="17"
                                vilnius-day="16"
                        }}
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="React fundamentals"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="24"
                                vilnius-day="23"
                        }}
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="React router & Redux"
                                lecturer="Paulius Sabeckis, Paulius Beneta"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="31"
                                vilnius-day="30"
                        }}
                      </div>
                      <div class="schedule-section__column">
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Async & Testing for Developers"
                                lecturer="Paulius Sabeckis, Paulius Beneta, Gerda Morkeviciute, Svetlana Bielskaja"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="7"
                                vilnius-day="6"
                        }}
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Spring Boot Indtroduction, Spring REST MVC, Hibernate"
                                lecturer="Audrius Maciulis, Zygimantas Skuolis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="14"
                                vilnius-day="13"
                        }}
                      </div>

                      <div class="schedule-section__column">
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="DI, Scopes, Configuration. REST API validation"
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="21"
                                vilnius-day="20"
                        }}
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Databases in depth, transactions "
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="28"
                                vilnius-day="27"
                        }}

                      </div>
                      <div class="schedule-section__column">
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Authentication, Authorization"
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Dec"
                                vilnius-month="Dec"
                                kaunas-day="5"
                                vilnius-day="4"
                        }}
                        {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="DevOps, best development practices"
                                lecturer="Audrius Maciulis, Mantas Naujokaitis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Dec"
                                vilnius-month="Dec"
                                kaunas-day="12"
                                vilnius-day="11"
                        }}
                      </div>
                  {{/eq}}
                  {{#eq modifier "testers" }}
                      <div class="schedule-section__column">
                          {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Testing Foundations. Manual Testing Approach. Exploratory Testing"
                                lecturer="Gerda Monkevičiutė"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Jun"
                                vilnius-month="Jun"
                                kaunas-day="26"
                                vilnius-day="27"
                            }}
                      </div>
                      <div class="schedule-section__column">
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Understanding Agile. Continuous Testing"
                                lecturer="Justina Jukneviciute"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Jul"
                                vilnius-month="Jul"
                                kaunas-day="3"
                                vilnius-day="4"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Web Testing Specifics"
                                lecturer="Asta Dagiene"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Jul"
                                vilnius-month="Jul"
                                kaunas-day="10"
                                vilnius-day="11"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Mobile Testing Specifics"
                                lecturer="Arturas Sadranskas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Jul"
                                vilnius-month="Jul"
                                kaunas-day="17"
                                vilnius-day="18"
                            }}

                      </div>
                      <div class="schedule-section__column">
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Server-side Testing Specifics"
                                lecturer="Mantas Naktinis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Jul"
                                vilnius-month="Aug"
                                kaunas-day="25"
                                vilnius-day="1"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Test Automation: Theory and Practice (Part 1)"
                                lecturer="Nikolaj Tolkaciov"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Aug"
                                vilnius-month="Jul"
                                kaunas-day="1"
                                vilnius-day="24"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Test Automation: Theory and Practice (Part 2)"
                                lecturer="Nikolaj Tolkaciov"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Aug"
                                vilnius-month="Jul"
                                kaunas-day="2"
                                vilnius-day="25"
                            }}

                      </div>
                      <div class="schedule-section__column">
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Non-functional testing: Security"
                                lecturer="Vilius Pankauskas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Aug"
                                vilnius-month="Aug"
                                kaunas-day="7"
                                vilnius-day="5"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Non-functional testing: Performance"
                                lecturer="Justas Lauzadis"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Aug"
                                vilnius-month="Aug"
                                kaunas-day="14"
                                vilnius-day="13"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Non-functional testing: Accessibility"
                                lecturer="Jurij Nesvat"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Aug"
                                vilnius-month="Aug"
                                kaunas-day="21"
                                vilnius-day="22"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Bonus: Machine Learning Basics"
                                lecturer="Rima Linaburgyte"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Aug"
                                vilnius-month="Aug"
                                kaunas-day="22"
                                vilnius-day="21"
                            }}
                      </div>
                  {{/eq}}
                  {{#eq modifier "frontend" }}
                      <div class="schedule-section__column">
                          {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Intro, Agile & Git"
                                lecturer="Audrius Navickas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Oct"
                                vilnius-month="Oct"
                                kaunas-day="30"
                                vilnius-day="31"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="HTML Semantics & Accessibility basics"
                                lecturer="Mantas Sutkevičius"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="5"
                                vilnius-day="6"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="HTML Layouts"
                                lecturer="Justinas Gužas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="6"
                                vilnius-day="7"
                            }}
                      </div>
                      <div class="schedule-section__column">
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Tips & tricks to build clean and functional CSS"
                                lecturer="Rokas Anisas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="12"
                                vilnius-day="13"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="BEM & SCSS basics"
                                lecturer="Mantas Sutkevičius"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="13"
                                vilnius-day="14"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="SCSS in depth"
                                lecturer="Rokas Anisas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="19"
                                vilnius-day="20"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="JS fundamentals Part 1"
                                lecturer="Jelizaveta Potapova"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Nov"
                                vilnius-month="Nov"
                                kaunas-day="26"
                                vilnius-day="27"
                            }}
                      </div>

                      <div class="schedule-section__column">
                          {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="JS fundamentals Part 2"
                                lecturer="Jelizaveta Potapova"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Dec"
                                vilnius-month="Dec"
                                kaunas-day="3"
                                vilnius-day="4"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Accessibility in depth"
                                lecturer="Justinas Gužas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Dec"
                                vilnius-month="Dec"
                                kaunas-day="10"
                                vilnius-day="11"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Build tools"
                                lecturer="Audrius Navickas"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Dec"
                                vilnius-month="Dec"
                                kaunas-day="17"
                                vilnius-day="18"
                            }}
                      </div>
                      <div class="schedule-section__column">
                          {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Final exam"
                                lecturer="Mentors, Lecturers"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Jan"
                                vilnius-month="Jan"
                                kaunas-day="8"
                                vilnius-day="8"
                            }}
                            {{> ../accordion/accordion.html
                                theme=modifier
                                seminar-title="Demo Day, Results and Rewards"
                                lecturer="Mentors, Lecturers"
                                time="4:00 pm"
                                duration="5 hours"
                                kaunas-month="Jan"
                                vilnius-month="Jan"
                                kaunas-day="15"
                                vilnius-day="15"
                            }}
                      </div>
                  {{/eq}}
                </div>
               </section>
        <div class="background-schedule">
          {{> ../academies/plus.html theme='background-schedule__shape--developer-theme' styles='background-schedule__shape background-schedule__shape--position-1' }}
          {{> ../academies/circle.html theme='background-schedule__shape--front-end-theme' styles='background-schedule__shape background-schedule__shape--position-2' }}
          {{> ../academies/cross.html theme='background-schedule__shape--tester-theme' styles='background-schedule__shape background-schedule__shape--position-3' }}
          {{> ../academies/plus.html theme='background-schedule__shape--developer-theme' styles='background-schedule__shape background-schedule__shape--position-4' }}
          {{> ../academies/plus.html theme='background-schedule__shape--developer-theme' styles='background-schedule__shape background-schedule__shape--position-5' }}
          {{> ../academies/plus.html theme='background-schedule__shape--developer-theme' styles='background-schedule__shape background-schedule__shape--position-6' }}
          {{> ../academies/cross.html theme='background-schedule__shape--tester-theme' styles='background-schedule__shape background-schedule__shape--position-7' }}
          {{> ../academies/circle.html theme='background-schedule__shape--front-end-theme' styles='background-schedule__shape background-schedule__shape--position-8' }}
          {{> ../academies/plus.html theme='background-schedule__shape--developer-theme' styles='background-schedule__shape background-schedule__shape--position-9' }}
        </div>
        <button id="right-btn" aria-label="Next" class="slider-button slider-button--{{modifier}} slider-button--right">
           {{>slider-arrow.html modifier=modifier}}
        </button>
    </section>
</div>
