<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" class="slider-button__icon slider-button__icon--{{modifier}}">
    <g data-name="Icon feather-arrow-down-circle" transform="translate(1 1)">
        <path d="M51 27A24 24 0 1 1 27 3a24 24 0 0 1 24 24z" class="slider-button__icon-fill slider-button__icon-fill--{{modifier}} slider-button__icon-fill__border" data-name="Path 862" transform="translate(-3 -3)"/>
        <path d="M12 18l9.1 9.1 9.1-9.1" class="slider-button__icon-fill slider-button__icon-fill--{{modifier}}" data-name="Path 863" transform="translate(2.896 6.31)"/>
        <path d="M18 12v18.208" class="slider-button__icon-fill slider-button__icon-fill--{{modifier}}" data-name="Path 864" transform="translate(6 2.896)"/>
    </g>
</svg>
