@import '../../base/mixins/helpers';

$shape-positions: (
  (
    default: (
      left: 190%,
      top: -5%
    ),
    untilLarge: (
      left: 5%,
      top: -5%
    ),
    untilSmall: (
      left: -4%,
      top: -2%
    )
  ),
  (
    default: (
      left: 225%,
      top: 5%
    ),
    untilLarge: (
      left: 19%,
      top: -12%
    ),
    untilSmall: (
      left: 24%,
      top: -4%
    )
  ),
  (
    default: (
      left: 275%,
      top: -10%
    ),
    untilLarge: (
      left: 35%,
      top: -5%
    ),
    untilSmall: (
      left: 43%,
      top: -1%
    )
  ),
  (
    default: (
      left: 280%,
      top: 10%
    ),
    untilLarge: (
      left: 51%,
      top: -15%
    ),
    untilSmall: (
      left: 67%,
      top: -4%
    )
  ),
  (
    default: (
      left: 295%,
      top: -3%
    ),
    untilLarge: (
      left: 67%,
      top: -6%
    ),
    untilSmall: (
      left: 88%,
      top: -1%
    )
  ),
  (
    default: (
      left: 7%,
      top: 120%
    ),
    untilLarge: (
      left: 0%,
      top: 100%
    ),
    untilSmall: (
      left: 0%,
      top: 102%
    )
  ),
  (
    default: (
      left: 25%,
      top: 100%
    ),
    untilLarge: (
      left: 18%,
      top: 105%
    ),
    untilSmall: (
      left: 15%,
      top: 104%
    )
  ),
  (
    default: (
      left: 55%,
      top: 110%
    ),
    untilLarge: (
      left: 31%,
      top: 103%
    ),
    untilSmall: (
      left: 31%,
      top: 102%
    )
  ),
  (
    default: (
      left: 80%,
      top: 95%
    ),
    untilLarge: (
      left: 48%,
      top: 110%
    ),
    untilSmall: (
      left: 48%,
      top: 104%
    )
  ),
  (
    default: (
      left: 105%,
      top: 115%
    ),
    untilLarge: (
      left: 66%,
      top: 102%
    ),
    untilSmall: (
      left: 66%,
      top: 102%
    )
  ),
  (
    default: (
      left: 120%,
      top: 105%
    ),
    untilLarge: (
      left: 78%,
      top: 110%
    ),
    untilSmall: (
      left: 84%,
      top: 104%
    )
  )
);

.step-section {
  &__shape {
    position: absolute;

    @include star-positions($shape-positions, md, xl/1400);
  }
}
