@import '../../base/mixins/typography-mixins';

.step-section {
  display: flex;
  margin: 0 auto;

  &__wrapper {
    background-color: $color-white;
    display: flex;
    margin: auto;
    padding-bottom: 240px;
    position: relative;

    &::before,
    &::after {
      @include z-index('step-section', 'pseudo-element');

      background-color: $color-white;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -35%;
      width: 420px;

      @include mq-until(xl/1400) {
        left: -70%;
        width: 450px;
      }
    }

    &::after {
      left: 100%;
      width: 260px;

      @include mq-until(xl/1400) {
        left: 100%;
        width: 400px;
      }
    }

    @media (min-width: 1351px) and (max-width: 1399px) {
      margin-top: -270px;
    }
  }

  &__column {
    @include z-index('step-section', 'column-content');

    position: relative;

    &--right {
      margin: 100px 0 0 180px;

      @include mq-until(xl/1400) {
        display: none;
      }
    }

    &--left {
      position: relative;

      @include mq-from(xl/1400) {
        margin-right: 240px;
      }
    }
  }

  &__article {
    max-width: 390px;

    &--space-left {
      @include mq-until(xl/1400) {
        margin-left: 190px;
      }
      @include mq-until(md) {
        margin-left: 0;
      }
    }

    &--hide {
      @include mq-from(xl/1400) {
        display: none;
      }

      &-mobile {
        @include mq-until(xl/1400) {
          display: none;
        }
      }
    }

    @include mq-until(xl/1400) {
      margin-bottom: 70px;
    }

    @include mq-until(sm) {
      margin: 0 auto 70px;
      width: 280px;
    }
  }

  &__title {
    @include section-heading(16px);

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;

      @include mq-until(md) {
        text-align: left;
      }
    }
  }

  &__divider-wrapper {
    height: 0;
    margin: 0;
    position: relative;
    width: 390px;

    @include mq-until(sm) {
      width: 280px;
    }
  }

  &__divider {
    &--frontend {
      border-top: 2px solid $color-frontend-dark;
    }

    &--developers {
      border-top: 2px solid $color-developers-dark;
    }

    &--testers {
      border-top: 2px solid $color-dark-turquoise;
    }
  }

  &__step-iliustration-wrapper {
    position: absolute;

    &--left {
      left: -200px;
      top: -80px;
    }

    &--rigth {
      left: 400px;
      top: -80px;
    }

    @include mq-until(md) {
      display: none;
    }
  }

  &__text {
    &--right {
      text-align: right;

      @include mq-until(md) {
        text-align: left;
      }
    }

    &--left {
      text-align: left;
    }
  }

  &__phone-iliustration {
    display: flex;
    height: 190px;
    position: relative;
    width: 100%;

    @include mq-from(md) {
      display: none;
    }
  }

  &--testers {
    background-color: $color-testers-shape;
    color: $color-dark-turquoise;
  }

  &--developers {
    background-color: $color-developers-shape;
    color: $color-developers-dark;
  }

  &--frontend {
    background-color: $color-frontend-shape;
    color: $color-frontend-dark;
  }
}
