.step-iliustration {
  position: relative;

  &__number-wrapper {
    @include z-index('step-illustration', 'number-wrapper');

    background-color: $color-white;
    border-radius: 50%;
    font-size: 32px;
    height: 55px;
    position: relative;
    width: 55px;

    &--text {
      @include z-index('step-illustration', 'number-wrapper-text');

      font-family: $Montserrat;
      font-size: 48px;
      font-weight: bold;
      left: 0;
      margin-top: -8px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 55px;

      &-testers {
        color: $color-dark-turquoise;
      }

      &-frontend {
        color: $color-frontend-dark;
      }

      &-developers {
        color: $color-developers-dark;
      }
    }
  }

  &__picture {
    @include z-index('step-illustration', 'picture');

    left: 0;
    position: absolute;
    top: 0;
  }

  &__background {
    left: 0;
    position: absolute;
    top: 0;

    &--theme-frontend {
      fill: none;
      stroke: $color-frontend-dark;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1px;
    }

    &--theme-developers {
      fill: none;
      stroke: $color-developers-dark;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1px;
    }

    &--theme-testers {
      fill: none;
      stroke: $color-dark-turquoise;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1px;
    }
  }
}
