.apply-picture {
  @include z-index('themes-picture');
  $_this: &;

  left: 0;
  position: absolute;
  top: 0;

  &__leave-shadow {
    opacity: 0.7;
  }

  &__paper-shadow {
    opacity: 0.1;
  }

  &__paper {
    fill: #fff;
  }

  &--pencil-tip {
    fill: #efc8c4;
  }

  &--check-marks {
    fill: #3acc6c;
  }

  &--women-skin {
    fill: #a5636d;
  }

  &--women-shadow {
    opacity: 0.1;
  }

  &--pencil-shadow {
    fill: rgba(255, 255, 255, 031);
  }

  &--paper-text {
    opacity: 0.3;
  }

  &--women-outline {
    fill: url(#linear-gradient);
  }

  &--arm-shadows {
    opacity: 0.05;
  }

  &--shoes {
    fill: #bebed0;
  }

  &--skirt {
    fill: #5c5c8e;
  }

  &--top {
    fill: #f7cddd;
  }

  &--hair {
    fill: #4c3e42;
  }

  &--pencil-writtin-tip {
    fill: #727a9c;
  }

  &--testers {
    #{$_this}--background {
      fill: rgba(28, 229, 175, 0.1);
    }

    #{$_this}--leafs {
      fill: $color-dark-turquoise;
    }

    #{$_this}--paper-title {
      fill: rgba(28, 229, 175, 0.3);
    }

    #{$_this}--colored-paper {
      fill: #1ce5af;
    }

    #{$_this}--shadows {
      fill: $color-dark-turquoise;

      &-light {
        fill: $color-dark-turquoise;
        opacity: 0.1;
      }
    }

    #{$_this}--checkmark-background {
      fill: rgba(178, 244, 222, 0.3);
    }
  }

  &--frontend {
    #{$_this}--background {
      fill: $color-frontend-primary;
      opacity: 0.1;
    }

    #{$_this}--leafs {
      fill: $color-frontend-primary;
    }

    #{$_this}--paper-title {
      fill: $color-frontend-primary;
      opacity: 0.3;
    }

    #{$_this}--colored-paper {
      fill: $color-frontend-dark;
    }

    #{$_this}--shadows {
      fill: $color-developers-primary;

      &-light {
        fill: $color-developers-primary;
        opacity: 0.1;
      }
    }

    #{$_this}--checkmark-background {
      fill: $color-frontend-dark;
      opacity: 0.3;
    }
  }

  &--developers {
    #{$_this}--background {
      fill: $color-developers-primary;
      opacity: 0.1;
    }

    #{$_this}--leafs {
      fill: $color-developers-primary;
    }

    #{$_this}--paper-title {
      fill: $color-developers-primary;
      opacity: 0.3;
    }

    #{$_this}--colored-paper {
      fill: #17bce3;
    }

    #{$_this}--shadows {
      fill: #444053;

      &-light {
        fill: rgba(68, 64, 83, 0.1);
      }
    }

    #{$_this}--checkmark-background {
      fill: $color-developers-primary;
      opacity: 0.3;
    }
  }
  @include mq-until(md) {
    margin: auto;
    transform: scale(1.2);
    width: 100%;
  }
}

.pass-picture {
  @include z-index('themes-picture');
  $_this: &;

  left: 30px;
  position: absolute;
  top: 10px;

  &--letter {
    fill: #f5f5f5;
  }

  &--letter-sides {
    fill: url(#linear-gradient-2);
  }

  &--leter-front {
    fill: #fff;
  }

  &--letter-inside {
    fill: #e0e0e0;
  }

  &--letter-sides-shadow {
    opacity: 0.05;
  }

  &--stems {
    fill: none;
    stroke: #535461;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }

  &--man-shadows {
    opacity: 0.1;
  }

  &--man-skin {
    fill: #a1616a;
  }

  &--man-shoes {
    fill: url(#linear-gradient);
  }

  &--man-shirt {
    fill: #e1e7ef;
  }

  &--man-shoe-color {
    fill: #5a5773;
  }

  &--man-suit {
    fill: #605d82;
  }

  &--man-suit-2 {
    fill: #67647e;
  }

  &--man-hair {
    fill: #4a4347;
  }

  &--man-bottom-shadow {
    opacity: 0.5;
  }

  &--testers {
    #{$_this}--background {
      fill: rgba(28, 229, 175, 0.1);
    }

    #{$_this}--leaf {
      fill: #1ce5af;
    }

    #{$_this}--colored-paper {
      fill: #1ce5af;
    }

    #{$_this}--darker-leafs {
      fill: $color-dark-turquoise;
    }

    #{$_this}--letter-text {
      fill: $color-testers-primary;
      opacity: 0.5;
    }

    #{$_this}--letter-text-2 {
      fill: $color-testers-primary;
      opacity: 0.4;
    }

    #{$_this}--letter-text-3 {
      fill: $color-testers-primary;
      opacity: 0.3;
    }
  }

  &--frontend {
    #{$_this}--background {
      fill: $color-frontend-primary;
      opacity: 0.1;
    }

    #{$_this}--leaf {
      fill: $color-frontend-primary;
    }

    #{$_this}--colored-paper {
      fill: $color-frontend-primary;
    }

    #{$_this}--darker-leafs {
      fill: $color-frontend-dark;
    }

    #{$_this}--letter-text {
      fill: $color-developers-primary;
      opacity: 0.5;
    }

    #{$_this}--letter-text-2 {
      fill: $color-developers-primary;
      opacity: 0.4;
    }

    #{$_this}--letter-text-3 {
      fill: $color-developers-primary;
      opacity: 0.3;
    }
  }

  &--developers {
    #{$_this}--background {
      fill: rgba(108, 99, 255, 0.1);
    }

    #{$_this}--leaf {
      fill: #17bce3;
    }

    #{$_this}--colored-paper {
      fill: #17bce3;
    }

    #{$_this}--darker-leafs {
      fill: #6c63ff;
    }

    #{$_this}--letter-text {
      fill: $color-developers-primary;
      opacity: 0.5;
    }

    #{$_this}--letter-text-2 {
      fill: $color-developers-primary;
      opacity: 0.4;
    }

    #{$_this}--letter-text-3 {
      fill: $color-developers-primary;
      opacity: 0.3;
    }
  }

  @include mq-until(md) {
    left: 0;
    margin: auto;
    top: 0;
    transform: scale(1.2);
    width: 100%;
  }
}

.learn-picture {
  @include z-index('themes-picture');
  $_this: &;

  left: 20px;
  position: absolute;
  top: 0;

  &--shadows {
    fill: #6c63ff;
    opacity: 0.1;
  }

  &--side-shirt {
    fill: #f86d70;
  }

  &--small-plant {
    fill: #a8a8a8;
  }

  &--stems {
    fill: none;
    stroke: #565987;
    stroke-miterlimit: 10;
  }

  &--shoes {
    fill: #65617d;
  }

  &--suits {
    fill: #3f3d56;
  }

  &--phone-top {
    fill: none;
    stroke: #3f3d56;
    stroke-miterlimit: 10;
  }

  &--people-skin {
    fill: #fbbebe;
  }

  &--man-skin {
    fill: #be6f72;
  }

  &--shirt {
    fill: #e3e8f4;
  }

  &--pollen {
    fill: #ffd037;
  }

  &--people-shadows {
    opacity: 0.1;
  }

  &--plant-shadows {
    opacity: 0.2;
  }

  &--testers {
    #{$_this}--background {
      fill: rgba(28, 229, 175, 0.1);
    }

    #{$_this}--leaf {
      fill: #1ce5af;
    }

    #{$_this}--plant-tops {
      fill: $color-dark-turquoise;
    }

    #{$_this}--women-shirt {
      fill: $color-testers-primary;
    }

    #{$_this}--darker-leafs {
      fill: $color-dark-turquoise;
    }

    #{$_this}--phone-message {
      fill: #1ce5af;
    }
  }

  &--frontend {
    #{$_this}--background {
      fill: $color-frontend-primary;
      opacity: 0.1;
    }

    #{$_this}--leaf {
      fill: $color-frontend-primary;
    }

    #{$_this}--plant-tops {
      fill: $color-frontend-primary;
    }

    #{$_this}--women-shirt {
      fill: $color-frontend-primary;
    }

    #{$_this}--darker-leafs {
      fill: $color-frontend-dark;
    }

    #{$_this}--phone-message {
      fill: #ffd0dc;
    }
  }

  &--developers {
    #{$_this}--background {
      fill: $color-developers-primary;
      opacity: 0.1;
    }

    #{$_this}--leaf {
      fill: #17bce3;
    }

    #{$_this}--plant-tops {
      fill: $color-developers-primary;
    }

    #{$_this}--women-shirt {
      fill: $color-developers-primary;
    }

    #{$_this}--darker-leafs {
      fill: $color-developers-primary;
    }

    #{$_this}--phone-message {
      fill: #17bce3;
    }
  }

  @include mq-until(md) {
    left: 0;
    margin: auto;
    top: 0;
    transform: scale(1.2);
    width: 100%;
  }
}

.join-picture {
  @include z-index('themes-picture');
  $_this: &;

  left: -25px;
  position: absolute;
  top: -5px;

  &--man-top {
    fill: #65617d;
  }

  &--man-skin {
    fill: #a5636d;
  }

  &--man-shirt {
    fill: #e7effd;
  }

  &--man-jeans {
    fill: #3f3d56;
  }

  &--man-belt {
    fill: #5f5d7e;
  }

  &--man-hair {
    fill: #4c3e42;
  }

  &--man-border {
    fill: url(#linear-gradient);
  }

  &--women-skin {
    fill: #fbbebe;
  }

  &--women-hair {
    fill: #7c5c5c;
  }

  &--women-shadows {
    fill: url(#linear-gradient-2);
  }

  &--women-clothes-shadow {
    fill: rgba(61, 54, 145, 0.1);
  }

  &--women-skirt {
    fill: #5c5c8e;
  }

  &--women-leg-shadow {
    opacity: 0.05;
  }

  &--people-shadows {
    opacity: 0.1;
  }

  &--check-mark {
    fill: #3acc6c;
  }

  &--leaf-transparency {
    opacity: 0.5;
  }

  &--testers {
    #{$_this}--background {
      fill: #1ce5af;
      opacity: 0.1;
    }

    #{$_this}--tie {
      fill: $color-testers-primary;
    }

    #{$_this}--leafes {
      fill: $color-dark-turquoise;
      opacity: 0.7;
    }

    #{$_this}--stem {
      fill: $color-dark-turquoise;
    }

    #{$_this}--darker-leafes {
      fill: $color-dark-turquoise;
    }

    #{$_this}--women-top {
      fill: $color-testers-primary;
    }
  }

  &--frontend {
    #{$_this}--background {
      fill: $color-frontend-primary;
      opacity: 0.1;
    }

    #{$_this}--tie {
      fill: $color-frontend-primary;
    }

    #{$_this}--leafes {
      fill: $color-frontend-primary;
      opacity: 0.7;
    }

    #{$_this}--stem {
      fill: $color-frontend-primary;
    }

    #{$_this}--darker-leafes {
      fill: $color-frontend-dark;
    }

    #{$_this}--women-top {
      fill: $color-frontend-primary;
    }
  }

  &--developers {
    #{$_this}--background {
      fill: $color-developers-primary;
      opacity: 0.1;
    }

    #{$_this}--tie {
      fill: $color-developers-primary;
    }

    #{$_this}--leafes {
      fill: $color-developers-primary;
      opacity: 0.7;
    }

    #{$_this}--stem {
      fill: $color-developers-primary;
    }

    #{$_this}--darker-leafes {
      fill: $color-developers-primary;
    }

    #{$_this}--women-top {
      fill: $color-developers-primary;
    }
  }

  @include mq-until(md) {
    left: 0;
    margin: auto;
    top: 0;
    transform: scale(1.2);
    width: 100%;
  }
}
