<div class="not-found-background">

  {{> ../partials/academies/circle.html theme='not-found-background__shape--tester-theme' styles='not-found-background__shape not-found-background__shape--position-1' }}
  {{> ../partials/academies/circle.html theme='not-found-background__shape--developer-theme' styles='not-found-background__shape not-found-background__shape--position-2' }}
  {{> ../partials/academies/cross.html theme='not-found-background__shape--tester-theme' styles='not-found-background__shape not-found-background__shape--position-3' }}
  {{> ../partials/academies/plus.html theme='not-found-background__shape--developer-theme' styles='not-found-background__shape not-found-background__shape--position-4' }}
  {{> ../partials/academies/circle.html theme='not-found-background__shape--front-end-theme' styles='not-found-background__shape not-found-background__shape--position-5' }}
  {{> ../partials/academies/little-circle.html theme='not-found-background__shape--form-theme' styles='not-found-background__shape not-found-background__shape--position-6' }}
  {{> ../partials/academies/circle.html theme='not-found-background__shape--front-end-theme' styles='not-found-background__shape not-found-background__shape--position-7' }}
  {{> ../partials/academies/little-circle.html theme='not-found-background__shape--form-theme' styles='not-found-background__shape not-found-background__shape--position-8' }}
  {{> ../partials/academies/circle.html theme='not-found-background__shape--tester-theme' styles='not-found-background__shape not-found-background__shape--position-9' }}
  {{> ../partials/academies/plus.html theme='not-found-background__shape--developer-theme' styles='not-found-background__shape not-found-background__shape--position-10' }}
  {{> ../partials/academies/cross.html theme='not-found-background__shape--tester-theme' styles='not-found-background__shape not-found-background__shape--position-11' }}
  {{> ../partials/academies/plus.html theme='not-found-background__shape--developer-theme' styles='not-found-background__shape not-found-background__shape--position-12' }}
  {{> ../partials/academies/circle.html theme='not-found-background__shape--front-end-theme' styles='not-found-background__shape not-found-background__shape--position-13' }}
  {{> ../partials/academies/little-circle.html theme='not-found-background__shape--form-theme' styles='not-found-background__shape not-found-background__shape--position-14' }}
  {{> ../partials/academies/little-circle.html theme='not-found-background__shape--form-theme' styles='not-found-background__shape not-found-background__shape--position-15' }}
  {{> ../partials/academies/cross.html theme='not-found-background__shape--tester-theme' styles='not-found-background__shape not-found-background__shape--position-16' }}

</div>
