<!doctype html>
<html lang="en-US">
{{> ../partials/head.html headline="Headline"}}

<body>
{{> ../partials/header.html}}

<div class="container-not-found">
    <div class="section-not-found">
        <img class="section-not-found__image" src="../../images/not-found-404/404.svg" alt="404 number surrounded by plants and a robot"/>
        <div class="section-not-found__text">
            <h1 class="section-not-found__heading">Ooops!</h1>
            <p class="section-not-found__paragraph" id="404-text">Page not found</p>
            <a class="section-not-found__button" href="/">Back to home</a>
        </div>
      {{> background.html }}
    </div>
</div>

{{> ../partials/footer.html}}
</body>

</html>
