.admission-dates-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__heading {
    @include section-heading;

    @include mq-until(lg) {
      margin: 20px auto 35px auto;
    }
  }

  &__dates {
    width: 100%;
  }
}
