%bullet-style {
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 10px;
  margin: 15px 16px 0 0;
  width: 10px;
}

.container-admission-section {
  width: 100%;

  &--developers {
    background-color: $color-developers-shape;
  }

  &--testers {
    background-color: $color-testers-shape;
  }

  &--frontend {
    background-color: $color-frontend-shape;
  }
}

.admission-section {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1184px;
  padding: 0 128px 150px;
  position: relative;

  &::before {
    @include z-index('admission-section', 'before');

    background-color: $color-white;
    content: '';
    height: 100%;
    left: -20%;
    position: absolute;
    top: 0;
    width: 300px;

    @include mq-until(xl) {
      display: none;
    }
  }

  &::after {
    @include z-index('admission-section', 'after');

    background-color: $color-white;
    content: '';
    height: 100%;
    position: absolute;
    right: -15%;
    top: 0;
    width: 15%;
  }
  @include mq-between(lg, xl) {
    padding: 0 90px 150px;
  }
  @include mq-until(md) {
    padding: 0 20px 100px;
  }
  @include mq-between(md, lg) {
    padding: 0 40px 128px;
  }

  &__wrapper {
    @include z-index('admission-section', 'wrapper');

    display: flex;
    flex-direction: row;
    position: relative;

    @include mq-until(lg) {
      flex-direction: column;
      margin: 0 auto;
    }
    @include mq-until(sm) {
      max-width: 575px;
      width: 100%;
    }
  }

  &__main-title {
    @include heading;

    @include mq-until(lg) {
      text-align: center;
    }
  }

  &__section-title {
    @include section-heading;
  }

  &__text {
    @include paragraph;

    @include mq-between(lg, xl/1400) {
      margin-right: 40px;
    }
  }

  &__list-wrapper {
    @include mq-until(lg) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    text-align: left;

    &--frontend {
      li::before {
        @extend %bullet-style;

        background-color: $color-frontend-dark;
      }
    }

    &--testers {
      li::before {
        @extend %bullet-style;

        background-color: $color-dark-turquoise;
      }
    }

    &--developers {
      li::before {
        @extend %bullet-style;

        background-color: $color-developers-dark;
      }
    }
  }

  &__content {
    max-width: 552px;
    width: 100%;

    @include mq-until(lg) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__dates {
    align-self: flex-end;
    margin-left: auto;
    max-width: 304px;
    width: 100%;

    @include mq-until(sm) {
      margin: 20px auto;
    }
    @include mq-between(sm, lg) {
      margin: 30px auto;
    }
  }

  &__image {
    align-self: flex-end;
    height: auto;
    margin-left: auto;
    max-height: 322px;
    max-width: 514px;
    position: relative;

    &--developers {
      &--shape-color-dark {
        fill: $color-developers-dark;
      }

      &--shape-color-bright {
        fill: $developers-illustration;
      }
    }

    &--testers {
      &--shape-color-dark {
        fill: $color-dark-turquoise;
      }

      &--shape-color-bright {
        fill: $testers-illustration;
      }
    }

    &--frontend {
      &--shape-color-dark {
        fill: $color-frontend-dark;
      }

      &--shape-color-bright {
        fill: $frontend-illustration;
      }
    }

    @include mq-until(sm) {
      margin: 20px auto;
      max-width: 300px;
      width: 100%;
    }
    @include mq-between(sm, md) {
      margin: 40px auto;
      max-width: 340px;
    }
    @include mq-between(md, lg) {
      margin: 70px auto;
      max-width: 470px;
    }
    @include mq-between(lg, xl/1300) {
      max-width: 400px;
    }
  }
}

.background {
  &--admission {
    &__shape {
      @include z-index('admission-section', 'shape');

      position: absolute;

      $shape-positions: (
        (
          default: (
            left: 63%,
            top: 5%
          ),
          untilLarge: (
            left: 58%,
            top: 5%
          ),
          untilSmall: (
            left: 10%,
            top: 25%
          )
        ),
        (
          default: (
            left: 64.5%,
            top: 15%
          ),
          untilLarge: (
            left: 49%,
            top: 15%
          ),
          untilSmall: (
            left: 18%,
            top: 50%
          )
        ),
        (
          default: (
            left: 58%,
            top: 23%
          ),
          untilLarge: (
            left: 55%,
            top: 23%
          ),
          untilSmall: (
            left: 8%,
            top: 45%
          )
        ),
        (
          default: (
            left: 62%,
            top: 33%
          ),
          untilLarge: (
            left: 54%,
            top: 45%
          ),
          untilSmall: (
            left: 90%,
            top: 45%
          )
        ),
        (
          default: (
            left: 65%,
            top: 42%
          ),
          untilLarge: (
            left: 65%,
            top: 50%
          ),
          untilSmall: (
            left: 85%,
            top: 25%
          )
        ),
        (
          default: (
            left: 61%,
            top: 50%
          ),
          untilLarge: (
            left: 58%,
            top: 60%
          ),
          untilSmall: (
            left: 85%,
            top: 50%
          )
        )
      );

      @include star-positions($shape-positions, lg, xl);
    }
  }
}
