.admission-date {
  align-items: center;
  background-color: $color-white;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-family: $Raleway;
  height: 51px;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;

  &__date {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1.05;
    width: 100px;

    &--range {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__date-item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__day {
    font-size: 18px;
    font-weight: 600;
  }

  &__event {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 2;
    margin: 0;
    padding-left: 16px;
    position: relative;
    top: 1px;
    width: 204px;

    @include mq-until(sm) {
      line-height: 1;
    }

    &--developers {
      border-left: 2px solid $color-developers-dark;
    }

    &--frontend {
      border-left: 2px solid $color-frontend-dark;
    }

    &--testers {
      border-left: 2px solid $color-dark-turquoise;
    }
  }

  &__hyphen {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 600;
    padding: 0 4px;
  }

  &__month {
    font-size: 14px;
  }

  &--developers {
    border: 2px solid $color-developers-dark;
    color: $color-developers-dark;
  }

  &--frontend {
    border: 2px solid $color-frontend-dark;
    color: $color-frontend-dark;
  }

  &--testers {
    border: 2px solid $color-dark-turquoise;
    color: $color-dark-turquoise;
  }
}
