@import '../base/colors';

$color-main-hover: #443bc4;
$color-developers-hover: #3c6dbe;
$color-front-end-hover: #bf1d46;
$color-testers-hover: #008975;

.button {
  background-color: $color-main-primary;
  border: 0;
  border-radius: 43px;
  color: $color-white;
  cursor: pointer;
  font-family: $Raleway;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  padding: 0 24px;
  text-align: center;

  &[disabled] {
    background-color: $color-form-focus;
    color: $color-form-placeholder;
    cursor: default;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    &:enabled {
      background-color: $color-main-hover;
    }

    &:active {
      background-color: $color-main-dark;
    }
  }

  &--link {
    padding: 14px 24px 13px 24px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $color-main-hover;

      &:active {
        background-color: $color-main-dark;
      }
    }
  }

  &--frontend {
    background-color: $color-frontend-primary;

    &:hover,
    &:focus {
      background-color: $color-front-end-hover;

      &:active {
        background-color: $color-frontend-dark;
      }
    }
  }

  &--testers {
    background-color: $color-testers-primary;

    &:hover,
    &:focus {
      background-color: $color-testers-hover;

      &:active {
        background-color: $color-dark-turquoise;
      }
    }
  }

  &--developers {
    background-color: $color-developers-primary;

    &:hover,
    &:focus {
      background-color: $color-developers-hover;

      &:active {
        background-color: $color-developers-dark;
      }
    }
  }
}
