@import '../base/mixins/typography-mixins';
@import '../base/mixins/media-queries';
@import '../base/mixins/radio-button-mixin';
@import '../base/mixins/checkbox-mixin';

.checkbox {
  $this: &;

  position: relative;

  &:hover {
    #{$this}__background::before {
      background-color: $color-form-hover;
      @include background-circle;
    }

    #{$this}__label::before {
      background-color: $color-form-hover;
    }
  }

  &__input {
    @include visually-hidden;

    &:disabled {
      & ~ #{$this}__label::before {
        background-color: $color-white;
        border: 2px solid $color-form-disabled;
        cursor: none;
      }

      & ~ #{$this}__background {
        cursor: none;
        display: none;
      }
    }

    &:focus {
      & ~ #{$this}__background::before {
        background-color: $color-form-focus;
        @include background-circle;
      }

      & ~ #{$this}__label::before {
        background-color: $color-form-focus;
      }
    }

    &:checked {
      & ~ #{$this}__label::after {
        display: block;
      }

      & ~ #{$this}__label::before {
        background-color: $color-main-primary;
        border: 2px solid $color-main-primary;
      }
    }

    &:disabled:checked {
      & ~ #{$this}__label::after {
        cursor: none;
        display: block;
      }

      & ~ #{$this}__label::before {
        background-color: $color-form-disabled;
        border: 2px solid $color-form-disabled;
      }
    }

    &:checked:focus {
      & ~ #{$this}__background::before {
        @include background-circle;

        background-color: $color-form-focus-checked;
      }
    }

    &:checked:hover {
      & ~ #{$this}__background::before {
        @include background-circle;

        background-color: $color-form-hover-checked;
      }
    }
  }

  &__label {
    @include semibold(18px, $grey-text-color);

    cursor: pointer;
    display: inline-block;
    height: 21px;
    line-height: 1.5;
    margin-bottom: 37px;
    padding: 0 0 0 54px;
    position: relative;
    user-select: none;

    &::before {
      background-color: $color-white;
      border: 2px solid $color-form-main;
      border-radius: 4px;
      content: '';
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 20px;
    }

    &--error::before {
      border: 2px solid $color-error;
    }

    &::after {
      border-bottom: 2px solid $color-white;
      border-left: 2px solid $color-white;
      content: '';
      display: none;
      height: 8px;
      left: 3px;
      position: absolute;
      top: 6px;
      transform: rotate(-45deg);
      width: 16px;
    }
  }

  &__background {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    user-select: none;
  }
}
