$color-black: #000;
$color-shadow-primary: rgba(0, 0, 0, 0.16);
$color-shadow-secondary: rgba(0, 0, 0, 0.03);
$color-surface: #f6f5f7;
$color-white: #fff;
$color-main-primary: #584dfc;
$color-main-dark: #3d3691;
$color-form-focus: #ededed;
$color-form-focus-checked: #e8e6ff;
$color-form-placeholder: #868686;
$color-testers-primary: #009b84;
$color-testers-accent-fill: #e7fdf7;
$color-testers-accent-fill-darker: darken(#e7fdf7, 15%);
$color-testers-shape: #e3fff6;
$color-dark-turquoise: #0b555f;
$color-testers-focused: darken($color-dark-turquoise, 10%);
$color-developers-primary: #4d8af0;
$color-developers-dark: #0048c1;
$color-developers-focused: darken($color-developers-dark, 10%);
$color-developers-accent-fill: #edf3fd;
$color-developers-accent-fill-darker: darken(#edf3fd, 15%);
$color-frontend-primary: #ed1d55;
$color-frontend-dark: #b40031;
$color-frontend-focused: darken($color-frontend-dark, 10%);
$color-frontend-accent-fill: #fde8ed;
$color-frontend-accent-fill-darker: darken(#fde8ed, 15%);
$color-incon-primary: #ecebfb;
$base-text-color: #212121;
$grey-text-color: #3e3c4e;
$color-text: #3e3c4e;
$color-surface: #f6f5f7;
$color-testers-shape: #e3fff6;
$color-developers-shape: #f0f6ff;
$color-frontend-shape: #fff4f6;
$color-form-main: #5c5c5c;
$color-form-hover: #f6f6f6;
$color-form-disabled: #d4d4d4;
$color-form-hover-checked: #f0efff;
$developers-illustration: #17bce3;
$testers-illustration: #1ce5af;
$frontend-illustration: #f22b70;
$color-error: #ff0753;
$color-error-hover: #c80031;
$color-input-label-hover: #6e6bfc;
$color-button-focus: #443bc4;
$color-main-dark: #3d3691;
