@import '../base/mixins/typography-mixins';
@import '../base/mixins/media-queries';
@import '../base/mixins/radio-button-mixin';

.radio {
  position: relative;
  $this: &;

  &__input {
    @include visually-hidden;

    &:disabled {
      & ~ #{$this}__label::after {
        background-color: $color-form-disabled;
      }

      & + #{$this}__label::before {
        background-color: $color-white;
        border: 2px solid $color-form-disabled;
        box-shadow: none;
        cursor: none;
      }
    }

    &:checked {
      & ~ #{$this}__label::after {
        background-color: $color-main-primary;
        display: block;
      }

      & + #{$this}__label::before {
        border: 2px solid $color-main-primary;
      }

      & + #{$this}__label:hover::before {
        background-color: $color-form-hover-checked;
      }
    }

    &:focus {
      & + #{$this}__label::before {
        background-color: $color-form-focus;
        box-shadow: 0 0 0 14px $color-form-focus;
      }
    }

    &:disabled:checked {
      & ~ #{$this}__label::after {
        background-color: $color-form-disabled;
        display: block;
      }

      & + #{$this}__label::before {
        border: 2px solid $color-form-disabled;
      }
    }

    &:checked:focus {
      & + #{$this}__label::before {
        background-color: $color-form-focus-checked;
        box-shadow: 0 0 0 14px $color-form-focus-checked;
      }
    }

    &:checked:not(:disabled) {
      & + #{$this}__label:hover::before {
        box-shadow: 0 0 0 14px $color-form-hover-checked;
      }
    }
  }

  &__label {
    @include semibold(18px, $grey-text-color);

    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 21px;
    line-height: 1.5;
    margin-bottom: 37px;
    padding: 0 0 0 52px;
    position: relative;
    user-select: none;

    &::before {
      background-color: white;
      border: 2px solid $color-form-main;
      border-radius: 50%;
      content: '';
      height: 16px;
      left: 0;
      position: absolute;
      top: 4px;
      width: 16px;
    }

    &:hover::before {
      background-color: $color-form-hover;
      box-shadow: 0 0 0 14px $color-form-hover;
    }

    &::after {
      background-color: $color-form-main;
      border-radius: 50%;
      content: '';
      display: none;
      height: 10px;
      left: 0;
      position: absolute;
      top: 4px;
      transform: translate(50%, 50%);
      width: 10px;
    }
  }
}
