@import '../base/functions';

.heading {
  color: $color-main-dark;
  font-family: $Montserrat;
  font-size: rem-calc(48px);
  font-weight: 700;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(32px);
  }

  @include mq-until(sm) {
    font-size: rem-calc(24px);
  }
}

.section-heading {
  color: $color-main-dark;
  font-family: $Montserrat;
  font-size: rem-calc(32px);
  font-weight: 600;
  margin-bottom: 35px;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(24px);
  }

  @include mq-until(sm) {
    font-size: rem-calc(20px);
  }
}

.subheading {
  color: $color-main-dark;
  font-family: $Raleway;
  font-size: rem-calc(20px);
  font-weight: bold;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(18px);
  }
}

.semibold {
  color: $color-white;
  font-family: $Raleway;
  font-size: rem-calc(18px);
  font-weight: 600;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(16px);
  }
}

.paragraph {
  color: $grey-text-color;
  font-family: $Raleway;
  font-size: rem-calc(18px);
  font-weight: 200;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  @include mq-until(md) {
    font-size: rem-calc(16px);
  }
}

.small-text {
  color: $color-main-dark;
  font-family: $Raleway;
  font-size: rem-calc(14px);
  font-weight: 200;

  &--testers {
    color: $color-dark-turquoise;
  }

  &--developers {
    color: $color-developers-dark;
  }

  &--frontend {
    color: $color-frontend-dark;
  }

  &--highlight {
    color: $color-main-dark;
    font-weight: 600;
  }
}

.form-error-message {
  color: $color-frontend-dark;
  font-family: $Raleway;
  font-size: rem-calc(12px);
  font-weight: 200;
}
