$z-indexes: (
  'wistia-player': (
    'modal': 10
  ),
  'header': 6,
  'video-view': (
    'mobile-view': 5,
    'controls': 3,
    'shapes': 2
  ),
  'schedule': (
    'slider-button-wrapper': 3,
    'dates': 3,
    'shape': 2,
    'after': 0,
    'before': 0
  ),
  'step-illustration': (
    'number-wrapper-text': 3,
    'number-wrapper': 2,
    'picture': 2
  ),
  'testimonials': (
    'carousel-back': 3,
    'carousel-button': 2,
    'carousel-container': 2,
    'title-wrapper': 2,
    'after': 0,
    'before': 0
  ),
  'academies-intro': (
    'content': 2,
    'controls': 2,
    'title': 2,
    'before': 0
  ),
  'academies-section': (
    'icon-wrapper': 2,
    'text': 2,
    'title': 2,
    'divider': 1,
    'before': 0
  ),
  'admission-section': (
    'shape': 2,
    'wrapper': 2,
    'after': 0,
    'before': 0
  ),
  'apply-section': (
    'image': 1,
    'wrapper': 1,
    'before': 0
  ),
  'dropdown': 1,
  'intro': (
    'content': 2,
    'controls': 2,
    'image': 2,
    'title': 2,
    'before': 0
  ),
  'media-section': (
    'heading': 1,
    'after': 0,
    'before': 0
  ),
  'not-found-background-shape': 2,
  'sourcery': (
    'controls': 2,
    'image': 2,
    'title': 2,
    'text': 2,
    'shape': 2,
    'before': 0
  ),
  'themes-picture': 2,
  'accordion-details': 1,
  'footer': 1,
  'media-grid': 1,
  'wave-background': 1,
  'step-section': (
    'column-content': 1,
    'pseudo-element': 0
  ),
  'checkbox-background-circle': -1
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@function get-z-index($keys...) {
  @return map-deep-get($z-indexes, $keys...);
}

@mixin z-index($keys...) {
  z-index: get-z-index($keys...);
}
